[2015-09-23 06:57] shersh opened #1 "CancellationTokenSource.Token"
public CancellationToken Token {
      get {
        return new CancellationToken(this);
      }
    }

It's bad to create new token every time in getter.

[2015-09-23 20:37] hallucinogen commented on #1
Thanks for the report. Although this seems very inefficient, the CancellationToken will still work properly. And this is compliant with Microsoft's `CancellationTokenSource`: http://referencesource.microsoft.com/#mscorlib/system/threading/CancellationTokenSource.cs,159

[2015-09-23 20:37] #1 closed

[2015-09-25 18:30] eduardocoelho opened #7 "java.lang.ClassNotFoundException: com.parse.ParsePushUnityHelper"
Hi folks,
I just upgraded my Unity project from Unity 4.6.x to Unity 5.2.0f3 and now I'm getting the following error on the console when running my app on Android devices:

[code]

I tried updating the Unity SDK (`Parse.Unity.dll`) from https://parse.com/docs/downloads as well as the Android SDK (`Parse-1.10.2.jar`, etc). However the missing class seems to be located in the `ParsePush.jar` mention

[2015-09-25 18:47] hallucinogen commented on #7
Hi Eduardo,

Have you tried only adding `ParsePush.jar`, and remove `Parse-1.10.2.jar` from your project?

[2015-09-25 19:10] eduardocoelho commented on #7
Yes, in this case the app crashes and the Android alert `Unfortunately, <app>  has stopped.` is shown as soon as the app launches.

If you extract `ParsePush.jar` you'll get:

[code]

and for `Parse-1.10.2.jar` you'll get:

[code]

Note that there are some `.class` files included in `ParsePush.jar` that are also included in `Parse-1.10.2.jar`.

[2015-09-25 19:38] hallucinogen commented on #7
Yes, it's intended that `ParsePush.jar` to only contain the minimum amount of classes that allows the Unity SDK to receive a push notification. You will not need `Parse-1.10.2.jar.` from the Android SDK. Or to be precisely, adding both `ParsePush.jar` and `Parse-1.10.2.jar.` will break the app.

When you only use `ParsePush.jar` what's the error shown in ADB LogCat after the `Unfortunately, <app>

[2015-09-25 19:48] eduardocoelho commented on #7
Thanks for the response @hallucinogen .
I haven't seen any output using the usual `adb logcat -s "Unity"` command, but I can try it again.

Note, however, that my application also uses Parse to retrieve application data from Parse Core (ParseQuery, etc.). In this case looks like removing `Parse-1.10.2.jar` would not be the way to go.

If I keep `Parse-1.10.2.jar` on the project, the application ru

[2015-09-25 19:52] hallucinogen commented on #7
If you use the Unity project and write your code in C#, you can remove `Parse-1.10.2.jar` and just the `Parse.dll` inside `Assets`. Take a look at our starter project: https://github.com/ParsePlatform/Parse-SDK-dotNET/tree/master/Parse.StarterProjects/CSharp/ParseUnityPushSample (or download it with the exact `.dll` here https://parse.com/downloads/windows/ParseUnityPushSample-CSharp/latest

[2015-09-25 20:38] eduardocoelho commented on #7
Thanks @hallucinogen.
My current project structure mimics the `ParseUnityPushSample` project, it can be built and deployed to the android device.

However, now I'm getting the following error:

[code]

The C# code the invokes this native code is as follows:

[code]

Looks like removing the `Parse-1.10.2.jar` and just using `Parse.dll` inside Assets/Parse caused the `java.lang.ClassNotFoundExceptio

[2015-09-25 21:11] hallucinogen commented on #7
That's very interesting. Yes, `ParsePush.jar` doesn't have `ParseInstallation`. You can directly call this from C#

[code]

[2015-09-25 22:23] Nick-Graveck opened #8 "NullReferenceException at Parse.PlatformHooks.Initialize ()"
Unity 5.2.1p1
Parse.Unity SDK 1.6.0

Built with Mono2x backend and "Strip Byte Code" stripping level.  While running in Xcode I get the following error:

NullReferenceException: A null value was found where an object instance was required.
  at System.Reflection.MonoProperty.CreateGetterDelegate (System.Reflection.MethodInfo method) [0x00000] in <filename unknown>:0
  at System.Reflection.MonoProp

[2015-09-26 21:55] bbartlett opened #9 "SignUpAsync with invalid email address yields no exception but creates invalid ParseUser.CurrentUser"
Specifying an invalid email address in ParseUser.SignUpAsync() does not throw an exception (nor is the user actually saved in the _User class, although this is as expected). However, it _does_ set ParseUser.CurrentUser to a non-null value but where the ParseUser object is in an invalid state, where among other things, its ObjectId is set to NULL.

Example code:

 var parseUser = new ParseUser () {

[2015-09-26 22:30] bbartlett commented on #9
Update to the above: The problem is actually that in Parse 1.6.0 (in .NET iOS version), ParseUser.SignUpAsync() never throws ANY exceptions, regardless of the problem (such as a user already existing).  Will open a separate issue.

[2015-09-26 22:30] #9 closed

[2015-09-26 22:34] bbartlett opened #10 "iOS SDK v1.6.0 breaking bug: ParseUser.SignUpAsync() never throws any exceptions, even on bad data or duplicate users"
In the v1.6.0 Parse SDK for iOS (from nuget), ParseUser.SignUpAsync() no longer throws any exceptions, even on bad data or duplicate users.  Using TodoParseAuth as a test, in v1.5.5, exceptions are thrown for things like invalid email addresses ( eg: ".@here.com") or users already existing, but as of the 1.6.0 update, exceptions are no longer thrown.  Code simply passes through to the next line, w

[2015-09-27 08:27] hallucinogen commented on #8
Hi Nick,

Thank you for your report. We'll investigate this issue further and will let you know if there's any progress/fix.

[2015-09-28 04:37] hallucinogen commented on #10
Hi @bbartlett,

Thank you for your report. This seems like a valid bug. We'll investigate this issue further and will let you know if there's any progress/fix.

[2015-09-28 10:02] birdkingz opened #11 "InvalidSessionToken error doesn't return correctly in iOS"
I tried to simulate InvalidSessionToken scenario in Unity Editor and it does return the error code correctly.
When I try to build on iOS, it just return 400 OtherCause.
Why does it working on Unity Editor but not on iOS ?

[2015-09-28 10:21] birdkingz commented on #11
I noticed it has been fixed in Unity 5.2

[2015-09-28 10:21] #11 closed

[2015-09-28 14:31] eduardocoelho commented on #7
Thanks @hallucinogen I replaced my native plugins (iOS and Android) in favor of the C# API.
My implementation become then:

[code]

[2015-09-28 16:16] eduardocoelho commented on #7
Thanks for the reply @hallucinogen.
I replaced my native plugins (iOS and Android) in favor of the C# API, e.g.:

[code]

However, I'm still getting the following error (right on the Unity Editor Console):

[code]

Looks like `ParseInstallation` still does not work. I'm using Unity 5.2.0f3 and Parse 1.6.0. I'll try to install Unity patch `5.2.1p1`...

[2015-09-28 17:44] eduardocoelho commented on #7
I updated Unity to `5.2.1p1`, no luck. I still get the:

[code]

Maybe I should create another thread for this problem since it's not related to `java.lang.ClassNotFoundException: com.parse.ParsePushUnityHelper`.

[2015-09-28 18:13] alanmgfb opened #12 "Unity doesn't support choosing Push Icon. Necessary for Android SDK >= 21"
This is a Feature Request received from the Facebook Bug Tool:
Setting
<meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/push_icon"/>

In the AndroidManifest of a Unity project doesn't actually change the icon.
This developer is complaining because the Android guidelines for Lollipop require

Full context here: https://developers.facebook.com/bugs/4203506948355

[2015-09-28 18:16] alanmgfb opened #13 "Unity webplayer SecurityException with ParseUser.LoginInAsync when not connected to the internet."
Running ParseStarterProject on Unity 5.x without network results in the following error:

SecurityException: No valid crossdomain policy available to allow access
UnityEngine.WWW.get_text ()
Parse.PlatformHooks+<>c__DisplayClass3c+<>c__DisplayClass42.<RequestAsync>b__36 (UnityEngine.WWW www)
Parse.PlatformHooks+<>c__DisplayClass24.<RegisterNetworkRequest>b__23 ()
Parse.PlatformHooks+<RunDispatcher

[2015-09-28 19:28] eduardocoelho commented on #7
I tried downloading previous versions of the Parse Unity SDK (1.5.5, 1.5.4, 1.5.3, 1.5.2, 1.5.1).
The previous versions does not have the `can only be called from the main thread.` error, however if I look in the `_Installation` entity in the Parse dashboard the `timeZone` column isn't filled.

I'm really having a hard time using Parse and Unity5.
The only working solution I've found so far was us

[2015-09-28 21:02] richardjrossiii commented on #10
Valid bug. Thanks for finding this! Sending a PR shortly.

[2015-09-28 21:36] hallucinogen commented on #7
Sorry for the inconvenience. This seems like a valid bug. We'll try to fix it and let you know how it goes.

[2015-09-28 21:52] #10 closed

[2015-09-28 22:33] Nick-Graveck opened #16 "get_bundleIdentifier can only be called from the main thread during a SaveAsync() call"
Unity 5.2.1p1 (OSX Editor)
Parse 1.6.0

While executing the following code in the editor:

[code]

The ParseObject is not saved to the database and the editor console has the following output:

[code]

[2015-09-28 22:34] hallucinogen commented on #16
Thanks for the report. This should be fixed in #15

[2015-09-29 18:04] kostub opened #17 "Unexpected exception when loading ParseConfig"
Sometimes we get an `InvalidOperationException` when loading `ParseConfig`. The full stack trace is below (unfortunately no line numbers). This happens in production and we don't have a consistent repro for it:

The code that results in the exception is as follows:

[code]

Seems like an internal issue with `Json.Encode`

`System.InvalidOperationException` Collection was modified; enumeration oper

[2015-09-29 18:08] richardjrossiii commented on #17
Thanks for the report. It would appear that this is a version of the SDK that is several versions old, based on the stack trace you have posted. Would you be willing to try with the latest version of the SDK and see if the issue persists?

[2015-09-29 18:23] kostub commented on #17
We are using 1.5.5. I see that 1.6.0 came out most recently, we'll try it
out with that version, though it will take a few weeks before we can get a
new version of the app out.

Looking through the code it seems like some kind of threading issue.

-kostub

On Tue, Sep 29, 2015 at 11:08 AM, Richard Ross <notifications@github.com>
wrote:

[2015-09-29 18:32] richardjrossiii commented on #17
That is my assumption as well. We changed some of the details about how we do thread safety for  Config before the 1.6.0 release, and fixing this bug may have been a side effect.

[2015-09-29 20:04] #16 closed

[2015-09-29 21:22] hallucinogen commented on #7
Hi @eduardocoelho, we have fixed the issue in #15 and the fix will be included in 1.6.1. We'll try to build 1.6.1 SDK as soon as possible. Feel free to reopen the bug if the problem persists.

[2015-09-29 21:22] #7 closed

[2015-09-30 05:38] DavePilks opened #18 "ParseFacebookUtils issue"
I am looking through the documentation for the ParseFacebookUtils class and I see that there is a method that can be used to login the user in with their Facebook ID and token. This is great and exactly what I want.

However, when I looked further into the documentation, I saw this

This is a deal breaker for me. Is there no way to disable this and simply show that the user was not authenticated?

[2015-09-30 11:59] clairernovotny opened #19 "Suggestion: Use a reference assm with different platform impls"
As described in your blog post, you use reflection to locate a platform specific helper assembly. Instead, a simpler pattern would be to generate a PCL with the common surface area (everything #ifdef'd out, etc), and then generate the full assembly as platform-specific but with the same name. NuGet would ensure projects get the right references

For example
- Parse.dll (PCL)
- Parse.dll (NetFx)
-

[2015-09-30 20:07] animepauly opened #20 "FormatException: Input string was not in the correct format at Parse.Internal.HttpClient > GetStatusCode"
Using Parse Unity SDK 1.6.0 and Unity 5.2.1

When my app doesn't have internet connectivity and the app is trying to fetch data using FetchAsync(), I am getting the error "FormatException: Input string was not in the correct format" at Parse.Internal.HttpClient > GetStatusCode every time.

I am trying to write functionality if fetching of data fails, I test internet connectivity and if the connect

[2015-09-30 20:16] animepauly commented on #18
I am not affiliated with Parse, just a developer, BUT I am unsure as to your problem. Are you saying that you think Parse creates a new user on a failed Facebook login? You want them to create a new user if they don't exist so not sure what's exactly the problem. That being said, I have been using Parse for over a year and what you do for logging in with Facebook is this.

Have a Facebook login bu

[2015-09-30 22:01] mgravelle commented on #8
@hallucinogen: Thanks for looking into this.  We're up against a tight release deadline, and am wondering if there's anything we can do to help explore/expedite this issue.  Thanks!

[2015-09-30 22:08] richardjrossiii commented on #18
@animepauly is correct, that is the flow that we document and support. If you can provide a logical use case for the other work flow, we can definitely discuss it as a team and see if supporting that use-case makes sense for our SDKs.

[2015-09-30 22:10] richardjrossiii commented on #20
Thanks for the report. This sounds strange, we'll look into it.

[2015-10-01 09:09] DavePilks commented on #18
Perhaps I didnt express myself, the issue that I was trying to describe was the one highlighted by @animepauly in his final paragraph.

This line from the documentation

suggests that if they do not have a linked FB account but do have a Parse username and password, then a new User entry is created. Is there a way to detect this and prevent it? Basically forcing them to log in with their Parse det

[2015-10-01 11:41] animepauly commented on #20
Great, thanks!

[2015-10-01 22:15] #20 closed

[2015-10-02 05:45] cfoulston opened #22 "Parse 1.6.0 Unity: get_bundleIdentifier can only be called from the main thread."
Hi, after upgrading to the 1.6.0 SDK for Unity, I'm getting this error after calling a CloudCode method

Full exception:

	ArgumentException: get_bundleIdentifier can only be called from the main thread.
	Constructors and field initializers will be executed from the loading thread when loading a scene.
	Don't use this function in the constructor or field initializers, instead move initialization c

[2015-10-02 05:53] hallucinogen commented on #22
Thank you for your report! This will be fixed in #15.

[2015-10-02 05:53] #22 closed

[2015-10-02 15:21] animepauly commented on #20
Is this fixed in the Unity SDK then, do I download the update from this repo, or do I have to wait until you update the SDK in Parse?

[2015-10-03 00:26] hallucinogen commented on #20
You'll have to wait until 1.6.1 build which should  happen sometime around next week.

[2015-10-05 23:08] hallucinogen commented on #8
After further investigation, we can't repro this issue. The starter project at least works just fine under
Unity 5.2.1f1
Mono2x backend
.NET 2.0 Subset
Both simulator and device (iPhone 5S, iOS 9)

Can you try stripping all the code until only Parse initialization and see if it works on yours, too?

[2015-10-06 10:09] Joseph-LeGrice opened #23 "AndroidJavaException: java.lang.ClassNotFoundException: com.parse.ParsePushUnityHelper"
The blank 1.6 SDK project is throwing this error on resume when using Unity 5.2.0f3.

Here's a repro project: https://drive.google.com/file/d/0B_RmRasnBaSiSUdSMzBHeFJfbG8/view?usp=sharing

Callstack:
    10-06 11:00:45.071  10732-10767/? I/Unity﹕ AndroidJavaException: java.lang.ClassNotFoundException: com.parse.ParsePushUnityHelper
    at UnityEngine.AndroidJNISafe.CheckException () [0x00000] in <

[2015-10-06 10:11] Joseph-LeGrice commented on #23
Just seen the closed report. Glad to here a fix is on its way....

[2015-10-06 10:11] #23 closed

[2015-10-06 10:25] Joseph-LeGrice commented on #23
I would recommend including ParsePush.jar in the Parse 1.6 SDK download to avoid confusion with developers in the future

[2015-10-06 15:25] Nick-Graveck commented on #8
I've downloaded the latest code release here and used that in my build, and this issue seems to have gone away.

[2015-10-07 00:03] #8 closed

[2015-10-08 01:43] eloyer opened #24 "Unity SDK fails when run on tvOS"
The following error occurs when running the app:

UnauthorizedAccessException: Access to the path "/Parse.settings" is denied.
  at System.IO.MonoIO.GetFileType (IntPtr handle, MonoIOError& error) [0x00000] in <filename unknown>:0
  at System.IO.FileStream..ctor (System.String path, FileMode mode, FileAccess access, FileShare share, Int32 bufferSize, Boolean anonymous, FileOptions options) [0x0000

[2015-10-08 18:48] richardjrossiii commented on #24
Thanks for the report! Seeing as tvOS is still currently in beta, it's not currently one of our supported platforms, yet.

We will keep this issue open for when we do support tvOS, though.

[2015-10-08 19:50] santacrs opened #25 "ParseCloud.CallFunctionAsync doesn't always return"
We are noticing sometimes that ParseCloud.CallFunctionAsync doesn't always return when internet is bogged down or reception is low on the device. The cloud call works most of the time but it does just sit there forever on occasions. One the app is restarted then it start functioning again.

The function we are calling is just returning static data from some tables so the amount of data and time to

[2015-10-09 09:03] andreiasandei opened #26 "PlatformHooks.AppName getter blocks indefinitely because of a deadlock"
When the AppName getter calls result.Task.Wait(), this blocks the calling thread, which is the UI thread in this case. When the await Package.Current.InstalledLocation.GetFileAsync("AppxManifest.xml") call finishes, it will attempt to run its continuation on the UI thread, but this thread is blocked waiting for the toRun method to finish, which results in a deadlock.

This is better explained here

[2015-10-09 09:51] andreiasandei opened #27 "NullReferenceException raised when a push notification is received"
When the client app does not register to the ParsePush.PushNotificationReceived event, when a push notification is received, the event is fired, but since no-one had registred, it is null and a NullReferenceException is thrown on this line: PushNotificationReceived(ParseInstallation.CurrentInstallation, args);

The code should read something like this:

var handler = PushNotificationReceived;
if (

[2015-10-09 18:41] richardjrossiii commented on #26
Thanks for the report! It would appear you are correct, but the good thing is that this only applies to tasks awaited on with the `await` keyword, which we don't use in the main parts of the SDK.

I'll submit a PR shortly that cleans up all our usages of await.

[2015-10-09 19:12] richardjrossiii commented on #25
Seems to me like this is a bug in Unity's network stack, as we don't do anything specific related to network connectivity in the SDK.

If you can provide some example code that shows us that this issue is in our SDK and not Unity's, I'd be glad to help. Otherwise, there's unfortunately not much we can do.

[2015-10-09 19:16] kostub opened #29 "ArgumentException when saving a record which has two pointers to the same object."
I am trying to save a ParseObject and I run into the following issue:
[code]

This happens consistently in the debugger and looking through the code it seems to create a mapping of objectId -> Object for all fetched objects.

My structure is as follows:
[code]

So both the `collaborators` and `allCollaborators`fields point to the same object and this is causing the exception. Not sure what's the b

[2015-10-09 19:27] #26 closed

[2015-10-09 20:15] #27 closed

[2015-10-09 20:16] richardjrossiii commented on #29
Thanks for the report! Seems fairly straightforward, I'll look into it.

[2015-10-09 21:17] #29 closed

[2015-10-10 06:48] santacrs commented on #25
It's a concern that for some users the app will remain on a loading screen indefinitely.  We will attempt to implement our own timeout checks for calls we find it occurs on. We plan on reattempting the call after 10 seconds if the return function is not reached in that time frame. Time will tell if it resolves the issue as it is difficult to reproduce. However, there are many locations this may oc

[2015-10-10 16:44] rihadavid opened #32 "ParseUser.CurrentUser deadlock"
After updating to Parse.iOS 1.6, calling ParseUser.CurrentUser causes 10-30 seconds deadlock on first call - I can't do anything, UI doesn't respond even when I call this in background. After 10-30 seconds it returns null which is right (I'm not and was not logged in, clear installation).

I suppose it doesn't matter, but: I am calling this in UIViewController's ViewWillAppear() method. This contr

[2015-10-11 19:44] johnthiriet opened #33 "Cross-thread access exception on the UI thread on Xamarin.iOS"
There's a UI cross-thread access exception silently happening on iOS.

I managed to fix the issue locally by modifying the following code :

From
    public Task ExecuteParseInstallationSaveHookAsync(ParseInstallation installation) {
      return Task.Run(() => {
        installation.SetIfDifferent("badge", installation.Badge);
      });

To

    public async Task ExecuteParseInstallationSaveHookA

[2015-10-11 20:17] SaIG commented on #24
Ran into the same thing ... would love to ship my Unity Apple Tv game with parse support! If you need more information that helps tackle this issue / new platform just say the word ;)

[2015-10-12 07:51] armintelker opened #34 "Can not install Parse 1.6.0 nuget package"
Hey
i try to install the nuget [Parse 1.6.0](https://www.nuget.org/packages/parse/1.6.0) with `Xamarin Studio for Mac 5.9.7 (build 22)` on `Mac OS X 10.10.5 El Capitan` for a Android Solution with `Target Android Version 22`.

The Package Console show me this error:
[code]

[2015-10-12 07:52] gusennan commented on #34
:+1:

[2015-10-12 08:05] andreiasandei commented on #27
The issue is not fixed. A null check is also needed when raising the PushNotificationReceived event on line 19, otherwise an uncaught NullReferenceException is still raised.

[2015-10-12 18:39] richardjrossiii commented on #34
Just tested on OS X 10.11, Xamarin 5.10 (build 811), and it works for me:

<pre>
Adding parse...
Downloading parse 1.6.0...
Installing 'parse 1.6.0'.
Added file 'Parse.WinRT.dll' to folder 'parse.1.6.0/lib/netcore45'.
Added file 'Parse.WinRT.xml' to folder 'parse.1.6.0/lib/netcore45'.
Added file 'Parse.dll' to folder 'parse.1.6.0/lib/netcore45'.
Added file 'Parse.xml' to folder 'parse.1.6.0/lib/ne

[2015-10-12 18:47] richardjrossiii commented on #32
A stack trace would be super helpful here, I think. If you can manage to get us one, or a project that reproduces the issue, that would be great.

[2015-10-12 18:50] richardjrossiii commented on #33
I'm not sure exactly what you're referring to, unfortunately. Are you referring to continuing on that task, and that callback not happening on the UI thread? If so, you should do a continuation with a specific `TaskScheduler` that calls back onto the UI thread.

AFAIR, Our documentation makes no guarantees in terms of which thread asynchronous callbacks are invoked on, and it's up to you to make s

[2015-10-12 19:35] Blueteak commented on #24
Yes please! Would be nice to be able to use a parse backend for tvOS applications that we plan on releasing near launch of AppleTV

[2015-10-12 20:18] johnthiriet commented on #33
Hi, thanks for the answer.
Reproducing the issue is simple and just consists in taking the Xamarin.iOS sample :
https://www.parse.com/downloads/windows/ParseXamarinPushSample-CSharp/latest

Beside inserting the necessary API keys to use Parse, I made no modification whatsoever to the project.

Using the latest version of the Parse SDK, the call to ParseClient.Initialize doesn't complete successful

[2015-10-12 20:43] richardjrossiii commented on #33
Ah, that makes a lot more sense now. I'll create a PR shortly to fix our usage of it here. Thanks for your help!

[2015-10-12 22:13] #33 closed

[2015-10-12 23:47] rihadavid commented on #32
It's not happening anymore, but I did not change a thing, just downloaded the solution again and reinstalled nuget (but I did clean&rebuild and nuget reinstall before and it did not help) .. strange. If I encounter the issue again I will try to give you the stacktrace for sure. Thanks for now

[2015-10-12 23:55] rihadavid commented on #32
Oh sorry, in the previous post I tried with 1.5.5 - now with 1.6.0 the issue is here again (on iPhone 4 iOS 7.1.2 device!) and here is the stack trace, hope it helps:
2015-10-13 01:52:15.141 AppNameiOS[5484:60b]    at AppName.iOS.Controllers.HomeViewController+<Appear>d__42.MoveNext()
2015-10-13 01:52:15.156 AppNameiOS[5484:60b]    at System.Runtime.CompilerServices.AsyncMethodBuilderCore.Start(Ap

[2015-10-13 07:09] gusennan commented on #34
@richardjrossiii -- how did you add it to the project?  What further information would be helpful to have?

<img width="1403" alt="1" src="https://cloud.githubusercontent.com/assets/624632/10447929/f45f733e-7188-11e5-9585-8821181bad78.png">

<img width="1404" alt="2" src="https://cloud.githubusercontent.com/assets/624632/10447931/f954fc92-7188-11e5-98ee-799a282f486e.png">

Not sure if it helps, bu

[2015-10-13 10:55] packedbox opened #36 "Unity 5.2.1f iOS Push notification Exception"
Hi i'm integrating parse in my Unity Project, Object creation works fine but I'm having some trouble with the push notification, the device never seem to register with the server on iOS.
using 5.2.1p3

Using ilcpp backend, Link.xml is located in the Asset's folder root.

<pre>
ExecutionEngineException: Attempting to call method 'System.Reflection.MonoProperty::StaticGetterAdapterFrame' for which n

[2015-10-14 00:21] richardjrossiii commented on #36
This seems really strange. It would appear that this might be an IL2CPP bug. I'll see what I can figure out.

[2015-10-14 12:28] armintelker commented on #34
I can fix that:

Write this line in your Android package.config (lowercase parse if it is already there)
[code]
Restart Xamarin Studio or reopen you project.
Go to References and remove `Parse.Android` if it is linked.
Go to Edit References -> .Net Assembly -> Browse
Add the Reference : `ProjectFolder/packages/parse.1.6.0/lib/MonoAndroid/Parse.Android.dll`

Now it should work.

[2015-10-14 14:00] gusennan opened #37 "Do Parse Push Notifications work when app is in background?"
We have been following the Parse for Xamarin Android tutorial as shown in this repository:

https://github.com/ParsePlatform/PushTutorial

And in the parse.com website tutorial.  Push notifications work just fine when the app is open, but as soon as the app is put into the background or is closed no push notifications are registered.  To see if this was a .NET SDK issue or a parse issue, we also w

[2015-10-14 18:38] richardjrossiii commented on #37
I'm not sure I have the context to answer this one. @hallucinogen or @grantland, do either of you know the status of .NET background push?

[2015-10-14 23:36] cfoulston opened #38 "Returning object from cloud missing Dates "createdAt" and "updatedAt""
Just started getting some errors today. When parsing the Date in "ParseDecoder.ParseDate", input is null. Which results in an exception at "DateTime.ParseExact" "s or format is null."

After adding some logging to the methods calling "ParseDecoder.ParseDate", specifically - "ParseObjectCoder.Decode":

	DateTime? createdAt = extractFromDictionary<DateTime?>(mutableData, "createdAt", (obj) => {
		re

[2015-10-14 23:48] richardjrossiii commented on #38
This was a regression in the JS SDK release 1.6.0, and was fixed in 1.6.1 AFAIK. If you update the version of parse in your cloud code, it should start working again.

I'm closing this issue, but feel free to reopen it if the problem persists.

[2015-10-14 23:48] #38 closed

[2015-10-15 00:18] cfoulston commented on #38
Ok Thanks, but how do you update the version of parse in cloud code?

when I type: "parse jssdk -a" it says I'm on the latest

if I change to "parse jssdk 1.6.1" it changes, but the problem still exists.

[2015-10-15 05:42] iamdain commented on #36
Bumping this! We're getting exactly the same exception being thrown. Unity 4.6.8, Xcode 7.0. Building with IL2CPP.

Really hoping to get fixed for a game update due to crashes, hope you can find something @richardjrossiii , we'll look into it too. Thx.

[2015-10-15 07:53] santacrs commented on #12
Our Unity game that uses parse push notification has been selected for Google featuring nomination and this issue has been flagged as a must fix before featuring. If this is not fixed soon it will prevent us from being featured by Google.  Has there been any news with regards to resolving this?

[2015-10-15 11:49] iamdain commented on #36
Update - iPad Air and iPhone 6 have the issue, 4S and iPad 3 do not. Suspect it might only affect 64bit devices.

[2015-10-15 11:52] iamdain commented on #36
A trace from one of our devices:

Version: 1.0
OS: 7.0.4
Model: iPad4,2
Date: Thu Oct 15 11:14:29 GMT+11:00 2015

ExecutionEngineException: Attempting to call method 'System.Reflection.MonoProperty::StaticGetterAdapterFrame' for which no ahead of time (AOT) code was generated.
  at System.Reflection.MonoProperty+GetterAdapter.Invoke (System.Object _this)
  at System.Reflection.MonoProperty.GetValu

[2015-10-15 12:16] armintelker commented on #37
have the same issue

[2015-10-15 18:35] richardjrossiii commented on #36
Hey guys, just to give you an update -

The core issue is that unity does not export `System.Runtime.Reflection.PropertyInfo` for types compiled AOT using IL2CPP.

As a result, our code for dynamically determining whether the application was compiled using Unity 4 or 5 does not work (relevant LOC: https://github.com/ParsePlatform/Parse-SDK-dotNET/blob/master/Parse/PlatformHooks.Unity.cs#L1064-L110

[2015-10-16 15:12] packedbox commented on #36
Hi Richards, thanks for your answer.
You might as well create two projects/dlls and code for Unity4 and Unity5
In my experience using a lot Reflection is often a source of trouble with Unity and it is only getting worse with IL2CPP.

[2015-10-16 15:47] cbramley opened #39 "Meta data tag to set push icon not honoured"
To set a custom push icon the SDK docs require adding the following meta data tag to the manifest within the `<application>` tag.

`<meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/icon"/>`

In this version of the SDK no check is made for the presence of that metadata, so only the launcher icon is ever set.

See `IconId` in https://github.com/ParsePlatform/Par

[2015-10-16 19:50] zakhej opened #40 "Unity SDK, iOS build. "Cannot change the appIdentifier" error"
Hi guys!

I have a problem with Unity SDK when launching XCode project:

[code]

It's not a fatal error - app still working but I think it shouldn't be there.
All that I doing is:

[code]

[2015-10-16 20:22] richardjrossiii commented on #40
Thanks for the report. This is a valid bug, working on a PR now.

[2015-10-19 16:03] hallucinogen commented on #37
I should. Let me investigate.

[2015-10-20 00:28] richardjrossiii commented on #39
Thanks for the report! This appears to be a duplicate of #12.

[2015-10-20 00:54] richardjrossiii commented on #39
Misread the question. This is indeed an issue with the SDK on Xamarin for android.

[2015-10-20 06:59] gusennan commented on #37
@hallucinogen Please let me know if there's any additional information I could provide.

[2015-10-20 14:04] andymads opened #44 "[Unity] NotificationServices.RegisterForNotifications causing NullReferenceException in Parse?"
I've started getting a NullReferenceException somewhere in Parse but I don't think it's caused by something I'm explicitly doing.

I believe it occurs when I register for notifications in Unity because as soon as I make this call it occurs.

NotificationServices.RegisterForNotifications(NotificationType.Alert|NotificationType.Badge|NotificationType.Sound);

I get this printed in the output just be

[2015-10-20 19:16] santacrs commented on #25
So far the time out check we added seems to have resolved the issue. It would be great if this was implemented as part of the SDK so the I don't have to add this time out logic for each CallFunctionAsync call that we make in the code. If just basically reattempts the call if more than 10 seconds pass without the callback function being triggered.

[2015-10-20 19:34] richardjrossiii commented on #25
@santacrs I'm not sure how we can do that, as each of our REST requests that we make are intended to have side-effects (and cannot be easily cancelled/reverted), re-sending the request could cause a lot of unforeseen issues.

I would strongly suggest filing a bug with the Unity folks instead, as it seems there's a fundamental flaw with their underlying web request library.

[2015-10-20 19:42] richardjrossiii commented on #44
Thanks for the report. It would appear that unity is returning null for `CultureInfo.CurrentCulture`, which is super weird. I'll look into it.

[2015-10-20 19:52] santacrs commented on #25
I can't speak to the underlying cause.

I can see an automatic reattempt being an issue if it's modifying data but if it's retrieving data as we are it either returns the data or it doesn't. A safer option is just have it force the callback with an exception/error state if the timeout occurs and then the developer can handle the scenario as needed.

[2015-10-21 00:36] richardjrossiii commented on #44
I just tested on iOS 8.4 with Unity 5.2.1, and I have been unable to reproduce this crash.

Would you mind sharing more information about the devices you're seeing these crashes on, and what version of Unity you're using?

[2015-10-21 06:16] hallucinogen commented on #37
I've confirmed that this is a valid bug. Creating a PR to fix it.

[2015-10-21 08:03] andymads commented on #44
Ok, more info.

Firstly, my device is running iOS 9.0.1 and I'm using Unity 5.2.1p4.

Also the issue is not a crash, just an exception being logged, and the app continues to run. And I'm now sure it's caused by the call to NotificationServices.RegisterForNotifications.

However, I've just updated to Parse 1.6.1 from 1.5.5 and now I don't get the exception but I do get some interesting messages ins

[2015-10-21 08:36] Matthius opened #46 "Parse.dll 1.6.0 does not have a strong name and unable to sign it myself"
It appears Parse.dll and Parse.NetFx45.dll from the .net 4.5 package do not have a strong name.

I have followed this guide to sign it personally: http://ryanfarley.com/blog/archive/2010/04/23/sign-a-.net-assembly-with-a-strong-name-without-recompiling.aspx

But I still have this exception when launching my app:

 StackTrace:    at System.RuntimeTypeHandle.GetTypeByName(String name, Boolean throwO

[2015-10-21 20:46] #39 closed

[2015-10-22 16:31] hallucinogen commented on #46
This is a valid issue. I'll fix the internal deploy script to re-sign the lib. There'll be no PR since it's an internal script. You can expect this to be fixed in `1.6.2`

[2015-10-23 01:09] cecilphillip opened #47 "Xamarin Forms Support"
Are there any plans to support Xamarin Forms PCL projects ?

[2015-10-23 07:56] Matthius commented on #46
Ok nice! Thanks for that! :)

[2015-10-24 00:15] hallucinogen commented on #47
Definitely! The feature has been in the queue for a while, but we currently are not actively working on it. We can bump the priority if there're more people looking forward to it.

[2015-10-24 12:28] BharatBhushan73 opened #48 "How can I recover all data from parse website"
I lost data from My system even i don't have a backup of it. How can i recover data from parse.

[2015-10-24 13:41] packedbox commented on #36
Same Problem with Unity 5.2.2 and parse 1.6.1
I don't think any of your fix made to the 1.6.1

if I build the Dll from using the latest commits I manage to have this error instead :
KeyNotFoundException: The given key was not present in the dictionary.
  at System.Collections.Generic.Dictionary`2[System.String,System.Object].get_Item (System.String key) [0x00000] in <filename unknown>:0
  at Parse

[2015-10-24 14:29] cecilphillip commented on #47
I think more people (myself included) are building on and starting with Xamarin Forms. One of the reasons I even considered using Parse was the fact that I was it advertised Xamarin support. Supporting Xamarin Forma would open your service up to the grounding community of cross platform mobile devs

[2015-10-26 14:03] gusennan commented on #37
Hey @hallucinogen @armintelker

We'd love to help or know when we might be able to expect a working implementation.  Alternatively, is there a workaround (like an older version of the sdk) that we might be able to use so that we could make some progress on our app.  If the bug, as reported, is a valid bug and doesn't allow background pushes, which I think it is, it's blocking us from including pus

[2015-10-26 14:59] hallucinogen commented on #48
Your question seemed to be related to product usage and not specific to .NET SDK. Feel free to reopen if it eventually becomes related to .NET SDK.

[2015-10-26 14:59] #48 closed

[2015-10-26 18:03] esfilho opened #49 "ParsePush.subscribeAsync("") throwing TargetInvocationException on Windows Phone 8"
I'm using VS Express for Windows Phone 2012 to develop my Windows Phone 8 apps.
I followed the WP8 quickstart guide and did everything right.

I'm using the latest relaease (1.6.1).

Here is my code:

[code]

Any ideas why it's throwing the Exception?

[2015-10-26 18:05] richardjrossiii commented on #49
Can you perhaps post the stack trace of the exception here?

[2015-10-26 18:16] esfilho commented on #49
Sure, sorry about that.

[code]

[2015-10-27 02:41] #17 closed

[2015-10-28 08:42] andymads commented on #44
I have provided more info. Please respond.

[2015-10-28 10:39] andymads opened #50 "Does ParseUser.CurrentUser block?"
Does ParseUser.CurrentUser block?

Here's the code for the property.

`public static ParseUser CurrentUser
{
    get
    {
        Task<ParseUser> currentUserAsync = ParseUser.GetCurrentUserAsync ();
        currentUserAsync.Wait ();
        return currentUserAsync.Result;
    }
}`

Presumably the Wait call can cause a delay?

Is there a way to determine whether there's a current user logged in wi

[2015-10-28 12:41] #34 closed

[2015-10-28 13:43] hahdouken commented on #40
Hi, I'm getting a similar error:

    InvalidOperationException: Cannot change the `appVersion` property of a `_Installation` object.
      at Parse.Internal.MissingExtensions+<>c__DisplayClass1..ctor () [0x00000] in <filename unknown>:0
      at Parse.ParseObject.CheckKeyIsMutable (System.String key) [0x00000] in <filename unknown>:0
      at Parse.ParseObject.Remove (System.String key) [0x00000]

[2015-10-28 17:47] hallucinogen commented on #50
Hi @andymads, thanks for your report.

`ParseUser.CurrentUser` will block on some platforms (like Unity iOS), but it will work on some others (like WinRT). We're currently looking for a good fix for this.

Currently, there's no fix for this. The fastest and probably something that we want to do in the future is to publicize `ParseUser.GetCurrentUserAsync()`

What do you think @grantland, @nlutsenk

[2015-10-28 17:51] hallucinogen commented on #12
Hi there,

This is fixed in Xamarin. We're going to make an internal changes on ParsePush.jar to make it happen on Unity. There'll be no PR sent for this. This should be fixed in .NET SDK 1.6.2

[2015-10-28 18:05] hallucinogen opened #51 "Consistently Fill ParseInstallation Fields"
Saving the ParseInstallation object leaves the following fields unpopulated:
- `appIdentifier`
- `appName`
- `timeZone`
- `badge` (this is probably fine left unpopulated)
- `parseVersion`
- `timeZone`

We need to fix it.

[2015-10-28 18:12] hallucinogen opened #52 "ParseInstallation.SaveAsync Hangs when called with particular Project Settings."
## Repro Step

Download:
https://drive.google.com/file/d/0BzoZowZVut_ueWlNNk0wN2lIa3M/view?usp=sharing
1. Build the Assets/LogInScene Scene to device (iOS)
2. Press the LogIn button
3. Observe output on Screen

You will get a crash log with the following stack trace:
ExecutionEngineException: Attempting to JIT compile method 'System.Reflection.MonoProperty:StaticGetterAdapterFrame<int> (System.Ref

[2015-10-28 20:38] richardjrossiii commented on #40
@hahdouken Unfortunately, the reason you're seeing that is because IL2CPP sends back a 'null' string for appVersion, whereas mono does not. Once #41 is landed, it will be taken care of, but, unless you wish to build the SDK yourself, you will have to wait until the next release.

[2015-10-28 22:21] hahdouken commented on #40
@richardjrossiii Thanks! that helped me a lot

[2015-10-29 07:39] andymads commented on #50
Will I'm targeting Unity iOS so this is interesting to me.

I'm using ParseUser.Current as a flag in some coroutines so it will be called once per frame - perhaps I need to rethink this.

[2015-10-29 09:18] henryyGit commented on #12
What is the estimated time for sdk 1.6.2?

[2015-10-29 18:17] IkeTheDestroyer commented on #52
I managed to avoid this bug by adding local notifications to the link.xml. Local notifications are used in the badge code but the docs don't show having them in link.xml by default.  Maybe an update to the docs is what is required here?

[2015-10-29 18:19] hallucinogen commented on #52
Hi @IkeTheDestroyer, that's awesome finding. I'll add that to our `link.xml` in downloadable `Parse.Unity` package and add that to the docs.

[2015-10-29 19:27] #36 closed

[2015-10-30 07:57] andymads opened #54 "[Unity] ParseFile url not https"
I use WWW to download a ParseFile but now Unity on iOS is warning me that the given url needs to be https and that they will be removing the mechanism that allows http to work at the moment.

Will this be addressed by Parse?

[2015-10-30 11:37] esfilho commented on #49
@richardjrossiii Still not able to use parse in WP8.
Any news here?

Thanks in advance

[2015-10-30 14:41] benjorsini opened #55 "Notification doesn't show if no Android icon in Manifest"
Hi,

We have a Xamarin Forms iOS & Android app that uses the .NET SDK.
We spent a day try to figure out why the device didn't show any notification on Android when receiving a push.

The fact is : if you don't have `android:icon="@drawable/Icon"` in your manifest, no notification is shown.

Using `ParsePush.ParsePushNotificationReceived +=  ParsePush.DefaultParsePushNotificationReceivedHandler;`,

[2015-10-30 15:05] benjorsini commented on #37
Hi,

Same as @gusennan here. Is there a fallback plan, older sdk, beta sdk we can rely on ?
Thanks in advance for your answer.

[2015-10-30 15:11] benjorsini commented on #37
The android service finally restarted on my device. I was able to receive a background push few minutes later even with the app killed from the task manager.
Device : OnePlusOne, SDK 1.6.1

Sorry for the noise :)

[2015-10-30 19:51] richardjrossiii commented on #54
We've already discussed this issue (or a similar one) on the iOS repo. (See [here](https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/issues/12)).

Our solution there is to rewrite HTTP ParseFile URLs into HTTPs.

The other solution would be to make end developers rewrite the URL themselves, as there may be use cases where we don't want to force HTTPs.

@hallucinogen What are your thoughts on usin

[2015-10-30 23:12] hallucinogen commented on #54
Sounds good. Let's rewrite ParseFile HTTP to HTTPS.

Attaching the diff made in iOS repo: https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/pull/197/files

[2015-10-31 00:41] bbartlett commented on #47
HUGE +1 on this!  I'm using Parse in a Xamarin.Forms PCL project (and plan to use it on several more), and while it _works_ to do the whole "platform-specific, linked file" approach for the code that directly touches Parse, it's kludgy and it adds complexity (DI, adapters, etc.) to my other code that lives in the PCL portion of the app but that also needs to get to Parse data.

As a short term sol

[2015-10-31 00:53] bbartlett opened #56 "Support for tvOS?"
Any plans for supporting tvOS? From this Parse iOS SDK thread ( https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/issues/250 ), it looks like they are making progress in the native-code side -- can you leverage any of their work?  (Unfortunately, there are definitely still some hurdles to work around such as not having any persistent local storage at all...)

[2015-11-01 20:57] manelizzard commented on #12
Is there anyway to build the ParsePush.jar for Android while waiting for the official release?

[2015-11-02 09:08] gusennan commented on #47
+1

[2015-11-02 09:14] gusennan commented on #37
@hallucinogen could you let us know where you think the issue is occurring?  Maybe we could help with the PR...

[2015-11-02 13:18] SeriouslySam opened #57 "Push notifications sent twice on android with dotNET SDK"
The bug that has been fixed on Android platform on version 1.9.3 ("Fixed: Receiving duplicate pushes to the same application on the same device.") is apparently still present in the Unity SDK.

Whenever we send push notifications for android users, they receive them twice. This only happens on Android platform (not on iOS).

Example of the payload sent:
{
  "alert": "test5"
}

[2015-11-02 18:54] hallucinogen commented on #37
Hi @gusennan, sorry it takes me a while to revisit this. The main issue is here: https://github.com/ParsePlatform/Parse-SDK-dotNET/blob/master/Parse/ParsePushService.cs#L35. When the app is killed/in background it's possible that `ParsePush.parsePushNotificationReceived` is `null` or empty due to the memory of the app being cleared. `ParsePush.parsePushNotificationReceived` is usually being popula

[2015-11-02 18:56] hallucinogen commented on #12
Coming with a PR to add `ParsePush.jar` in the repo. Later you'll be able to get it here: https://github.com/ParsePlatform/Parse-SDK-dotNET/blob/master/Parse.StarterProjects/CSharp/ParseUnityPushSample/Assets/Plugins/Android/ParsePush.jar

[2015-11-02 22:41] richardjrossiii commented on #56
Duplicate of #24

[2015-11-02 22:41] #56 closed

[2015-11-03 02:12] aquaGhost1 opened #60 "[Unity] Relation Query Fails with error on iOS."
Error: Query a relation: Must specify a ParseObject class name when creating a ParseQuery.

Unity: We are using 4.6.7 but it also happens on 4.6.8.
Parse plugin 1.6.1 for Unity.
Xcode 6.4

When Querying a relation, we started getting this error after updating parse.
1. It only happens on iOS, and not in the Unity editor. Query also works in API console.
2. Did not happen in older version of Parse.

[2015-11-03 08:46] andymads commented on #54
When will the SDK be updated for this?

[2015-11-03 21:41] #25 closed

[2015-11-04 08:01] andymads commented on #54
SDK still at 1.6.1 on downloads page.

[2015-11-04 14:16] gusennan commented on #37
@hallucinogen I understand.  I've been reading through the Android (java) and this implementation over the past few days.  I don't think the problem is just the Application being killed, but also the ParsePushService being started and stopped (at any time) itself, too.  Additionally, consider when the phone is restarted--even if the service were maintained in memory during the life of the phone, t

[2015-11-04 17:03] mpaolino opened #62 "[Unity] Android manifest error log when manifest is correct"
Seems devices cannot register for push notifications in Android due to a problem with how AndroidManifest is handled (?).

Using:
- Parse 1.6.1
- Android SDK 23.0.1
- Google Play Service rev 27
- Unity 5.1.3f1 Personal

Error in adb logcat: https://gist.github.com/mpaolino/e363a2c18ec208ed6163
AndroidManifest of the app (configured as per documentation): https://gist.github.com/mpaolino/867fba4c08

[2015-11-04 19:19] richardjrossiii commented on #62
It would appear that you're missing the `VIBRATE` permission in your manifest. Try adding that and let me know what happens.

[2015-11-04 19:39] mpaolino commented on #62
Same thing

New manifest: https://gist.github.com/mpaolino/51225bcd9b216be70101
New log: https://gist.github.com/mpaolino/dd487355a606a6065455

[2015-11-04 20:08] mpaolino commented on #62
BTW, I managed to have the Unity minimal tutorial running by fixing the AndroidManifest https://github.com/ParsePlatform/PushTutorial and it produces the exact same result. Not exactly sure what version of Parser this is, apparently 1.5.3 by last relevant commit.

[2015-11-04 20:11] #54 closed

[2015-11-05 07:12] techievbv opened #63 "Using Parse SDK in Windows 10 Universal App"
Hi, we are working on Windows 10 Universal app and trying to integrate Parse push notifications functionality. We have tried both v1.6.0 and 1.5.5 of Parse SDK to subscribe to a channel using installation.SaveAsync()  or using shorthand like SubscribeAsync() , but, the device is not getting registered (i.e. not subscribing to the channel on Parse portal Installation table). Kindly , let us know if

[2015-11-05 17:15] wannabuild opened #64 "System.FormatException: String was not recognized as a valid DateTime."
We're just using Parse for simple push notifications (for now), and we've gotten the following exception(s):

[code]

And all we do with Parse (for now) is the following:

[code]

We don't use anything else from Parse... Just the above.  Speaking of which, I feel bit funny letting the Save.Async() call dangle like that, but don't really want to await it either.  Anyhow, this doesn't always happen,

[2015-11-05 20:54] richardjrossiii commented on #64
That seems odd. It would appear that the server is giving back Dates formatted improperly. I assume the answer is no, but are you using CloudCode anywhere? We've seen issues with CloudCode returning improper dates in the past (#38), but never from the main SDK.

We can definitely add better error handling code for cases where the server returns invalid data, but if it's consistently returning bad

[2015-11-05 21:26] habermeier commented on #64
@richardjrossiii No I don't use CloudCode anywhere.  The only Parse SDK related call I make is in OnCreate() -- the bare minimum to get push notifications going.

I do not get this error a lot.  I just saw it once or twice.  But I did get it.  Well -- really, someone in India got it.  There could be 2 possibilities I can immagine:  a) a transient bug on the server side, or b) a network related fai

[2015-11-07 03:16] cfoulston opened #67 "Suggestion: Make ParseClient.ConvertTo public"
Would be super helpful if this method were public, then we could get typed values out of generic objects returned from a parse cloud. i.e:

	//cloud code

	response.success({ object1:parseObject, object2:anotherParseObject })

	//Unity client

	IDictionary<string, object> result = response;

	ParseObject object1 = ParseClient.ConvertTo<ParseObject>(result["object1"]);

[2015-11-07 05:56] cfoulston opened #68 "Unity Android can't find cloud code functions"
Using Unity SDK 1.6.1

Calling any cloud code function from Android results in:

 "OtherCause: java.io.FileNotFoundException: https://api.parse.com/1/functions/methodName"

iOS works, Unity editor works

[2015-11-09 12:44] gusennan commented on #55
Hi @benjorsini, this is a common issue that people have with Android notifications, and I agree would be helpful if it were added to their documentation.  To their benefit, though, it is documented in the Android documentation [here](http://developer.android.com/training/notify-user/build-notification.html).  Maybe Parse could ship with a default icon in its default notification handler so at leas

[2015-11-10 03:08] mdarroyo opened #69 "Unity 4.6 and iOS 9 Can't find any registered devices yet"
I followed the iOS push notifications tutorial: https://parse.com/tutorials/ios-push-notifications
The quick Start App: https://parse.com/apps/quickstart#parse_push/unity/ios/new
The troubleshooting guide: https://groups.google.com/forum/#!topic/parse-developers/65WAfRIiEnA

I've posted this question on the Google Group and Stack overflow a week ago and I never received a reply from anyone.

The i

[2015-11-10 10:41] andymads opened #70 "[Unity] How do I clear the cached ParseConfig object for development purposes?"
For development I want to clear ParseConfig so I can test flow when there is no cached object. How is this done? Is there a file somewhere I can delete?

[2015-11-10 14:07] gusennan commented on #47
@bbartlett I needed to do the bait-and-switch approach for our forms project, and can send a PR with the changes if Parse is interested.

@Parse, in order to be able to do this on all the platforms you support, each of the projects in your solution must implement the complete interface of the Parse.csproj. I know this is already the case with Android and iOS (for which I've implemented this method

[2015-11-10 15:10] andymads commented on #70
There's a Parse.settings file that I found under Application Support. Deleting this does the trick, however I'm not sure if the file will also contain other important things?

[2015-11-10 20:16] richardjrossiii commented on #68
Thanks for the report! Any chance we can get a full stack trace from this exception?

[2015-11-10 20:22] richardjrossiii commented on #70
Yes, `Parse.settings` will contain things other than config. Most notably, the installation ID, and user ID.

There's no good way to clear just the config from the settings file, without managing to use the private API of the SDK. I'm not too sure about having something like that as a public API, seeing as we have `GetAsync()` on ParseConfig already which will always ignore cache.

[2015-11-10 20:24] richardjrossiii commented on #67
I agree! I think this would be useful to be made public. I'll send a PR in a little bit to see how others on the team feel.

[2015-11-10 20:57] richardjrossiii commented on #47
@gusennan Unfortunately, I think it's a bit more subtle than simply implementing all of the interface.

For example, ParsePush's interface is actually different right now between iOS and Android (due to different Push notification handling APIs).

We also need to figure out the minimal possible subset of the Parse APIs that we can implement, as with a PCL app there's no way to do any sort of Local

[2015-11-11 02:00] cfoulston commented on #68
Sure, here's the stack trace from ADB

	E/Unity   ( 2332): Parse Exception: (OtherCause) java.io.FileNotFoundException: https://api.parse.com/1/functions/testMethod
	E/Unity   ( 2332):   at Parse.Internal.ParseCommandRunner+<>c__DisplayClass2.<RunCommandAsync>b__1 (System.Threading.Tasks.Task`1 t) [0x00000] in <filename unknown>:0
	E/Unity   ( 2332):   at Parse.Internal.InternalExtensions+<>c__Dis

[2015-11-11 08:38] gusennan commented on #47
@richardjrossiii thanks for sharing that.  I think there is a way it's possible to do Local Storage in a portable way, via the bait-and-switch approach.  The push, probably not.  At a minimum, all of the classes that are shared between the different projects (which, as I was working through Android and iOS Parse implementations, realized are the vast majority), could be made cross plat via bait an

[2015-11-11 19:40] cfoulston commented on #68
Ok I found the issue, I didn't have the required .jar files as described here:

https://parse.com/apps/quickstart#parse_push/unity/android/existing

also, looks like the Plugins/Android folder must exist under Assets/Parse.Unity/Plugins/Android

[2015-11-11 19:40] #68 closed

[2015-11-12 00:34] kostub opened #72 "Invalid ParseRelation returned if the object has no data for the relation."
I have code in my user class to get contacts as follows:
[code]
If the `contacts` field on the user is null then if I use the following code I get an `ArgumentNullException` when accessing the Query field of the returned relation.

[code]
My guess is this happens due to line 1339 in ParseObject.cs:
[code]
In the case where there is no data, the returned relation is `null` and thus it uses the cons

[2015-11-12 00:36] richardjrossiii commented on #72
Thanks for the report. I'll look into the `ParseRelation` constructor and see what's up.

[2015-11-12 18:45] kostub commented on #60
I think this is the same as #72.

[2015-11-12 21:43] habermeier commented on #64
@richardjrossiii do you still need more information from me on this?  I think it's a bug in the SDK or possibly the server.  The crash happened in India... is it possible there is a formatting issue around localized date representation?

[2015-11-12 22:10] #72 closed

[2015-11-12 22:11] richardjrossiii commented on #60
Yep, I think you're correct. Currently my unity installation isn't fully working so I can't test ATM, but I'm going to close this for now. Feel free to re-open it if the problem persists.

[2015-11-12 22:20] richardjrossiii commented on #64
@habermeier anything's possible. I'll check into locale, and mark this as under investigation for now. If I can't get it to fail, I'll have to mark it as 'needs more info again'.

[2015-11-12 22:38] richardjrossiii commented on #64
After testing with my locale set to Indian, our dates are still parsing correctly, at least with all the examples I have tried.

To investigate this further I really need the string that's failing to parse, unfortunately.

[2015-11-12 23:14] habermeier commented on #64
@richardjrossiii I guess the only way to do that would be to add a try / catch block around

[code]

and log the problem there.  But given this is likely coming from:

[code]

That means dict["iso"] is either not set, or not set to something valid, which is unlikely to be a core issue with the SDK itself.  Bottom line though is this:  Why would it be OK to let the SDK crash if the server sent some

[2015-11-12 23:27] richardjrossiii commented on #64
The solution here is not to just try-catch. DateTime is a struct in C#, so what date could we *possibly* return that makes sense for an arbitrary invalid date field?

I firmly believe that crashing *is* the right response in this case, because that allows us to properly handle the problem rather than just treating the symptoms.

Besides - we're operating in the context of a `Task` here anyway - yo

[2015-11-12 23:41] habermeier commented on #64
Bottom line if someone on the server side team checks in bad code, and it goes unnoticed, your SDK could end up crashing millions of clients over hundreds of different apps.  As an app developer I don't look kindly on SDK's that crash my app in unexpected ways.  Sure, I can put a try-catch around all your API's, and I guess I'll do just that.

Maybe you should add a try / catch block to your docum

[2015-11-12 23:46] lacker commented on #64
If the server actually returned bad data, then I agree with @habermeier, that the correct response for the SDK is to throw a Parse exception rather than some other one. That way it would get treated just like a networking error, or a Parse outage. That's what we do if e.g. the server doesn't return valid json. (I think.)

However, that isn't clear to me. Did the server actually return a bad timest

[2015-11-12 23:49] richardjrossiii commented on #64
@lacker In this scenario we don't know. There apparently was a one-off non-reproducible exception that was thrown (and caught by parse already, to be noted), and because the user did not check the result of the SaveAsync() task, the app crashes.

This isn't something that can t easily be fixed, as it's a feature of the .NET Tasks framework, to rethrow an unhandled exception like that.

[2015-11-13 00:10] habermeier commented on #64
@richardjrossiii My point is that the SDK ought not throw unexpected stuff if the server gives it unexpected data.  It doesn't really matter what the string was, other than that it was a bad string.  What difference does it make if it was a truncated date string or an empty string?  It doesn't really prove anything other than that something went wrong upstream -- something not in my control.

It s

[2015-11-13 00:16] richardjrossiii commented on #64
@habermeier I think you may be missing the point. You do not need to wrap anything in a try-catch call. All that is required is to continue upon the task like this:

    installation.SaveAsync().ContinueWith(t => {
        if (t.Faulted) {
           Debug.Writeline(t.Exception);
        }
    });

This is the [.NET standard way of dealing with task exceptions](https://msdn.microsoft.com/en-us/lib

[2015-11-13 00:49] habermeier commented on #64
@richardjrossiii Yes, you can use `ContinueWith`.  You can also await the task and try/catch.  Essentially the same difference.  Granted using ContinueWith, you don't have to be in an async method yourself, which is easier to drop in on some places... but that's not really my point.  That's just the mechanics of how you deal with having to catch the exception.

So let me ask you this:  Is it stand

[2015-11-13 17:04] RogueRocketGames opened #74 "No Source availble for "ParsePush.jar" which is used by Unity dotnet sdk for android push"
The integration requires ParsePush.jar, which is available for download, but no source for it appears to be available anywhere on github.  There is a crash bug in it that has to do with receiving push notifications from a service other than parse with a null payload string I wanted to address in a hurry but i couldn't find the source.

[2015-11-13 20:36] richardjrossiii commented on #74
As mentioned on #58, we can't currently do this right now due to internal reasons. We're working on resolving these internal reasons and as soon as we can, we will open-source it.

[2015-11-16 19:27] #74 closed

[2015-11-16 19:52] hahdouken opened #78 "[Unity] Push is received when app is in foreground, but payload is empty"
I'm using the following code in Unity to receive pushes while the app is in the foreground. This code is almost exactly what's in the [Parse Push Tutorial on Github](https://www.google.com/url?q=https%3A%2F%2Fgithub.com%2FParsePlatform%2FPushTutorial%2Fblob%2Fmaster%2FUnity%2FAssets%2FPushBehaviour.cs&sa=D&sntz=1&usg=AFQjCNGwKDTvQ8SXoiEhyKOaQIh10GLgyg).

[code]

With this code, pushes are received

[2015-11-16 23:27] richardjrossiii commented on #70
I'm closing this issue due to inactivity. If you have anything else on this topic you'd like to ask, feel free to re-open the issue.

[2015-11-16 23:27] #70 closed

[2015-11-17 19:05] yuriburger opened #80 "Cloud Code call from Unity 5 returns System.AggregateException"
This bug was originally reported (and assigned to the team) using the facebook bug report system. Unfortunately I don't get any feedback anymore on the issue there. I can confirm this issue still exists with Unity SDK 1.6.1.

Facebook issue with all the repro steps, exception messages, etc.: https://developers.facebook.com/bugs/132347470445005/

Summary:

A simple Parse.com Cloud Code call from Un

[2015-11-17 19:13] yuriburger commented on #80
Sorry, issue was indeed solved with parse 1.6.1

[2015-11-17 19:13] #80 closed

[2015-11-17 19:19] habermeier opened #81 "Parse Crash on NameResolutionFailure"
I got the below crash report from my app -- from a tester in India.

Unclear to me where it's coming from.  The only Parse Code calls I'm making from iOS is as follows:

[code]

The exception I get is as follows...

[code]

[2015-11-17 22:03] habermeier commented on #64
Ok, was able to reproduce.  The problem is that we are getting an unexpected time string, as per your `DateFormatString`.  When it throws that exception, it does it when there isn't a 3 digit fractional second number.  At least I assume that is what that is.

[code]

My guess is that whatever is producing the timestamp is suppressing any trailing '0's on the fractional second, which doesn't happen

[2015-11-17 22:13] richardjrossiii commented on #64
Yep. Just talked with some other team members, apparently this is a super old bug that we've seen before in the back-end, and it's surprising that it's popping up again. I'll attempt to make the client less strict on the trailing zeroes.

[2015-11-17 23:22] #81 closed

[2015-11-18 00:11] richardjrossiii commented on #69
I think that this may be loosely related to #41. I'll update that PR, and we're shooting for a new SDK release at some point this week, so hopefully your issue is resolved then.

[2015-11-18 00:54] mdarroyo commented on #69
Sounds good, thank you for the reply!

[2015-11-18 01:40] #40 closed

[2015-11-18 19:57] kostub opened #85 "No way to recover if ParseUser.CurrentUser throws an exception"
Every once in a while I get a `ArgumentException` when accessing `ParseUser.CurrentUser`. The stack trace is below. Not sure what causes it, but the issue is once I get this error there is no way to recover. I cannot call `LogOut` or `BecomeAsync` or any Parse function for me to clear/change the `CurrentUser`. The only solution is to delete and reinstall the app.

Can we change it so that if the C

[2015-11-18 20:03] richardjrossiii commented on #85
Which platform are you running on?

[2015-11-18 20:04] kostub commented on #85
Xamarin iOS.

On Wed, Nov 18, 2015 at 12:03 PM, Richard Ross <notifications@github.com>
wrote:

[2015-11-20 05:12] fractalfrenzy opened #87 "On Android: .beforeSave does not return a valid error message"
I started with a brand new project to test this issue and was able to replicate it.  Using the latest version 1.6.2.

The short of it is that when using .beforeSave to check for duplicate entries, I get the expected error in the Unity editor.  But doing the same thing on my Android phone, I get a FileNotFoundException.

Steps to reproduce:
Step 1. Download the empty Parse Unity project.
Step 2. Ad

[2015-11-21 14:27] tkowalczyk opened #88 "Can't build in Release mode with Xamarin.Android"
Hi, I am able to build project with `Parse SDK` component from [Xamarin Components](https://components.xamarin.com/view/parse) in `Debug` mode but when I am trying to do this in `Release` I am getting the following error:

`/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android
.Common.targets: Error:
Error executing task LinkAssemblies: error XA2006: Reference to metad

[2015-11-22 02:05] yozzozo opened #89 "Yellow warning icon on parse package in Xamarin Studio Mac"
On Xamarin Studio 5.10.871 (latest as of this writing), adding the parse NuGet package into my iOS project (Parse 1.6.2, also latest as of this writing) -- after install and restart of Xamarin Studio, the package is marked with a yellow exclamation warning icon.  When you hover over this icon, it says "Package is not restored".

This issue persists between updating the package (I had it ever since

[2015-11-23 10:16] Malmo92 opened #90 "NullReferenceException triggered when setting ParseACL to new ParseObject."
Getting a NullReferenceException when I am trying to set the ParseACL to an instantiated ParseObject.

The following line causes the issue for me in the Parse .NET SDK 1.6.2:

var po = new ParseObject("Table");
po.ACL = new ParseACL(ParseUser.CurrentUser);

This code is run after user is authenticated. ParseUser.CurrentUser is not null.

[2015-11-23 10:45] Julien-Mialon commented on #63
Hello,
I added support for W10, you can check it there : https://github.com/Julien-Mialon/Parse-SDK-dotNET

[2015-11-23 12:20] andymads commented on #50
Ok, on device I think it's generating 700 bytes of garbage every single frame.

[2015-11-23 12:25] andymads opened #92 "[Unity] RunDispatcher generating lots of garbage each frame"
Noticed that ParseInitialiseBehaviour.RunDispatcher generates 410 bytes of garbage each frame when running on iOS device. This is a lot when compared to the rest of my project. Is it excessive or is this nothing to worry about?

[2015-11-23 12:29] Jeern opened #93 "Obvious bug in DefaultParsePushNotificationReceivedHandler for Android"
I have a problem with this setup from the Parse documentation.
ParsePush.ParsePushNotificationReceived += ParsePush.DefaultParsePushNotificationReceivedHandler;

It does not work. The push is recieved by the device which I can confirm because I can attach another eventhander that just prints af Console.Writeline - so far so good. Opening up the code for DefaultParsePushNotificationRecievedHandler

[2015-11-23 13:51] GiusepeCasagrande commented on #34
I'm not sure how to pin point it, but I would like to share my work around with this issue: just renamed all the content in the Parse nuget package from parse* to Parse*.
Looks like some problem with nuget and Mac case/non-case sensitive.

[2015-11-23 16:13] danielseto commented on #51
Any updates about this issue? Is there an estimated date to fix it or at least a workaround?

[2015-11-23 16:16] Benzino opened #95 "[Unity] -canOpenURL: failed for URL: "cydia://package/com.example.package""
When I attempt to run Unity app with Parse on an iPad mini ios 9.1, I get the following error:

-canOpenURL: failed for URL: "cydia://package/com.example.package" - error: "This app is not allowed to query for scheme cydia".

I understand this issue was raised before and marked as fixed, however it is still occurring for us. We are using v1.6.2 of the Parse Unity SDK on Unity v5.2.2.

[2015-11-23 20:19] richardjrossiii commented on #51
This *should* have been fixed in #41, which is in the latest release, 1.6.2. Marking as closed, feel free to open another issue if this problem persists.

[2015-11-23 20:19] #51 closed

[2015-11-23 20:22] richardjrossiii commented on #89
As mention on #34, this is a bug with Xamarin Studio that has been fixed on the beta channel (no idea why they haven't updated yet).

Seeing as we can't personally fix this bug, I'm going to close this for now.

[2015-11-23 20:22] #89 closed

[2015-11-23 22:46] richardjrossiii commented on #92
This sounds like an IL2CPP bug (those are my *favorite* to debug)... You should not see any garbage generated by `RunDispatcher`, it's a super simple coroutine...

I'll look into it.

[2015-11-23 22:48] richardjrossiii commented on #95
There should be no way that this is coming from our .NET SDK. Nowhere in our code-base do we reference the `cydia` URL scheme, and the only time that we have done that IIRC is in old versions of our iOS/OSX native SDK.

I'd strongly recommend looking at other libraries as the culprit for this, it's certainly not us.

[2015-11-23 22:48] #95 closed

[2015-11-24 00:05] richardjrossiii commented on #93
I'm not sure I follow. The `if` statement you're referring to checks if **both** `alert` and `title` are empty, and if so, do nothing.

Then, we set the alert and title to be either the results of the JSON object, otherwise the default value (e.g. `ManifestInfo.DisplayName` for title, and "Notification Received" for alert).

[2015-11-24 00:58] richardjrossiii commented on #90
Confirmed bug. PR coming shortly.

[2015-11-24 01:25] richardjrossiii commented on #90
As a temporary work around until the next SDK version is released, you can create a concrete subclass of `ParseObject`, and register that, and then the `ACL`, `ObjectId`, `CreatedAt`, and `UpdatedAt` properties will work properly once again.

[2015-11-24 01:27] #90 closed

[2015-11-24 06:39] Jeern commented on #93
Yeah. Exactly - my bad. Apparently I cannot read a simple boolean expression. Must have seen AND as OR or something.

My problem turned out to be that I did not have a metadata tag in the AndroidManifest with a Push icon.

Apparently this means that even though I receive the Push on the device it is not shown. Weird that this is not documented and that you get no errors indicating this is a proble

[2015-11-24 06:39] #93 closed

[2015-11-24 08:52] andymads commented on #92
Well ParseUser.CurrentUser generates 0.7Kb on device. Is this expected?

[2015-11-24 09:24] rehos opened #99 "Getting WebException instead of ParseException for InvalidSessionToken"
Parse .NET SDK 1.6.2 within Xamarin iOS and Xamarin Android apps.

If the session of a user has been revoked (either by removing the session manually from the Session table or if user changed password on other device), the SDK now generates a WebException with status ProtocolError instead of a ParseException with code InvalidSessionToken.

Note: I can see the correct JSON with the correct parse er

[2015-11-24 12:53] richardjrossiii commented on #92
Nope, definitely not expected. Although We've never run Parse compiled by IL2CPP through any memory profilers. It's possible (however unlikely) that this is our problem, but seeing as .NET is supposed to be all GC'd code, my best bet is that the blame does lie on IL2CPP.

[2015-11-24 12:57] richardjrossiii commented on #99
That may have happened when we refactored HttpClient. I'll look into it. Thanks for the report!

[2015-11-24 12:57] andymads commented on #92
Actually my build is not using IL2CPP. I've been using the Mono backend for development as it builds a lot quicker.

[2015-11-24 12:59] richardjrossiii commented on #92
And so the plot thinkens...

Thanks for the additional info. This has me very curious where the blame truly lies, then.

[2015-11-24 19:53] SamAlbuga opened #100 "ParsePush.SubscribeAsync() & SaveAsync() Keep throwing System.AggregateException all the time on Windows 10 UWP"
ParsePush.SubscribeAsync() & SaveAsync() Keep throwing System.AggregateException all the time on Windows 10 UWP. Also The framework doesn't even register installations.

Here the stack trace:
[code]

Help! I cannot get it working and I didn't see similar cases.
**Note that I'm using Parse from NuGet**

[2015-11-24 22:33] hallucinogen opened #101 "[Unity] Responses are handled in main thread"
Copied from external bug report:

Asynchronous API calls like FindAsync can and do block the main thread when the response is received by the client. Operations like parsing the response data are supposed to happen in background threads, as described in the Tasks API, but they seem to be happening on the main thread anyway.

To isolate this, I created a bare bones project in Unity that calls FindA

[2015-11-25 12:15] SamAlbuga commented on #63
Same here but it keeps throwing System.Aggregate exception

[2015-11-26 20:08] SamAlbuga commented on #100
Solved by @Julien-Mialon in pull request #91  It was caused by by AppName getting trying to access AppManifest using an old Xml schema.

[2015-11-26 20:08] #100 closed

[2015-11-26 20:57] deekpyro commented on #7
Hey guys -

I am having this issue with Unity 4.6.9p2 but the latest SDK requires Unity 5.2.3. Is there any workaround for this older version of Unity?

[2015-11-28 15:43] rehos commented on #99
I also noticed that a script error results in a WebException with status ProtocolError instead of a ParseException with code ScriptFailed.

[2015-11-30 15:25] SeriouslySam opened #102 "Android not compiling with assembly stripping on (version 1.6.2)"
We updated our Parse to use the latest version, and the Android build is not working anymore. It fails at assembly stripper with the following error about missing iOS library. Which is very curious as it's making Android build. iOS building works
With stripping off, it compiles on android also, but this is not an option for us.

[code]

stdout:

stderr:

[code]

[2015-11-30 19:09] richardjrossiii commented on #7
@deekpyro Funny that you mention it, we actually dropped support for unity 4.x *because* push was not working on either version with IL2CPP.

IIRC, There's nothing that stops the SDK from working if you want it to work on Unity 4.x, at least in android-land. Feel free to compile your own version of the SDK and use that.

[2015-11-30 19:29] richardjrossiii opened #104 "ParsePushService Android crashes on receive push notification w/ null payload string"
When a Unity app on Android receives a push notification, an exception is thrown if the payload is null. This can be an issue if the push was sent from another push provider besides Parse.

The error seems to be originating from this code:
https://github.com/ParsePlatform/Parse-SDK-dotNET/blob/master/ParsePush/src/main/java/com/parse/ParsePushService.java#L138-L140

(This bug originated from an ex

[2015-11-30 19:52] richardjrossiii commented on #102
Thanks for the report. This seems related to our handling of push notifications.

Because UnityEngine.iOS.NotificationServices doesn't *actually* exist on android, I'm guessing that the assembly stripper doesn't like that, even though it works at runtime.

I'm not sure we as an SDK can provide a workaround, as assembly stripping is not a workflow we support, but feel free to fork/compile your own

[2015-11-30 23:05] richardjrossiii commented on #55
@gusennan. is correct, this is Android's default behavior, and seeing as how how I'm not aware of any good way to ship an arbitrary icon with our library downloads, I'm going to close this.

There's really nothing to fix. If this really ends up being a long term issue, *maybe* we can add a log message stating that there was no icon set in the application manifest, but seeing as this should *never*

[2015-11-30 23:05] #55 closed

[2015-11-30 23:24] #104 closed

[2015-12-01 00:28] kostub opened #106 "NullReferenceException in Parse.Internal.HttpClient"
Every so often while making Parse queries we get this exception in `Parse.Internal.HttpClient`. It seems happen usually for the queries that we make as soon as the app starts up, but I've seen it happen in other places as well.

Looking at the disassembly, this seems to happen somewhere between lines 100-130 in HttpClient.iOS.cs, but I don't have exact line numbers so I can't say that for sure. I

[2015-12-01 00:40] richardjrossiii commented on #106
Hmm. That certainly is strange. My initial thoughts are  that it may be from `resultStream` being null due to a transient connection issue? We've seen similar things on the other platforms.

I'm going to mark this as needs more info until we can find a more consistent reproduction case.

I'd suggest building the SDK yourself and seeing if you can cause it to fail with debug symbols available.

[2015-12-01 06:41] Vaibhavmalik3122 commented on #63
@Julien-Mialon we are unable to Build the Parse.UWP project in VS 2015. Errors show HttpClient,Httprequest, etc. not accessible due to its protection level. Please check from your side and Suggest what we can do from our side. Thanks.

[2015-12-01 08:46] Julien-Mialon commented on #63
@Vaibhavmalik3122 are you using the Parse nuget ? If yes, you should use the Parse source code directly. There is a small modification on Parse code in order to Parse.UWP use the internal types.

[2015-12-01 09:45] gusennan commented on #55
What would be helpful, I think, is just noting this in the documentation where there's mention of adding a custom push-notification handler on Android.  The _RebuyParsePushNotificationReceivedHandler_ sets the icon of the push notification, (which is like a default icon) and so works "out of the box".  When other's add their own NotificationReceivedHandler, it's a common issue to not realize that

[2015-12-02 17:19] gaambo opened #107 "Xamarin Android Marshmallow: Installation have no pushType and deviceToken"
Hi There,
i'm having some problems with xamarin android on marshmallow phones. it took me a while to figure it out but i think i can nail it down on marshmallow / api 23 devices.
my problem is similar to the following in the parse android sdk:
https://github.com/ParsePlatform/Parse-SDK-Android/issues/101

when logging in on a api23 android device the pushType (should be gcm) and de devicetoken fie

[2015-12-02 22:29] richardjrossiii commented on #107
Thanks for the report. I'll look into it.

[2015-12-03 11:13] mbilling commented on #46
Release 1.6.2 is not signed - could you please fix :)
I have tested download from parse.com and nuget,- same result

C:\Users\mb\Downloads\Parse-1.6.2>sn -v Parse.dll

Microsoft (R) .NET Framework Strong Name Utility  Version 4.0.30319.33440
Copyright (c) Microsoft Corporation.  All rights reserved.

Parse.dll does not represent a strongly named assembly

C:\Users\mb\Downloads\Parse-1.6.2>

[2015-12-03 11:57] hhartz commented on #49
@richardjrossiii I'm experiencing the same issue. Can you provide a workaround for this? Seems this has also gone unanswered here; https://parse.com/questions/unable-to-push-notifications-to-wp8-through-the-dashboard

[2015-12-03 12:04] esfilho commented on #49
@hhartz @richardjrossiii
In Lumia 520 with WP 8.1, it crashes.
In Lumia 530 with WP 8.1, it doesn't crash but the notifications don't arrive in the device.

[2015-12-03 12:12] SalehAlbuga opened #109 "System.Net.WebException crash when there's no Internet connection. Windows 10 UWP"
The sdk throws System.Net.WebException when there's no Internet connection.
Here is the stack trace. Note that I'm using the source from pull request #91 to be able to work on Windows 10.

Here is the Stack Trace:

[code]

[2015-12-03 20:00] #64 closed

[2015-12-03 20:34] richardjrossiii commented on #109
Hey @SamAlbuga. Marking this as 'wont fix' until #91 is merged in. Once it's in the SDK I'll take another look at this issue (I'll also need to get access to Windows 10 at some point... lol).

[2015-12-03 20:37] richardjrossiii opened #110 "Support retrying of network commands"
Currently, the SDK does not perform any retry logic when a network request fails, unlike all of our other platforms.

We need to have a way to easily retry a network request in a cross-platform way.

[2015-12-04 23:01] PauliusLiekis opened #111 "Exception is thrown from ParseClient.Initialize"
I tried compiling latest code for Unity4. Exception is thrown from ParseClient.Initialize:

"Cannot register a type that does not implement the default constructor!"

It happens in ObjectSubclassingController.cs:94, because it executes this line:

RegisterSubclass(typeof(ParseObject));

Problem is that ParseObject doesn't have public default constructor, thus RegisterSubclass method throws an exce

[2015-12-05 06:39] davidroberts63 opened #112 "Change exception messages when using subclass"
When just starting out with Parse there are a few things I ran into that would be nice to have a bit more info in the exception messages. It's all clearly in the docs. I simply forgot to do as the docs say. I ended up spending a few minutes trying to figure out what I did wrong. So:
##### When you forget to register your subclass with Parse you get:

"You must create this type of ParseObject using

[2015-12-05 06:40] davidroberts63 opened #113 "Support for additional data types"
The ParseObject subclassing does not support the `DateTimeOffset` or `decimal` data types. Any thoughts on implementing that? I'd be willing to work on it and send in a PR.

[2015-12-05 16:05] bbartlett commented on #47
@richardjrossiii Any update from your conversation on tasks towards a possible PCL implementation?  I'm just about to start on a new project that uses Parse as its backend, and I'd LOVE to avoid the hoops that we currently need to jump through on a cross-platform app for getting to even the basic classes like ParseUser from our other PCL code.

I agree with @gusennan -- it does seem like most of t

[2015-12-07 06:21] ViolentCrumble opened #114 "ParseUser.Logout(); Crashes unity? How can i log out?"
[code]

[2015-12-07 06:22] ViolentCrumble commented on #114
public void LogOut()
    {
        if (ParseUser.CurrentUser != null)
        {
            ParseUser.LogOut();
        }
        if (FB.IsLoggedIn)
        {
            FB.LogOut();
        }
    }

This crashes unity... when it shouldn't

[2015-12-07 07:28] ViolentCrumble opened #115 "Can't retrieve objects?"
Trying to retrieve objects from parse.. Why isnt there any examplkes that actually cover any normal use cases!

Just trying to populate the damn screen with information FIrst i tried putting all the below inside of the ContinueWith but that doesn't work... presumeably because its in the Async? BuT NOWHERE DO YOU SHOW WHERE TO PUT IT!

So i made a seperate functions and figure i will just pass the

[2015-12-07 08:08] Bestlis opened #116 "Unity + Parse + iOS NSURLErrorDomain error -1012"
Hello!
I try to integrate parse into my iOS game.

When I try get info from DB I get exception

Exception: {"error":"The operation couldn’t be completed. (NSURLErrorDomain error -1012.)"}

Here is my code:

var query = ParseObject.GetQuery(ParseTableName).WhereEqualTo("DeviceId", SystemInfo.deviceUniqueIdentifier);
var res = query.FindAsync();

while (!res.IsCompleted)
yield return null;

if (res.

[2015-12-07 09:10] gemsuraj opened #117 "The type 'System.Object' is defined in an assembly that is not reference"
This error is occurring when sending the object as a model from controller to view. Model binding is working due to this.

[code]

[2015-12-07 17:38] hallucinogen commented on #116
Hi there. Thank you for your report.

The last time it happened to me was because I was using a combination of Unity 4.x + IL2CPP + running it on device + accessing HTTPS. Can you try updating your Unity into 5.x, preferably 5.2 and try to compile it without IL2CPP backend?

Thanks!

[2015-12-07 21:19] richardjrossiii commented on #113
Neither of these datatypes are supported anywhere in our SDK, although in the case of `decimal` it probably should be possible. Marking as enhancement, but seeing as adding these datatypes isn't exactly trivial, I wouldn't really recommend you to try and go fix them yourself.

I'm not sold on why `DateTimeOffset` should be stored in Parse differently than just something as simple as a number of 's

[2015-12-07 21:22] richardjrossiii commented on #47
@bbartlett We've talked about it, and, if we could come up with a solid solution for our Push and Analytics APIs being different on different platforms, we definitely be on board with having basic PCL support.

Because of how assemblies work in .NET, and the fact that you cannot have a Partial class in another assembly, I'm not 100% sure how to go about this ATM. If C# had static extension methods

[2015-12-07 21:36] richardjrossiii commented on #112
You're right, these messages could be improved significantly. If you are still interested in taking this over, feel free to, I think most of these messages can be found in `Internal/Object/Subclassing/ObjectSubclassingController.cs`.

If not, just let me know and I'll update them myself.

[2015-12-07 21:56] richardjrossiii commented on #114
Thanks for the report. Which version of the SDK are you using? Can we get an exception stack trace?

[2015-12-07 21:59] richardjrossiii commented on #117
Which platform are you seeing this on? Mono? UWP? Unity? WinRT?

Which version of the SDK are you using?

There's nothing in that error message that indicates to me that Parse is what's causing this error.

[2015-12-08 03:53] gemsuraj commented on #117
Platform is winRT

I'm using the latest version installed via nuget

My .net version is 4.5

The error comes when you use the parse object in views. The error says that
there's no reference to "system.object" in the target assembly (parse.dll).
i'll send you the complete stack trace soon. or you can simply check it my
using Parseuser.Current.Email in any view. it will generate this error.

*Suraj

[2015-12-08 06:40] ViolentCrumble commented on #114
I have read all the docs.. and of course im using the latest sdk.. its just one line of code i dont see how i can get that wrong.. And before i log out i check (How u tell me to check) if im signed in? so how does it crash?

Im back at my pc now.. how do i get a stack trace? it completely locks up unity and i lost hours of work.. only way to reuse unity was to close the process manually.

[2015-12-08 07:06] ViolentCrumble commented on #114
WEll i found the editor that log that appears after unity crashes.. i hope thats what u need?

i think the new stuff is at the bottom.

[2015-12-08 07:27] Bestlis commented on #116
Hallucinogen:
I use Unity 5.2.3p2

[2015-12-08 07:58] birdkingz opened #120 "Object doesn't get updated after calling SaveAsync on Parse Unity 1.6.2"
I have a column ("DataDict") storing type of Dictionary (let say the variable name is call "dataDict")

Recently I've updated to Parse Unity 1.6.2 and I found out that whenever I make an update to dataDict, it doesn't get updated to the server.

For example:

    Dictionary<string, object> dict = ParseUser.CurrentUser["DataDict"] as Dictionary<string, object>;
    dict["name"] = "something new";

[2015-12-08 08:02] birdkingz commented on #120
I

[2015-12-08 08:02] #120 closed

[2015-12-08 08:03] birdkingz commented on #120
Ok, I've solved this by calling
ParseUser.CurrentUser["DataDict"] = dict;

[2015-12-08 08:33] gusennan commented on #47
@richardjrossiii we're using a (private) version of your library, forked off of 1.6.1 as a bait-and-switch PCL for our company's xamarin-forms app.  I think the reason it's worked for us is because, to use what xamarin called "advanced-PCL" techniques (bait-and-switch), the assembly names must be the same.  I'd be happy to share a version with our corporate code pulled out.

[2015-12-08 14:02] cecilphillip commented on #47
@gusennan that would be good pony of reference for the rest of us

[2015-12-08 15:03] gusennan commented on #47
Here's a pony of reference:

@cecilphillip

https://github.com/gusennan/Parse-SDK-dotNET/tree/public

The public branch is forked off of 1.6.1.  To create version 1.0.0 of bait-and-switch nuget package, run in the root:
```sh build-pack-parse-rebuy.sh 1.0.0```

We've adopted the library a bit more for our personal needs, which you won't see in this branch, but this at least gives you a PCL-compata

[2015-12-08 15:53] hallucinogen commented on #116
Are you compiling using IL2CPP? What device are you using to test the game? Can you execute a simple save?

[code]

[2015-12-08 20:02] richardjrossiii commented on #120
@birdkingz  that is correct. Now we make a copy of dictionaries and arrays passed into parse, which requires you to set the dictionary again afterward.

[2015-12-08 20:05] richardjrossiii commented on #47
@gusennan Thanks for the reference. We're actually currently in the process of a project restructure (see #108), which should hopefully make it significantly easier to play around with ideas like this.

Also, if you're forking this internally, feel free to suggest any changes publicly that might benefit others, even if you can't directly share them with us! We're always looking for ways to improve

[2015-12-08 22:14] richardjrossiii commented on #117
Unable to reproduce. I just added the following binding to an empty Windows 8.1 store application:

[code]

And it works swimmingly using NuGet.

[2015-12-09 05:25] gemsuraj commented on #117
Sorry, I meant asp.net mvc. The error is occurring while developing a
asp.net web application (framework 4.5).
On Dec 9, 2015 3:44 AM, "Richard Ross" <notifications@github.com> wrote:

[2015-12-09 10:21] ViolentCrumble commented on #90
Can you give an example of the fix...

[2015-12-09 10:24] ViolentCrumble commented on #114
Still no response?? I cant even make a logout function cause it just crashes.

[2015-12-09 11:22] #115 closed

[2015-12-09 12:33] gusennan commented on #47
@richardjrossiii I'll try to share the good and avoid the half-baked ideas, because I have a lot of those too.

One idea that I'm exploring is saving the keys in the ApplicationSettings (as defined in PlatformHooks.Mono.cs for the Android and iOS platforms).  On Android, because of the order that the application is loaded (or rather, not loaded, see https://github.com/ParsePlatform/Parse-SDK-dotNE

[2015-12-09 12:49] Bestlis commented on #116
I think I find out solution: I didn't create class in Parse console.
When I created, then error dissapear.

[2015-12-09 13:13] Bestlis commented on #116
But now I have another problem: no data save to Parse. Only ObjectId, createdAt, updatedAt and ACL.
Any ideas?

[2015-12-09 14:18] PauliusLiekis commented on #111
@richardjrossiii this still doesn't - I still get the same error. Have you tried it yourself?

My understanding is that ReflectionHelpers.FindConstructor tries to call extension method GetConstructors, but it doesn't call extension method ReflectionHelpers.GetConstructors, but calls instance method Type.GetConstructors instead, because:

* An extension method will never be called if it has the sam

[2015-12-09 22:41] richardjrossiii opened #121 "Support ASP.NET"
Currently, our SDK does not support ASP.NET as a platform. It would appear that there are a few people who are attempting to currently use our SDK in ASP.NET platforms (see #117), so we should probably eventually support this.

This issue will track our roadmap and remaining issues for ASP.NET support, as I continue investigating into that front.

If you would like to help, please leave a comment

[2015-12-09 22:43] richardjrossiii commented on #117
Ahh, that would be why. Our SDK currently doesn't support ASP.NET as a platform, but we have recently talked amongst the team (yesterday even) about supporting this as a platform. I've opened #121 to publicly track ASP.NET as a platform, so know that we are aware and planning to eventually get there.

Unfortunately I can't give an ETA at this time.

[2015-12-09 22:43] #117 closed

[2015-12-09 22:45] richardjrossiii commented on #114
I've looked at the log and I cannot see anything that looks like the editor crash is directly related to parse. My best guess is that there's some kind of flaw in Unity's debugger, and that the issue lies with them (even if there is a bug in our code-base, it shouldn't ever crash Unity Editor).

[2015-12-09 22:47] richardjrossiii commented on #111
@PauliusLiekis The issue has been fixed, although if you don't build it yourself you won't see the fix yet. We'll need to release a new version of the SDK to do that, which will be forthcoming soonish.

[2015-12-10 03:22] gemsuraj commented on #117
Thanks Richard.
On Dec 10, 2015 4:13 AM, "Richard Ross" <notifications@github.com> wrote:

[2015-12-10 03:31] ViolentCrumble commented on #114
hmm strange ok. I amt rying to extend out the logout function and it has stopped the crashing.. still now redirecting but at least its not crashing..

[code]

Parse really needs some better working docs though almost everything has been nothing like the examples.

[2015-12-10 04:04] hallucinogen commented on #116
Have you saved the data properly? Have the object that you said only have ObjectId, CreatedAt, UpdatedAt and ACL been saved properly? How did you verify that the object only contain those data? Try the following code:

[code]

And FYI, if you save a field called `fieldName` in a `ParseObject`, you can access it by calling `obj["fieldName"]` - not `obj.fieldName`. This is stated in Parse documentat

[2015-12-10 08:26] PauliusLiekis commented on #111
@richardjrossiii I'm building myself, so yeah I have everything latest. Maybe the problem is that I'm using MonoDevelop to compile it, but as I said it looks like GetConstructors extension function indeed shouldn't get called according to MSDN specification of extension functions.

[2015-12-10 20:26] #111 closed

[2015-12-11 16:50] MarcusSpecht opened #125 "Custom Events not showing up in explorer"
I am not sure if this is really related to the .Net SDK since problem occurs with Analytics explorer. But for now I only use parse with Parse-SDK-doNET. So here we go:

This works:
Analytics -> Events -> Custom Breakdown Count of event = showing updated event after several roughly 5 minutes

This doesn't work:
Analytics -> Explorer -> Raw Data -> Run Query for custom events unfiltered = doesn't sh

[2015-12-11 17:25] hallucinogen commented on #125
Hi there,

Since you mentioned that it works on Analytics -> Events -> Custom Breakdown Count, I assume this is a backend issue that fails to display the event on Analytics -> Explorer -> Raw Data -> Run Query. You can file a backend issue here: https://developers.facebook.com/bugs

[2015-12-11 17:25] #125 closed

[2015-12-14 08:39] sercante opened #126 "Unity+WindowsPhone dll conflict with Parse dll"
Hi, I'm currently using Parse for my Unity application and it's already working on Android and Ios, now we are trying to make it work on Windows phone 8.1, but there is a conflict with the dll files.

Assets\Scripts\3rd Party Integrations\ParseManager.cs(432,32): error CS0433: El tipo 'System.Threading.Tasks.Task' existe tanto en 'c:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NE

[2015-12-14 20:18] richardjrossiii commented on #126
Because Unity on Windows Phone platforms uses the built-in .NET Framework, instead of the mono 2.0-based solution, you'll have to fork & re-compile the SDK yourself without our tasks framework included. You should just be able to exclude the 'tasks' folder from the `Parse.Unity.csproj` project and compile.

Unfortunately Unity on windows phone is sort of a second-class citizen, as it has nowhere n

[2015-12-15 00:41] #106 closed

[2015-12-15 11:20] sercante commented on #126
I'm afraid it's going to be more complex  than just excluding the Tasks folder in the Parse.unity project, the reference of System.Threading.Taks is being used by the rest of the code and without the classes it can't fulfill the reference. I was able add the reference manually to the same location I'm using from Unity and build the dll, but the same error appears in Unity.

Since I'm not quite exp

[2015-12-16 08:25] Bestlis commented on #116
Hello, hallucinogen.
Thanks for reply!

This works fine:

var obj = new ParseObject ("SolitaireWithFriendsiOS");
   obj ["foo"] = "bar";
    obj.SaveAsync ().ContinueWith (t =>
{
    print ("Result: " + t.IsCompleted);
});

This throws exception NSURLErrorDomain error -1012:

IEnumerator ParseSave()
{
	var obj = new ParseObject ("SolitaireWithFriendsiOS");
	obj ["foo"] = "bar";
	var query = obj.Sa

[2015-12-16 09:16] sercante opened #130 "Unity+WindowsPhone dll conflict with Parse dll"
Hi, this was a closed issue #126  but since I didn't close it I was unable to reopen the disscusion as you advice me to do if I would have problems with the workflow. Leaving me no option but to create a new one. Here is the problem.

Hi, I'm currently using Parse for my Unity application and it's already working on Android and Ios, now we are trying to make it work on Windows phone 8.1, but there

[2015-12-16 21:55] richardjrossiii commented on #130
Hey, I've reopened #126. Lets continue discussion there.

[2015-12-16 21:55] #130 closed

[2015-12-16 21:58] richardjrossiii commented on #126
We are currently working on support for Unity in the context of windows phone, but it's still not a supported platform yet. In order to do so we will have to change how we reference `System.Threading.Tasks`, you are correct.

Unfortunately we do not have an ETA at this time for supporting Unity and WindowsPhone.

[2015-12-16 22:49] JodyAndrews opened #131 "Xamarin Forms + Parse 1.6.2 Component Error 404 and 400"
Hi,

Sorry to ask this as maybe it's covered somewhere but I'm not having much look finding it.

Whenever I make a LoginAsync request, or SignUpAsync (amongst others) if an error occurs (incorrect password, email already exists etc) rather than receive a reason I get either 404 not found or 400 bad request.

I'm sure this used to work in Parse 1.5.5

Example SignUp using an email that already exis

[2015-12-17 00:49] richardjrossiii commented on #131
Our networking stack was changed in 1.6.0 and as a result our error reporting is not the same.

We do need to fix this at some point so that we can properly throw `ParseException`s again.

[2015-12-17 10:04] JodyAndrews commented on #131
Okay thanks Richard, that's unusable in my case. I'll check out the REST API instead.

[2015-12-17 17:56] brett-estabrook commented on #99
I'm seeing a similar problem, whats the latest version I should downgrade to and see this fixed (or when is a fix coming out).

http://stackoverflow.com/questions/34340677/parseexceptions-not-getting-thrown-for-callfunctionasync

[2015-12-17 18:54] hallucinogen commented on #99
This should be fixed in #132. Feel free to reopen if the problem persists

[2015-12-17 18:54] #99 closed

[2015-12-17 19:12] kostub commented on #106
Not able to reproduce this with 1.6.2 so I assume it has been fixed. I will confirm when our app with that release goes into production.

[2015-12-17 19:16] kostub commented on #101
We are seeing this in our Xamarin iOS app. When the app loads a lot of data from Parse it freezes for a few seconds while it is parsing the data especially on older phones.

Would like if we can speed up parsing (maybe use Json.net) or move the parsing to a background thread.

[2015-12-18 01:40] animepauly opened #135 "Unity Android Parse 1.6.2 throws error: Parse.com Unity AndroidJavaException: java.lang.ClassNotFoundException:com.parse.ParseUnityHelper"
I am not using Parse Push at all and I don't even have a parse Android manifest file in my app, so I am unsure what is trying to access the ParsePushUnityHelper class, but this error is thrown a lot in my app and I can't stop it. I did a search for even a reference to that class in all of my files and can't find any.

[2015-12-18 08:55] #126 closed

[2015-12-19 15:06] BestStream opened #136 "FormatException: Input string was not in the correct format"
I get a lot of errors from users ((

FormatException: Input string was not in the correct format System.Type.GetTypeFromHandle (RuntimeTypeHandle handle) System.Int32.TryParse (System.String s, Int32& result) Parse.Internal.HttpClient+<>c__DisplayClass10+<>c__DisplayClass16.<ExecuteAsync>b__a (UnityEngine.WWW www) Parse.PlatformHooks+<>c__DisplayClass24.<RegisterNetworkRequest>b__23 () Parse.Platf

[2015-12-19 15:07] BestStream commented on #136
I have to use Unity4 so I cant upgrade to the latest version of Parse SDK

[2015-12-21 13:30] mrksoftware opened #137 "[UWP] Support for interactive notification"
Please add the ability to send interactive notification from cloud code.

http://blogs.msdn.com/b/tiles_and_toasts/archive/2015/07/02/adaptive-and-interactive-toast-notifications-for-windows-10.aspx

[2015-12-21 18:23] richardjrossiii commented on #136
Seeing as we don't support Unity 4 any longer, closing this issue as won't fix. I highly suggest you upgrade to Unity 5.

[2015-12-21 18:23] #136 closed

[2015-12-21 18:27] richardjrossiii commented on #137
This is definitely on our roadmap to support Windows 10 UWP projects. Seeing as we don't officially support it (though there *is* a fork which exists currently to implement it, see #91), we don't currently have back-end support for UWP push either.

This is coming, but it's definitely a roadmap project, so no ETA can be given ATM.

[2015-12-21 18:54] meneses-pt opened #138 "ParseInstallation.CurrentInstallation.SaveAsync() not working when device is not in English."
When I try to call the method:

    ParseInstallation.CurrentInstallation.SaveAsync();

on a phone that is configured with a language other than English

I get an InvalidOperationException: "Cannot change the `timeZone` property of a `_Installation` object."

This occurs because Windows Phone is returning a localized string for the local timezone information. Because that string is localized it wo

[2015-12-21 19:34] BestStream commented on #136
As I ritten before, I cann't do it. It is a pity that you simply throw your users

[2015-12-21 19:37] BestStream commented on #136
You should at least leave the stable version of Unity4 before leaving it

[2015-12-24 03:41] #114 closed

[2015-12-25 15:14] dhanrajsinh24 commented on #114
I am having problems in Unity 5.3.0. When i call "ParseUser.LogOut()", Unity Hangs and i have to force close Unity and start it again.

[2015-12-25 15:16] dhanrajsinh24 opened #140 "ParseUser.LogOut() Hangs Unity 5.3.0"
I am having problems in Unity 5.3.0. When i call "ParseUser.LogOut()", Unity Hangs and i have to force close Unity and start it again.

[2015-12-26 02:10] ViolentCrumble commented on #114
see what i did above? use my code to try and catch the error.

Noone at Parse will help you.

[2015-12-28 11:14] micheljung commented on #37
Is there any solution? It's blocking me as well; Notifications for foreground apps are rather not what you need ;-)

[2015-12-28 17:10] brett-estabrook opened #141 "Compiling with Xamarin GUI on OSX 10.10.5"
I've checked out the source code from git, and opened the solution in an indie version of Xamarin (5.10.1 build 6). When I set the configuration to Release|iPhone and compile, it generates the Parse.iOS.dll and Parse.iOS.xml files. However, the files are very small (4KB and 126 Bytes respectively), and they don't appear to be usable.

I'm hoping it maybe as simple as just adding some documentation

[2015-12-29 09:56] kingyond opened #142 "Sometimes Hung app UI on iOS 9 with Parse SDK 1.6.2"
In some condition, the app hung the UI. Looks like the hung cause by ParseClini.Init,  the PlatformHook using ParseInstall to saving/updating. Problem reason maybe thread block.
Past the main thread call stack while hunging,

[code]

[2015-12-29 09:58] kingyond commented on #142
PS: iOS 9.2

[2015-12-29 15:08] brett-estabrook commented on #141
The csproj file uses wildcard characters to include and exclude files:
[code]
When I went through and re-added all the files manually it worked.

[2015-12-29 20:25] mrksoftware commented on #137
This is definitely a good news! Back in the days I choosed Parse because was easy to understand and because it was multiplatform. Please continue to support the Windows environment! Thank you

[2015-12-30 09:41] #116 closed

[2015-12-30 18:54] hallucinogen commented on #116
Not sure about this. Both essentially do the same thing (though your code is not actually doing query, but only saving).

`NSURLErrorDomain error -1012` happens usually if there're internal WWW error from Unity. In my previous case it was because Unity couldn't handle HTTPS, but it was fixed in 5.2. I suggest to look around on the usage of Unity WWW using co-routine/generator function since it see

[2016-01-01 08:09] cbothra commented on #95
Hi Benzino,
I am also facing the same issue. Did you managed to resolve it? Could you please share your resolution for this issue?

[2016-01-04 18:47] richardjrossiii commented on #141
It would appear that Xamarins version of MSBuild does not properly support wildcard paths, yes. I would file a bug with them and see if they can get it fixed, as using wildcard paths makes our life so much easier supporting new platforms in the future (all of our development is done inside of Visual Studio).

[2016-01-04 18:47] #141 closed

[2016-01-04 18:49] richardjrossiii commented on #135
Even if you are not using Push, we still require you to include ParsePush.jar (available in the download from Parse.com, or you can compile it from our repo) if you are targeting android via unity.

[2016-01-04 18:51] richardjrossiii commented on #138
Thanks for the report. I'll look into both parts of this bug (the localized timezone information, and the `SetIfDifferent` bug), and get back to you.

[2016-01-05 15:49] paradizIscool opened #143 "Tracking push opens is not supported on Unity now."
Hi all,

We really need this feature in Unity. We really need to track the campaigns and A/B Testing results. We want to make them more efficient.

Is there a way to do this, without using the Android/IOS Plugin ? Especially Android because of dex limit.

Thanks

[2016-01-05 20:06] richardjrossiii commented on #140
Duplicate of #114.

This appears to be an issue with the unity editor itself, and unless additional evidence can be presented to show that this is not a bug in the unity editor, I'm going to close this.

For the record, I locally tested on Unity 5.3.1f1, and this works as expected:

	// Use this for initialization
	void Start () {
		ParseUser.LogInAsync ("foo", "password").ContinueWith (t => {

[2016-01-05 20:06] #140 closed

[2016-01-05 20:20] hallucinogen commented on #143
Thanks for the report. If you're using Parse Push and can receive push already in your Parse Unity SDK-powered app, then the Android Plugin is required whether you track the push open or not (it's only 13KB anyway). This feature is in timeline, but I can't give you a specific timeline for this yet.

[2016-01-06 20:47] bnham commented on #138
So I think the general heuristic should be something like:

# Look up IANA identifier from StandardName => IANA dict. If there's a match, use it. This works for English locales and doesn't lose daylight savings time info.
# If (1) doesn't work, then use the UTC offset do generate the appropriate Etc/* time zone. This loses daylight savings time info, but what can you do.
# If there is a non-zero m

[2016-01-07 23:47] inlined commented on #138
Oh man, it's been years since I ran into this. Adding some historic context since I'm no longer at Parse. If I recall correctly, the methods for asking for the locale-neutral (aka en-US) time zone is not available in WinRT so you can't do it reliably in a portable binary. The temporary fix was to change the current thread's locale temporarily to locale-insensitive, but this threw a security error

[2016-01-08 01:43] #67 closed

[2016-01-08 12:09] Vaibhavmalik3122 commented on #63
@Julien-Mialon @richardjrossiii  we are able to build our project using the Parse.UWP reference , and sucessfully registered the username in the Installation table. But, when trying to send a Test push notification via Parse push portal, it is NOT able to sent.

[2016-01-08 18:12] meneses-pt commented on #138
Well, I have a solution that I have used in a project of mine, using TimeZones because of the exact same problem.

If you feel like trying it, go ahead. Also if you have questions, please feel free to ask.

[code]

[2016-01-08 18:55] richardjrossiii commented on #63
@Vaibhavmalik3122 Yep, that sounds par for the course. Our backend does not currently support UWP push, and won't until we 'officially' support the UWP version of the SDK in an official capacity, sadly.

[2016-01-08 20:17] Julien-Mialon commented on #63
@Vaibhavmalik3122 : that sound weird, I'm currently using it with an UWP app without any issues, push notifications work great. It uses the same system than WinRT app.

[2016-01-08 20:20] inlined commented on #138
Well, I'm unlikely to contribute to the Parse SDK anymore since I now work at Firebase. If you end up with any timezone in the [TZ-database](https://en.wikipedia.org/wiki/Tz_database) you'll get support for local push delivery times. Try to get ones like America/Los_Angeles, which capture DST rules so you don't end up with customers getting notifications at the wrong between a DST transition and t

[2016-01-08 20:24] richardjrossiii commented on #138
@inlined @meneses-pt I have a solution locally that should cover all of these use-cases, it will be public within a few hours after some additional testing (testing the north Korean timezone is surprisingly difficult).

Thanks for all of your input.

[2016-01-08 21:21] #138 closed

[2016-01-09 06:36] birdkingz opened #150 "Initialization during Unity Editor mode"
Is there any way to allow Parse initialization works properly without hitting the Play button on Unity?
I want to run it during Editor mode so I can write an Editor to do Parse actions.

PS: Not sure is this a right place to ask about this feature.

[2016-01-09 06:37] birdkingz commented on #150
not sure is this a right place to ask about this question...

[2016-01-11 02:06] cfoulston commented on #150
Yes. You need a bit of Reflection and an ability to run a Coroutine in the Editor.

Editor Coroutines: https://gist.github.com/benblo/10732554
Start a Coroutine OnEnable on your EditorWIndow or Editor:

[code]

[2016-01-11 06:53] Vaibhavmalik3122 commented on #63
@Julien-Mialon could you please elaborate what small modifications on parse code were you talking about for Parse.UWP to use internal types in previous comments ?

[2016-01-11 16:56] andsee commented on #102
Are there any solutions to this? I'm now stuck as to how to use Parse within Unity3D on Android. I've updated to the latest 1.7 and suffer the same issue it won't build with stripping enabled which is a requirement for the app.

I'm not using the notifications, so perhaps the notification side of the SDK could be split int a separate dll?

Or perhaps the sdk needs to be split into two, one for iOS

[2016-01-11 19:22] richardjrossiii commented on #150
@cfoulston is correct in his approach, if you do that, alongside a call to `ParseClient.Initialize()`, you should be good to go.

[2016-01-11 19:26] richardjrossiii commented on #102
@andsee we have no plans to split the SDK for unity into multiple platforms at this time (it would make deploying our SDK via the Unity Asset Store as we do right now a nightmare), nor do we have plans to split out the notifications portion of the SDK.

My recommendation would be to clone the source code, take out the parts related to notifications (essentially everything related to ParsePush) and

[2016-01-11 19:35] andsee commented on #102
Doesn't this issue make the unity android sdk and therefore the unity sdk if you're interested in multi-platform development pointless? You just end up with a nasty surprise when you port to android after iOS that the solution you have doesn't work.

There must be another way around this. I've used over 20 other sdks (which target multiple platforms) within unity without such issues.

It's really

[2016-01-11 19:41] richardjrossiii commented on #102
@andsee You should still be able to compile with assembly stripping off (yes, that does increase application size), and that's our current recommended workaround for this issue.

And actually, the *real* issue here comes down to an IL2CPP issue. We used to be able to reference the notification libraries by class name using reflection, but IL2CPP stopped generating property info as of version 5.0 f

[2016-01-11 19:49] andsee commented on #102
I'm wondering what it is in the parse sdk that requires the additions to the link.xml file, does this stop Unity from stripping the calls iOS away?

Perhaps there's some class that needs to be linked in part which I could call a function on to force the link instead of forcing everything to remain. I hadn't come across link.xml until this SDK.

So some Unity side c# init function that ensures what

[2016-01-11 20:01] richardjrossiii commented on #102
@andsee So the reasons, IIRC for `link.xml` come down to IL2CPP not allowing construction of generic types that aren't explicitly in the binary.

This means that if we were to say, for example, parse a `Dictionary<string, List<ParseObject>>` from our server, it would crash with IL2CPP turned on without the link.xml because that *specific* dictionary type with those type arguments doesn't exist.

M

[2016-01-11 20:09] andsee commented on #102
Does that mean for Android (not using IL2CPP)  I don't need link.xml? Or have the changes made to support IL2CPP on iOS mean't that it is still needed?

Many thanks for your responses by the way, I'm just trying to weigh up the quickest possible solution to attempt (ideally with stripping) as typically deadlines are tight.

[2016-01-11 20:14] richardjrossiii commented on #102
@andsee I'm not 100% sure. I personally have not done much testing with android and unity -- it's never been a platform that has gotten many bug reports.

You could try it out and report it back, as that would probably be quicker than me trying to set up an environment to mirror yours.

Good luck, and let me know how I can help you further.

[2016-01-11 22:19] animepauly commented on #135
I can confirm that putting in ParsePush.jar into my project worked, BUT this seems to be extremely problematic if that's the case, because the ParsePush.jar is not included in the Parse Unity SDK. Plus this is not in any documentation that I can find where you have to have that Jar file if you are using Unity and deploying to Android. Please at least put this .jar file in the sdk and put a not in

[2016-01-11 22:30] richardjrossiii commented on #135
@animepauly IIRC it's included in the unity packaging download, but for licensing reasons is/was not in the NuGet distribution or on our website. We may be able to update this in the future.

[2016-01-11 23:23] richardjrossiii commented on #135
@animepauly ParsePush.jar will be included with the main SDK deployment in the next release.

[2016-01-11 23:23] #135 closed

[2016-01-12 11:59] andymads commented on #92
Any news on this one?

[2016-01-12 12:03] andymads opened #151 "What changed in 1.7.0?"
The changelog here https://parse.com/docs/downloads does not give details for 1.7.0.

[2016-01-12 14:24] ngocphamm opened #152 "Extending ParsePushBroadcastReceiver"
Hi,

I'm trying to extend the ParsePushBroadcastReceiver so I can have some custom data parsed from the notification Intent Extras.

According to [this](https://parse.com/docs/android/guide#push-notifications-receiving-pushes), I should be able to extend the class. However, in C#, the class is `public sealed`. How am I supposed to do the subclass here, then?

I apologize if this appears to be a ba

[2016-01-12 14:41] mzekrallah commented on #37
hi guys .. any update to this ? i'm having same issue and it's a show stopper for us .. please help ..

[2016-01-12 19:14] richardjrossiii commented on #151
@andymads Thanks for the report, it will be fixed by end of day.

For future reference, the source of truth for all of our releases is now [here on GitHub](https://github.com/ParsePlatform/Parse-SDK-dotNET/releases), which will always contain the updated release notes.

[2016-01-12 19:14] #151 closed

[2016-01-12 19:18] richardjrossiii commented on #152
Yep, this is definitely a bug, considering our official .NET guide says you should be able to subclass.

I'll get a fix out soon.

https://parse.com/tutorials/android-push-notifications

[2016-01-12 19:25] ngocphamm commented on #152
Oh nice. Thanks for your response @richardjrossiii. Looking forward to an update!

[2016-01-12 20:54] hallucinogen commented on #37
#153 will fix it. But I'll discuss with the team first to make sure we want to do this.

[2016-01-12 22:32] richardjrossiii commented on #46
AFAIK, 1.7.0 is now fully signed and ready to go, so I'm closing this issue out. Let me know if you run into any problems!

[2016-01-12 22:32] #46 closed

[2016-01-14 05:56] jeanfabre opened #155 "NullReferenceException of .ACL property of a parseObject in Unity"
Hi,

 Following @hectorramos (https://twitter.com/hectorramos/status/687344122374389760) suggestion, I am posting an issue here that has been going on for few month already it seems.

 The .ACL property of a parseObject has a bug, it's not accessible. Even the code snippet provided in the guide do not work:

[code]
Full working component available below for testing:
https://snipt.net/jeanfabre/par

[2016-01-14 06:03] f1lander opened #156 "input JSON was invalid"
HI, I've this error when I try to get object from parse cloud, It's worked but now just started to get this error.

This is my code:
    var query = ParseObject.GetQuery("Travels");
    var results = await query.FirstAsync();

The catch error send me "Invalide repsonse from server" and the innerException "input Json was invalid"

I work in WP8 app (.net)

Thanks!

[2016-01-14 08:55] Julien-Mialon commented on #63
@Vaibhavmalik3122 : you can check my commit for uwp support there : https://github.com/Julien-Mialon/Parse-SDK-dotNET/commit/d6ac21ae89e8b22d30b17daf127c3ac123912b01
Basically, modification in Parse code was in ParseClient.cs to add Parse.UWP to assembly list to use when looking for implementation of interfaces and in AssemblyInfo.Portable.cs add this line [assembly: InternalsVisibleTo("Parse.UWP"

[2016-01-14 19:31] richardjrossiii commented on #155
This is a duplicate of #90, and was fixed in the 1.7.0 release, which was just accepted into the Unity Asset Store yesterday.

Feel free to re-open this if that doesn't work.

[2016-01-14 20:09] jeanfabre commented on #155
Hi,

 I think the problem is actually the package that you submitted that is totally wrong.

If you import the package currently on the asset store on a fresh project with just my test script, you'll get this:
![screenshot](http://i.imgur.com/G13XWMc.png)

Unless I am totally blind and missing the obvious? :) It seems that the Parse folder is gone, I don't see the 'Parse.Unity.dll', and the actual

[2016-01-14 20:30] richardjrossiii commented on #155
@jeanfabre It would appear that Unity's asset tools are not properly working at the moment (there are issues with the latest version of Unity not even allowing to compile for asset release, and I wrongfully assumed that rolling back to a known working version of the Unity editor would fix that.

You can still download the latest version from either our [GitHub releases](https://github.com/ParsePla

[2016-01-15 00:03] animepauly opened #157 "Error when trying to build to WebGL from the UnusedBytCodeStripper"
When I try to build to WebGL, I get this error that prevents me from doing so:

Failed running /Applications/Unity/Unity.app/Contents/Frameworks/Tools/UnusedByteCodeStripper2/UnusedBytecodeStripper2.exe -out "/Users/paulborawski/www/adquizition/adquiz_app_unity/quizapp/Temp/StagingArea/Data/Managed/tempStrip" -l none -c link -b False -x "/Applications/Unity/PlaybackEngines/WebGLSupport/Whitelists/

[2016-01-15 00:05] animepauly opened #158 "Error when trying to build to WebGL from the UnusedByteCodeStripper"
When I try to build to WebGL, I get this error that prevents me from doing so:
[code]

I haven't messed with the link.xml so not sure what the problem could be. I am using Parse SDK 1.7.0 and Unity Pro 5.3.1f1

[2016-01-15 00:09] richardjrossiii commented on #157
We do not currently support WebGL as a target for Unity.

Please note that internally, we are working *extremely* hard to get this to a working state, and it will hopefully be ready at some point before the end Q1 2016. Its a lot harder than it looks, due to some issues with multithreading, assembly stripping (as you have discovered) amongst other things.

[2016-01-15 00:09] #157 closed

[2016-01-15 00:09] richardjrossiii commented on #158
Dupe of #157.

[2016-01-15 00:09] #158 closed

[2016-01-15 00:20] animepauly commented on #157
Oh ok, thanks! I thought I read somewhere that people got it working.

[2016-01-15 07:52] mehul9595 commented on #63
@Julien-Mialon Could you provide sample solution to use Parse.UWP solution? I tried to use it by creating new UWP project and referencing the library. On app launch adding this line "await ParsePush.SubscribeAsync("");". But it throwing exception Unable to cast object of type 'Parse.ParseObject' to type 'Parse.ParseInstallation'. please help.

[2016-01-15 07:55] Vaibhavmalik3122 commented on #63
![screenshot 90](https://cloud.githubusercontent.com/assets/8916969/12348246/6e36bbbc-bb8b-11e5-8af3-bb1d796d0e7d.png)
@Julien-Mialon we have the latest pull of the repository and hence all the modifications you talked about are already there(check the screenshot attached).But still we are not able to send push Notifications from parse dashboard. We need to complete this as our official project de

[2016-01-15 08:19] jeanfabre commented on #155
No worries, thanks for the links on the downloads page, I didn't know Unity support was distributed like that too.

-- It's all good know.

I'll wait for the Asset store package issue to be resolved before wrapping up an update around 1.7.0 for the PlayMaker Support.

It's great to see that Parse is finally giving proper attention on the support side for Unity, it's reassuring :)

Thanks for your

[2016-01-15 08:19] #155 closed

[2016-01-15 08:21] jeanfabre commented on #150
Indeed, this is a great tip! I also want to use Parse during editing, not just during playback.

[2016-01-15 08:29] jeanfabre opened #159 "Improve clarity of installed version inside a Unity project"
Following a tricky issue https://github.com/ParsePlatform/Parse-SDK-dotNET/issues/155

I strongly suggest to prevent further misunderstanding that the Unity Package for Parse includes in readme the actual version of the dll. It will prevent us wondering what version of Parse we have, and unecessary frustrations from all parties.

Thanks,

 Jean

[2016-01-15 09:50] mehul9595 commented on #63
I was able to fix cast exception by referencing Parse.dll and initializing ParseClient.Initialize("key", "key") method. But still no luck with push notifications from Parse console :(

[2016-01-15 11:17] Julien-Mialon commented on #63
I just tested this procedure, tell me if it works for you. Otherwise, we can plan teamviewer or skype session to debug that issue.

- create vs project UWP W10
![01-project_creation](https://cloud.githubusercontent.com/assets/2600581/12351857/603e3242-bb81-11e5-9fa0-7dfffa1e9a03.png)
- clone parsesdk github from my profile (with modification for UWP)
- copy Parse & Parse.UWP directory in your proj

[2016-01-15 12:58] lukaszkalnik commented on #63
Great guide, thank you @Julien-Mialon! I have made only a small modification: I'm calling `await ParseInstallation.CurrentInstallation.SaveAsync();` in `async onLaunched()` (and not in constructor), as it's an asynchronous method.

[2016-01-15 14:24] mehul9595 commented on #63
@Julien-Mialon Thanks for steps!
As from the steps you mentioned, I was not doing "ParseInstallation.CurrentInstallation.SaveAsync();"
but I will try with this change and see if it works. Thanks again!

[2016-01-15 15:04] lukaszkalnik commented on #63
Although right now I have the (small) problem that the push opens don't get tracked in Parse.com (only push sends - I see e.g. 2 pushes sent and 0 opened).

My code looks like this:

        public App()
        {
 (...)
            ParseClient.Initialize(app_id, app_key);
        }

(...)

        protected override async void OnLaunched(LaunchActivatedEventArgs e)
        {
(...)
            awa

[2016-01-15 19:52] richardjrossiii commented on #159
(Assuming the unity asset packager ever works again), yes, I agree, this sounds like a good idea, and shouldn't be too hard to implement.

[2016-01-15 20:33] sw-ngoc commented on #152
I couldn't wait for the fix to come out, so I get this project (with your fix to this issue) and build the dll myself. However, I realize that even that wouldn't help me anyway.

This is the class in Java
https://github.com/ParsePlatform/Parse-SDK-Android/blob/master/Parse%2Fsrc%2Fmain%2Fjava%2Fcom%2Fparse%2FParsePushBroadcastReceiver.java

And this is the one in .NET
https://github.com/ParsePlatf

[2016-01-15 20:36] ngocphamm commented on #152
I couldn't wait for the fix to come out, so I get this project (with your fix to this issue) and build the dll myself. However, I realize that even that wouldn't help me anyway.

This is the class in Java
https://github.com/ParsePlatform/Parse-SDK-Android/blob/master/Parse%2Fsrc%2Fmain%2Fjava%2Fcom%2Fparse%2FParsePushBroadcastReceiver.java

And this is the one in .NET
https://github.com/ParsePlatf

[2016-01-16 08:53] birdkingz commented on #150
It works like a charm!
Thank you so much!

[2016-01-16 17:05] VanWardawg opened #160 "Parse Unity SDK only works with Android and IOS"
I'm trying to build a cross platform app with Unity and I love Parse but I want to take advantage of windows 10 and WebGL platforms. Is there a timeline for when those platforms will become supported or some documentation on how to use those platforms if they are supported?

Thanks,
Kevin Hinton

[2016-01-18 02:03] mehul9595 commented on #63
I tried with above steps but still cannot send push successfully, this is what i see on Parse dashboard
![image](https://cloud.githubusercontent.com/assets/6695245/12381719/ae40f664-bdca-11e5-8cdc-0436651f9e32.png)

[2016-01-18 08:27] p0w1nd commented on #143
+1
I've been waiting for this feature too. Thanks.

[2016-01-18 08:40] phonggenix opened #161 "[Unity] Support for getting payload info when user taps on device's notification bar (app is in background)"
Our scenario (Android):

We're making an async multiplayer game, using Parse to manage users, matches,... and also have cloud code to push between users when it's their turn.

The game can receive payload info while it's in foreground. But in the case that it's minimised, when user taps on the notification, the game cannot get payload data.

**Expected:** when user taps on notification, the game o

[2016-01-18 11:25] Julien-Mialon commented on #63
@lukaszkalnik @mehul9595 about the opened notification count, it's an issue from Parse. I just tried with the WinRT sdk (nuget 1.7.0), it doesn't work either. The sdk expect to receive a json with "push_hash" field to track push notification open count. And this field is not sent by Parse backend, just receiving something like {"alert":"push notification message"}

[2016-01-18 11:29] lukaszkalnik commented on #63
@Julien-Mialon cool, thanks so much for the information! You are really helping a lot, I appreciate it!

[2016-01-18 12:33] Julien-Mialon commented on #109
Hello @SamAlbuga I just looked on your issue, I can reproduce this exception when I'm calling ParseInstallation.SaveAsync method.

@richardjrossiii I just checked with last nuget package for Windows 8, it's the exact same behavior.

[2016-01-18 12:44] Julien-Mialon opened #162 "Cannot track opened push notification WinRT (UWP too)"
Hello,

I just looked at the problem referenced there : https://github.com/ParsePlatform/Parse-SDK-dotNET/issues/63#issuecomment-172407281 about the opened count of push notification which stays at 0.

I tested with WinRT (nuget v1.7.0) and my UWP implementation (https://github.com/ParsePlatform/Parse-SDK-dotNET/pull/91) and when using `ParseAnalytics.TrackAppOpenedAsync(args)`, it expects to have

[2016-01-18 12:49] Julien-Mialon commented on #63
@lukaszkalnik I just opened a dedicated issue (#162) for the problem with the missing field in json notification.

[2016-01-18 13:40] Vaibhavmalik3122 commented on #63
@Julien-Mialon Notifications are working good. Thanks for the steps. But, one issue is bugging us , whenever the app is in Foreground state , the toast notification banner does not appear , even after the app is closed , no notification appears in Action center. The ParsePush.PushNotificationReceived is hit everytime , but on the OS level no notification shows up.

[2016-01-18 16:57] Julien-Mialon commented on #63
@Vaibhavmalik3122 I just tested foreground notifications and it works without issue, can you check with the project available there : https://github.com/Julien-Mialon/Parse.UWP.Sample, you just have to associate the app with the store and write your Parse appid and .net key in Constants.cs.

If it's doesn't work for you, check if in the event handler of PushNotificationReceived, args.NotificationT

[2016-01-18 21:15] michstmatt commented on #63
I followed your steps, the app has been associated with the store, and I had it working in December, now it is randomly not working (I had not tested it for some time because I had got it working). Do you have any more suggestions?

[2016-01-18 21:51] Julien-Mialon commented on #63
@michstmatt If it's randomly working, I can not really think of something from the app that can block this. But I saw some issue from Windows notification service working sometimes.

[2016-01-19 09:35] mehul9595 commented on #63
@Julien-Mialon I was wondering if its possible to send 'adaptive toast notificatoins' which are supported by win10 adaptive templates (ref: http://blogs.msdn.com/b/tiles_and_toasts/archive/2015/07/08/toast-notification-and-action-center-overview-for-windows-10.aspx)
As I can see from Parse dashboard it only allows to send Plain Text or Json data into Push notification. Is there additional things n

[2016-01-19 09:44] Julien-Mialon commented on #63
@mehul9595 Not supported for now but I think there is another opened issue about that. https://github.com/ParsePlatform/Parse-SDK-dotNET/issues/137

[2016-01-19 09:50] mehul9595 commented on #63
@Julien-Mialon well exactly what I was looking for. thanks again!

[2016-01-19 10:30] gusennan opened #163 "Too Many Open Files exception thrown from in Parse.PlatformHooks"
In Xamarin.IOS, I call:

[code]

The method `System.IO.IsolatedStorage.IsolatedStorageFile.OpenFile` fails with a too-many open files error, and the app crashes.

On subsequent launches, the app tries to load the saved JSON file from IsolatedStorage, but this file was corrupted on the last save, and the app crashes immediately with:

[code]

The attached files are exception logs corresponding to t

[2016-01-19 10:51] gusennan commented on #85
Looks like it could be related to #163

[2016-01-19 18:31] richardjrossiii commented on #109
@Julien-Mialon Ok, thanks. I'll take another look at this.

[2016-01-19 18:37] richardjrossiii commented on #162
Definitely a bug. As can be seen from https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/blob/master/Parse/Internal/Analytics/Controller/PFAnalyticsController.m#L52-L60, we are supposed to calculate this hash client-side. Fix coming soon.

[2016-01-19 20:47] michstmatt commented on #63
@Julien-Mialon I created a new project, I found out that when I copy the Package SID its adds a blank character at the end. Went back into my original projects parse push settings, sure enough blank character at the end, and its working. Thanks for making this library!

[2016-01-20 02:53] mehul9595 commented on #63
@Julien-Mialon is it possible to send push notification with deeplink? if yes, how can it be handled?

[2016-01-20 08:50] Julien-Mialon commented on #63
@mehul9595 I think you can do that by sending json content in your notification and then parsing this content in your application. You can embed deeplink info in this json.

[2016-01-20 13:34] Julien-Mialon commented on #63
@lukaszkalnik @mehul9595  I just implemented support to track opened notification count in WinRT & winPhone (https://github.com/ParsePlatform/Parse-SDK-dotNET/pull/164) and did the same modification on my uwp fork you can find here : https://github.com/Julien-Mialon/Parse-SDK-dotNET/tree/features/uwpSupport

[2016-01-20 14:14] lukaszkalnik commented on #63
Thanks @Julien-Mialon, I have just tested the opened pushes reporting and it works flawlessly. Great job!

The only weird thing is that now I get an error when starting the Release build on a Windows 10 Mobile device:
0x76CCE031 (combase.dll) in ApplicationName.exe: 0xC000027B: An application-internal exception has occurred (Parameter: 0x038E60F8, 0x00000002).
When I start a Debug build though eve

[2016-01-20 14:20] lukaszkalnik commented on #63
Hmm, I just checked and with your previous version of the SDK I have actually the same problem (Release build not working on a smartphone). Probably this is unrelated to your changes then.

Thanks for your awesome help!

[2016-01-20 22:53] bnham commented on #162
@Julien-Mialon Thank you for your great work on this patch and pointing out this limitation. I think technically it will be cleaner to address this slightly differently though as I'll point out below.

@richardjrossiii I think we should fix this on the server side by sending the push_id directly down to windows devices (we already do this in the Android SDK). Push hash was a mistake/limitation fro

[2016-01-21 12:31] SamAlbuga commented on #63
@Julien-Mialon Thank you, great job! I have a problem with receiving push notifications. After implementing ParsePush.ParsePushNotificationReceived, Parse.UWP throws System.NullReferenceException when the app receives a notification

[2016-01-21 12:33] Julien-Mialon commented on #63
@SamAlbuga I think you have to subscribe to 2 event, ParsePushNotificationReceived and PushNotificationReceived.

[2016-01-21 13:35] mehul9595 commented on #63
@Julien-Mialon is it under master yet? which branch do you suggest to use?

[2016-01-21 14:21] Julien-Mialon commented on #63
For uwp, you can use the branch "features/uwpSupport" on my repo. Not merged with official parse repo for now. https://github.com/Julien-Mialon/Parse-SDK-dotNET

[2016-01-21 14:58] mehul9595 commented on #63
cool, I was using master branch from your repo so far working fine for me without issues. I will change to your feature branch.

[2016-01-21 15:31] SamAlbuga commented on #63
@Julien-Mialon Yes that worked perfectly. Thank you :)

[2016-01-22 18:00] LucasLMartini commented on #62
I need to add to this error. I've followed the quickstart guide for Unity Android and quadruple-checked everything, it is just not working. The device never registers, I don't see any Android devices on my control panel.

Here is my manifest as well, this has been extracted straight from the APK utilizing apktool to decompress it, just to make sure Unity isn't fumbling multiple manifests:

https:/

[2016-01-22 18:52] hallucinogen commented on #62
As long as it has ParsePush.jar under `Assets/Plugins/Android`, the GCM will always try to register and inform us why it's not working by looking at the LogCat. Typically the error will be around "Doesn't have enough permission" all "Doesn't register correct service." Can you take a look at the LogCat and paste it?

Further reading:
1. https://github.com/ParsePlatform/Parse-SDK-dotNET/blob/master/

[2016-01-22 20:14] LucasLMartini commented on #62
Ok, now this is even weirder, I only just realized logcat -s Unity wouldn't get this stuff, so here's what I tried and its output:

https://gist.github.com/LucasLMartini/767981a57a5000c42e44

It does say GCM registration successful, but I don't see any Android devices to push to back in Parse's web control panel!

The odd part is this it seems:
"Cannot save Installation because GCM registration is

[2016-01-22 20:18] mpaolino commented on #62
Just for the record, this didn't work for me so I just gave up on it and use another solution.

[2016-01-22 20:59] LucasLMartini commented on #62
I'll answer my own question:

Unity cannot be paused/backgrounded between ParseInitializeBehaviour running Awake() and receiving the GCM response.

If it is paused, Parse's gameObject won't receive the message to save the user data.

I just changed my scene setup and code to make the ParseInitializeBehaviour object be instantiated only after the video has finished playing and it worked.

[2016-01-22 22:49] kostub opened #165 "Expose ParseUser.SessionToken in the public API"
The SessionToken is currently exposed as an internal function. But it is useful to pass the SessionToken to the BecomeAsync(string sessionToken) function to log in as a particular user.

Both the iOS and Javascript APIs already expose the sessionToken, so the .NET API should as well.

[2016-01-23 15:10] Gustavo23 commented on #160
The same, here.

[2016-01-24 05:30] jaxxon33 commented on #34
GiusepeCasagrande's solution worked for me.

[2016-01-24 14:59] SamAlbuga commented on #109
@Julien-Mialon @richardjrossiii Thank you

[2016-01-25 19:06] richardjrossiii commented on #160
Yes, this is an issue we're aware of and are hoping to have fixed soon. Essentially windows 10 cannot be supported due to the fact that it uses native .NET there, which has their own implementation of System.Threading.Tasks that is incompatible with our custom one for Unity.

WebGL is a little more complex, especially considering threads do not exist for WebGL, but its a similar issue there.

Push

[2016-01-27 05:01] aquaGhost1 commented on #60
@richardjrossiii still occurring on 1.7.0.

[2016-01-27 19:50] richardjrossiii commented on #60
I'll take another look at this.

[2016-01-28 19:41] #156 closed

[2016-01-29 00:26] prodigga opened #166 "Unity3D ParseInitializeBehavior should allow you to specify the ParseServer URL"
So that we can migrate our apps to privately hosted servers.

[2016-01-29 00:28] richardjrossiii commented on #166
Yep. This is forthcoming, after the previously discussed modularization for this SDK completes.

[2016-01-29 02:26] IkeTheDestroyer commented on #161
I had this same problem, I modified the onPushNofticiationRecieved method to always push the payload to unity, not just when it is not paused. https://github.com/ParsePlatform/Parse-SDK-dotNET/blob/master/ParsePush/src/main/java/com/parse/ParsePushService.java
line 134.   my change looked like this inside the try block.
`if(pushPayloadString != null) {
     UnityPlayer.UnitySendMessage("ParseIniti

[2016-01-29 08:17] Vaibhavmalik3122 commented on #63
Hey @Julien-Mialon , when app is in foreground, how can we create a custom toast notif. for the user such that, when clicked, a custom event can be hit instead of Onlaunched. for reference , WhatsApp for WP is a good example.

[2016-01-29 11:58] jaganjan opened #167 "Exception: Android.Content.PM.PackageManager+NameNotFoundException: ComponentInfo{com.company.product/parse.ParsePushService}"
# When i intialize the parse sdk i got this  error

  ParseClient.Initialize(SocialKeyHelper.ParseApplicationId, SocialKeyHelper.ParseDontNetKey);
   LoadApplication(new App())

[2016-01-29 12:03] jaganjan commented on #167
Environment details

Microsoft Visual Studio Community 2015
Version 14.0.24720.00 Update 1
Microsoft .NET Framework
Version 4.6.01055

Installed Version: Community

Visual Basic 2015   00322-20000-00000-AA463
Microsoft Visual Basic 2015

Visual C# 2015   00322-20000-00000-AA463
Microsoft Visual C# 2015

Visual C++ 2015   00322-20000-00000-AA463
Microsoft Visual C++ 2015

Application Insights Tools

[2016-01-29 19:13] richardjrossiii commented on #167
If I had to guess, you're missing a relevant section in your app manifest about push notification services. Follow the guide at https://parse.com/apps/quickstart#parse_push/android/native/existing.

[2016-01-29 20:38] kingmatusevich opened #168 "Certificate Pinning"
The SDKs should be compatible with pinned certificates for connecting to the Parse Servers, allowing for faster, safer deployment, particularly in small or internal deployments.

[2016-01-29 21:05] richardjrossiii commented on #168
This is an awesome idea, and I 100% support it. It will take some time before we can implement this, but I'm pretty sure it can be done.

[2016-01-30 15:57] kenglou opened #170 "WindowsKey instead of ClientKey"
Hi,

I try to get the latest parse from here and also the official website and i found that the ParseClient.Configuration only provide WindowsKey instead of ClientKey, is that the same thing?

and the Migration steps shows that it should be ClientKey from the link here
https://parse.com/docs/server/guide#installation

Thank you.

[2016-01-30 22:05] jbiscuit commented on #57
We are also encountering this issue. Seemingly related, if in testing I have reinstalled the app many times in succession, far more than two pushes can be received. For instance, I just received 51 occurrences of the same push.

[2016-01-31 04:06] sankp opened #171 "How to set up Parse Backend"
Hello,

I am using parse for my small personal application. Now just news came out about Parse is going to stop services after one year and as Parse SDK is open source now. Is there any way to set up backend by ourselves now. If yes then is there any guidelines available to start with ? I have a phonegap app in which i sends push notification from .net. If i want to use direct SDK from here withou

[2016-01-31 19:26] hallucinogen commented on #171
Hi @sankp,

You will want to check out our open-sourced Parse Server here: https://github.com/ParsePlatform/parse-server. The server is compatible with our SDKs (including Parse .NET SDK). The only thing to do from the SDK side is to change the `Configuration.Server` (https://github.com/ParsePlatform/Parse-SDK-dotNET/blob/master/Parse/Public/ParseClient.cs#L129) into your own hosted Parse Server.

[2016-01-31 19:26] #171 closed

[2016-02-01 13:00] marlonconstante commented on #107
Any news on this topic?

[2016-02-01 15:00] kenglou commented on #170
no body answering the qs?

[2016-02-01 17:14] hallucinogen commented on #170
Hi there,

Thanks for the report. The docs was wrong and I have fixed it (waiting for deploy). In .NET the `Configuration` only accepts `WindowsKey` which is .NET key that you can get from the dashboard:

<img width="691" alt="screen shot 2016-02-01 at 9 07 19 am" src="https://cloud.githubusercontent.com/assets/681920/12724741/287a5a52-c8c4-11e5-931f-63dff91667b8.png">

<img width="1139" alt="scre

[2016-02-01 17:14] #170 closed

[2016-02-01 19:12] richardjrossiii commented on #107
@marlonconstante I looked into it while working on #169, but nothing jumped out at me. I'll continue my investigation.

[2016-02-02 08:37] prathmeshnaik91 commented on #156
I am facing the same issue in windows phone 8. When i use this snippet for initialization `ParseClient.Initialize("Application Id", "dot net key"); ` it is working fine but now i am hosting parse server on my local and using  ```
ParseClient.Initialize(new ParseClient.Configuration
            {
                ApplicationId = "Application Id",
                WindowsKey = "dot net key",

[2016-02-02 19:39] richardjrossiii commented on #156
@prathmeshnaik91 Sorry, we need better documentation on this. You should add a trailing slash past your URL (e.g. `http://10.0.10.77:1337/parse/`), and it should work as expected.

[2016-02-03 04:35] prathmeshnaik91 commented on #156
@richardjrossiii thanks its working now (y). I have also proposed change regarding this in git documentation.

[2016-02-03 05:56] mehul9595 commented on #63
@Vaibhavmalik3122 I don't think if that's possible, seems it is an part of enhancement, [137](https://github.com/ParsePlatform/Parse-SDK-dotNET/issues/137) . Once interactive notifications is supported this can be achieved.

[2016-02-03 06:03] mehul9595 commented on #63
I found a case where push notification is sent during device is power off, notifications are not delivered on tablet device when tablet is powered on.
On Windows phone, push notification is seen when device is powered on.
Any clue?

[2016-02-03 14:22] jaganjan commented on #167
Here is my Full implementation

My manifest XML

[code]

My activity

` ParseClient.Initialize(SocialKeyHelper.ParseApplicationId, SocialKeyHelper.ParseDontNetKey);`

[2016-02-03 15:25] jaganjan opened #172 "Twitter login Gateway time Out sometimes unauthorized"
my app twitter login  works with parse  well today before 4.00 pm IST.After 4.00 pm i was getting error and app is crashed .

my C# request
[code]

its returned gateway time out error or sometimes return bad authrization.

**_This code works well before 4.00 PM _**

I also tried in parse api console but response is empty

[code]

**FYI** potential data are marked with xxxxxxxxxxxxxxxx

[2016-02-03 20:29] richardjrossiii commented on #137
Seeing as this will require back-end changes to implement, this is essentially on hold for now, unless someone goes and implements it for parse-server (note that @gfosco is working on traditional push for parse-server right now).

[2016-02-03 20:49] richardjrossiii commented on #172
This seems like a back-end bug, not an SDK bug. Please file it at http://parse.com/help.

Great repro-case though, I'm sure it won't be difficult to track down.

[2016-02-03 20:49] #172 closed

[2016-02-03 20:50] richardjrossiii commented on #167
Thanks! I'll look into it.

[2016-02-04 06:12] jaganjan commented on #167
**_More information about MY environment ._**

**_OS DETAILS_**

Microsoft WINDOWS  10 PRO X64

**_IDE DETAILS_**

[code]

[2016-02-04 08:54] huang1196 commented on #166
+1

[2016-02-04 09:29] mcijsouw commented on #166
+1

[2016-02-04 11:08] jaganjan commented on #166
:+1:

[2016-02-04 11:08] jaganjan commented on #166
+1

[2016-02-04 18:47] gfosco commented on #166
There were several bug reports that the .net SDK (not unity specific) was requiring a trailing `/` be added to the server URL.  This should be done automatically.  Noting this here and closing the issue there.

https://github.com/ParsePlatform/parse-server/issues/81

[2016-02-04 19:40] richardjrossiii commented on #166
@gfosco it's actually more difficult than that due to how URIBuilder works on .NET, as it treats multiple slashes as root, and paths without a relative path as relative to that. I'll continue working on it, but no ETA on a fix for that specific part.

[2016-02-04 19:43] richardjrossiii commented on #166
Hey guys, this has been fixed in #169. The next version will include this fix, or if you're ambitious you can compile the SDK from the source itself.

[2016-02-04 20:00] kostub opened #173 "Updating ParseACL on an object doesn't work"
I have the following code:

[code]

We have problem.ACL as not null and in the debugger I can see that the values in the ACL are updated correctly. However when the object is saved, the ACL is not saved on the server.

The work around for it is to always create a new ACL object:

[code]

In this case the ACL gets saved correctly.

I am using Parse 1.7.0.

[2016-02-05 01:33] richardjrossiii commented on #102
This should be fixed as of #169, and will be fixed in the 1.8.0 release.

[2016-02-05 05:19] skumancer commented on #44
I am having this problem as well. Removed the calls to `RegisterForNotifications` and the NullRef didn't happen again.

Definitely need a fix for this. I'm running Parse 1.7 + Unity 5.3.2

[2016-02-05 19:30] richardjrossiii commented on #44
This will most likely be fixed in 1.8.0 along with the refactoring of all of the Unity push notification code.

[2016-02-05 21:11] YARG commented on #88
Hi guys, we've just upgraded to 1.7.0 from 1.3.1 and we're now getting this on a release build.   Do you know how to resolve it?

/Library/Frameworks/Mono.framework/External/xbuild/Xamarin/Android/Xamarin.Android.Common.targets: Error: Error executing task LinkAssemblies: error XA2006: Reference to metadata item 'Java.Lang.Object Android.OS.BaseBundle::Get(System.String)' (defined in 'Parse.Androi

[2016-02-05 21:18] richardjrossiii commented on #88
You could attempt to turn off assembly linking, which we didn't fully support in the 1.7.0 release. It *should* work in 1.8.0+ though.

[2016-02-06 04:44] skumancer commented on #60
I'm getting this error as well when switching to IL2CPP. With Mono 2.0, relations work properly.

[2016-02-06 05:10] skumancer opened #176 "(Some) Relational Queries Fail on iOS when using IL2CPP"
I'm on the process of moving our game to IL2CPP to support 64-bit, but we've hit a wall I just can't bypass.

On Mono 2.0, Relational Queries work properly, when on IL2CPP, some of my queries just plain fail, without a hint of why. They don't return or error out, they just disappear.

I can provide access to our project in case it's necessary.

Example data:

Parse Class: ActivityDataModel
Query:

[2016-02-06 05:27] skumancer commented on #176
A little more information, here's what happens when loading starts

[TutorialDatamodel]: Got 0 steps for tutorial 103
UnityEngine.Debug:Internal_Log(Int32, String, Object)
UnityEngine.Debug:Log(Object)
UnityEngine.Debug:LogFormat(String, Object[])
TutorialDataModel:<LoadSteps>m__99(Task`1)
System.Action`1:Invoke(T)
System.Threading.Tasks.<>c__DisplayClass1:<ContinueWith>b__0(Task)
System.Action`1:

[2016-02-07 19:41] Elezium opened #177 "Issue with Parse Relation"
Hi,

I can't seems to make this works (C#, a test Console Application)

First, here's my 2 classes:

[code]

[code]

I've been able to add a relation, and it appears in my MongoDB (I'm using the Parse Server, running locally). Both Id are valid, the object does exists.

[code]

When I try to get the value for a relation:

[code]

I get the error:
[code]

The result of relation_result should be Tea

[2016-02-08 17:31] richardjrossiii commented on #176
It's very difficult to tell what's going on here. Can you show me how your queries are being created?

[2016-02-08 18:06] richardjrossiii commented on #177
I just ran your code against the Parse.com API server, and it worked as expected. I'm thinking this is a bug in the parse-server implementation, not our code. Perhaps 'redirectClassNameForKey' is not fully working on parse-server. Either way, I don't think the bug is in the .NET SDK.

[2016-02-10 03:03] cfoulston opened #179 "get_isWebPlayer can only be called from the main thread."
When compiling with Unity and calling User.FetchAsync

[2016-02-10 11:08] lukaszkalnik commented on #63
@Julien-Mialon we are currently testing and turns out I cannot start the app with Parse SDK in Release mode on a Lumia 930 phone. It starts in Debug mode though... I get the following exception:
Exception at 0x777AE031 (combase.dll) in App.exe: 0xC000027B: An application-internal exception has occurred (Parameter: 0x00894FC8, 0x00000002)

[2016-02-10 22:25] sghamaty commented on #166
@richardjrossiii when do we think the next compiled version will be posted? Im having some issues compiling the SDK on my mac.

[2016-02-10 22:33] richardjrossiii commented on #166
@sghamaty Yep, there's an issue with how XBuild searches for paths that differs from MSBuild, which means you can only compile through VS.

Not sure on release time yet for 1.8.0, probably still a little ways away as we still need to fix up the Nuget packages in order to support all of these different platforms.

[2016-02-11 15:03] jaganjan commented on #167
what is going on are you replicate this issue? @richardjrossiii

[2016-02-11 15:35] Elezium commented on #177
Thanks @richardjrossiii

I did not thought of running it against the parse.com API, but it does make perfect sense.

I'll check in the Parse-server repository if there an issue related to that, if not, I'll open one.

Thanks again.

[2016-02-11 17:45] sghamaty commented on #166
It blocks parse migration for anyone thats using the Unity and C# sdks.

Any idea when the official version will be ready?

[2016-02-11 20:06] richardjrossiii commented on #47
Hey guys. Just wanted to give an update - we've recently switched to a fully modular design for the SDK, and this feature should be rolling out in the 1.8.0 release, along with several new awesome features.

[2016-02-11 20:06] #177 closed

[2016-02-11 21:03] thewizster commented on #47
Great news...Thanks for all the hard work you guys have been putting in to keep Parse alive...Most appreciated!

[2016-02-12 12:09] alexpwer opened #180 "Registering Subclasses (IndexOutOfRangeException)"
Failed to postprocess stacktrace
IndexOutOfRangeException: Array index is out of range.
  at Parse.Internal.ParseCorePlugins.get_SubclassingController () [0x00000] in <filename unknown>:0
  at Parse.ParseObject.RegisterSubclass[T]() [0x00000] in <filename unknown>:0
  at ParseManager.Awake () [0x00000] in <filename unknown>:0

(Filename: currently not available on il2cpp Line: -1)

It's referencin

[2016-02-12 16:41] cecilphillip commented on #47
@gusennan, @thewizster : Question, I thought parse was shutting down?

[2016-02-12 17:22] thewizster commented on #47
The hosted service is shutting down. I was referring to the parse-server open source project. @cecilphillip

[2016-02-12 18:57] richardjrossiii commented on #180
Can you share the definitions of all of your ParseObject subclasses?

[2016-02-12 20:17] richardjrossiii commented on #47
@cecilphillip The client SDKs are not dying either! We will work hard to bring you the best possible features, including some that weren't possible to bring while parse.com was still a thing.

Parse is dead, long live Parse!

[2016-02-14 07:38] YARG commented on #88
Hi Richard, thanks for this and sorry for the delay in getting back to you as I missed the notification.  What's the ETA with the release as I'd be happy to try out any beta versions if you're able to send me the Parse.Android.dll binary.

[2016-02-14 09:04] YARG commented on #88
OK it looks like the problem was down to the fact that the Android client project was API 19, upgraded it to Lollipop and I was able to do a release build against 1.7.0.  Great stuff. Thanks

[2016-02-15 01:08] rihadavid commented on #32
I updated from 1.5.5 to latest version and the deadlock is still present. There was no problem until I uninstalled the app completely from the device and launched clear installation - now the app hangs on calling ParseUser.CurrentUser forever.

I've looked into open source code and in public static ParseUser CurrentUser there is comment "// TODO (hallucinogen): this will without a doubt fail in Un

[2016-02-15 09:26] huang1196 commented on #166
@gfosco Can I compile the Unity sdk by myself?  I've downloaded & built the project, but I didn't know which is the Unity sdk file. (no file named Parse.Unity.dll)

[2016-02-15 09:56] jaganjan commented on #47
+1

[2016-02-15 13:50] abraaocaldas opened #181 "Random select document"
Hello, I saw a lot of people asking for a way to get a random document from a table, from mongodb 3.2  this is now possible using $sample. there is any way to implement it on Parse SDK?

Using:
{ $sample: { size: <positive integer> } }

PS: I tried to implement it on parse SDK but I cannot get past some compile errors like: "You cannot use portable blah blah blah"

[2016-02-15 16:54] jamesbigbit commented on #102
Hi

Could you tell me how I get the version with this fix or when 1.8.0 will be out.  The SDK download page is still showing 1.7.0 for Unity :-(

Regards

James

[2016-02-15 17:00] sghamaty commented on #166
There was no Parse.Unity.dll either when I compiled in VS. I ended up
including all the Release DLLs in the unity project. Core, Analytics, etc.
That worked for me.

There's probably a script that packages it up. Can someone post
instructions on how to do that?

On Mon, Feb 15, 2016 at 1:26 AM, huang1196 <notifications@github.com> wrote:

[2016-02-15 18:06] rihadavid commented on #32
@richardjrossiii today I've done some investigation but I was not able to distinguish what is causing the deadlock. If I remove mostly everything from my app, it is not happening, when I am removing code step by step, it sometimes happens and sometimes not. I mean if I remove some particular line of code, it doesn't happen one time but happens another, the behavior is not consistent. From what I'v

[2016-02-15 18:35] gusennan commented on #47
@richardjrossiii that's great to hear.

[2016-02-16 18:48] richardjrossiii commented on #32
Yeah, this is most likely due to poor OS thread scheduling and the fact that ParseUser.CurrentUser requires a 'wait' call. We really need to  make an async version of `CurrentUser`, and deprecate the synchronous one.

[2016-02-16 19:02] rihadavid commented on #50
@andymads see #32 for workaround

[2016-02-16 19:05] rihadavid commented on #32
Ok, thanks for reopening. BTW I've just found #50 which is probably duplicate of this.

[2016-02-17 04:31] skumancer commented on #176
@richardjrossiii all we do is have a property that defines a query, and then execute it

`[ParseFieldName("Props")]
public ParseRelation<PropDataModel> Props
{
	get { return GetRelationProperty<PropDataModel>("Props"); }
}`

`Props.Query.FindAsync().ContinueWith(task =>
{}`

[2016-02-17 19:58] alexpwer opened #182 "FATAL EXCEPTION: IntentService[ParsePushService]"
Encountered the following error, which resulted in a crash. This occurred on Android using the latest release version of Parse (v1.7.0). Push notifications work correctly in within my app, but this seemed to happen at random. Unfortunately, I do not have an repo steps.

[code]

[2016-02-17 20:30] richardjrossiii commented on #182
Is this Unity android or Xamarin android? They have completely different push notification subsystems sadly.

[2016-02-17 20:36] alexpwer commented on #182
This is Unity Android

[2016-02-17 21:28] sghamaty commented on #179
Im getting the same error in Unity. Its better to put these functions in a constant somewhere.

This blocks Unity apps from Migrating away from the Parse service and on to the Open Source version.

Constructors and field initializers will be executed from the loading thread when loading a scene.
Don't use this function in the constructor or field initializers, instead move initialization code to t

[2016-02-17 21:46] richardjrossiii commented on #179
@sghamaty Currently, we only use `isWebPlayer` for our storage implementation, and I have a few thoughts on how to make this work. I'll let you guys know as soon as I get the solution working for this.

[2016-02-17 21:57] sghamaty commented on #179
@richardjrossiii I dont think were doing anything specific to turn on the storage implementation. Is there any way to disable it?

[2016-02-17 22:01] richardjrossiii commented on #179
@sghamaty It's used to store the current user and installation on device so you don't have to re-log in. I need to make isWebPlayer a cached property on Dispatcher eventually, I think. If you really wanted to, and you're not targeting the web player, you could just comment out those relevant lines in [StorageController.cs](https://github.com/ParsePlatform/Parse-SDK-dotNET/blob/f577ee38a0d55a199a47

[2016-02-17 22:04] sghamaty commented on #179
That makes sense.

We will need to support web, so we'll need to figure out the long term fix.

Till then I'll see if we can work around as you suggested.

On Wed, Feb 17, 2016 at 2:01 PM, Richard Ross <notifications@github.com>
wrote:

[2016-02-19 00:50] hramos opened #183 "[Parse Server] clientKey is optional if using Parse Server"
A client key (or dotNetKey) does not need to be configured in order to deploy a Parse Server. The Parse .NET SDK does not currently support connecting to a clientKey-less Parse Server.

To resolve this, a new initialization method is required:

`public static void Initialize(string applicationId) { ...`

We should also remove any exceptions that may be thrown if a client key is not provided.

[2016-02-19 00:54] richardjrossiii commented on #183
This is a non-issue. If you wish to point to a parse-server instance, you should use the version of `Initialize` with a `ParseClient.Configuration` object, like so:

    ParseClient.Initialize(new ParseClient.Configuration {
         ApplicationId = "key",
         Server = "server url"
    });

[2016-02-19 00:54] #183 closed

[2016-02-22 12:37] jamesbigbit commented on #102
Hello.  I've received no answer to when 1.8.0 will be released.  Could someone please answer this.  We have a Unity game and I'm hoping to get it released this week and it's using Parse.

Mnay thanks

James

[2016-02-24 21:15] rihadavid opened #185 "Why is ParseFacebookUtils-dotNET not open-sourced?"
I tried to use and modify open-sourced Parse-SDK-dotNET but I am stuck because I can't use ParseFacebookUtils.LogInAsync() because it is not part of the code. What can I do? Could you opensource ParseFacebookUtils-dotNET?

[2016-02-24 21:54] richardjrossiii commented on #185
This is due to #169. The eventual plan is to split out ParseFacebookUtils into it's own repository, although that's probably a few months away at this point.

The unfortunate part about landing #169 is that it meant that some features of the SDK that don't fit into the modules that are ready to go is they're left out. You can still find the source-code of ParseFacebookUtils by looking at the tree

[2016-02-25 16:44] rihadavid opened #186 "HttpClient.Portable.cs bug"
I believe that ParseCommon/Internal/HttpClient/Portable/HttpClient.Portable.cs is missing `if (data != null)` on line 56.

Calling `message.Content = new StreamContent(data);` when data is null causes exception.

ParseCore/Internal/Query/Controller/ParseQueryController.cs FindAsync() is calling `commandRunner.RunCommandAsync(command, ..)` with command data explicitly set to null and command method

[2016-02-25 17:43] richardjrossiii commented on #186
Yep, you're correct. I have this change on one of my local branches, but please, submit a PR to patch it, we definitely accept external contributions!

[2016-02-25 20:21] #186 closed

[2016-02-29 20:44] Avatarchik opened #188 "Unity3d init parse-server"
Hi!how to use?

[2016-02-29 20:56] richardjrossiii commented on #188
Duplicate of #166

[2016-02-29 20:56] #188 closed

[2016-02-29 21:04] Avatarchik opened #189 "MAC OS (Xamarin) no build"
error
.../Parse-SDK-dotNET-master/AssemblyLister/AssemblyLister.UWP/AssemblyLister.UWP.csproj: error : .../Parse-SDK-dotNET-master/AssemblyLister/AssemblyLister.UWP/AssemblyLister.UWP.csproj: .../Parse-SDK-dotNET-master/AssemblyLister/AssemblyLister.UWP/AssemblyLister.UWP.csproj could not import "$(MSBuildExtensionsPath32)\Microsoft\Portable\$(TargetFrameworkVersion)\Microsoft.Portable.CSharp.targ

[2016-02-29 21:08] Avatarchik commented on #166
Someone was working unity3d sdk?I can not continue working because of this ...

[2016-02-29 21:15] richardjrossiii commented on #189
Duplicate of #88

[2016-02-29 21:15] #189 closed

[2016-02-29 22:14] sghamaty commented on #166
Which issue is blocking you Sergey?

On Mon, Feb 29, 2016 at 1:08 PM, Sergey <notifications@github.com> wrote:

[2016-02-29 22:19] Avatarchik commented on #166
I carried on my server, but I can not specify serverUrl version (1.7.0)

[2016-03-02 02:05] Kwoth commented on #166
I have this issue too, I need to be able to specify server URL in order to move my app to privately hosted server. Is this achievable somehow at the moment? Will simply building the source and importing all of the separate DLLs allow me to do that, or do I have to wait for the asset store package update?

[2016-03-02 23:52] Avatarchik commented on #166
Hello! Who can collect the dll from the source?

[2016-03-03 03:21] miracle7 opened #190 "No easy way to stack push notifications"
Google sent our company an email advising us to [combine received push notifications](http://developer.android.com/training/notify-user/managing.html) to increase our chances of being featured on the play store, however as far as I can tell the only way to do this is to create a native plugin for unity and create your own custom handler that way.

I asked for assistance on Stack Overflow but no on

[2016-03-03 19:47] richardjrossiii commented on #190
No, this is not something we have built into our Unity SDK right now, you will have to roll your own.
We may consider such a feature in the future, but for the meantime we've not seriously looked into it.

You seem to be on the correct track, as that's exactly how you I would handle that situation.
If you have any more concrete questions about hooking this up, feel free to ask.

<sup>(I'll close t

[2016-03-03 19:47] #190 closed

[2016-03-08 06:53] miracle7 commented on #190
I have been successful in getting my own custom push notifications to show through the use of a native plugin which contains my subclass of BroadcastReceiver which is a good start, though it doesn't do any of the fancy wakelock stuff you guys are doing or anything.

My next step is to store a list of received parse notifications so I can update the local inbox style notification summary accordingl

[2016-03-08 21:03] Avatarchik commented on #166
Hi! I compiled the sources, https://drive.google.com/file/d/0B5nWjiXFR3UDR0M4a01hVV9sdEk/view?usp=sharing

[2016-03-08 22:14] richardjrossiii commented on #166
@Avatarchik thanks for sharing - I'll have to add a CYA disclaimer to your post to prevent confusion for people downloading this :). Remember also that as with any build based off of master, it may not be fully working.

[2016-03-08 22:18] richardjrossiii commented on #190
So, if my native android memory is correct, you could simply have your DeleteIntent your broadcast service with a different action (such as `Intent.ACTION_DELETE`), and when you get an intent with that action type, you can simply delete the cache file.

Of course, this is all my memory from very early versions of GCM and android, so YMMV, but maybe it will point you on the right trail.

[2016-03-09 04:12] infosekr commented on #166
Hi @Avatarchik, I get the following errors with your .dlls:

`FileNotFoundException: Could not load file or assembly 'UnityEditor.iOS.Extensions.Xcode' or one of its dependencies. The system cannot find the file specified.
System.AppDomain.Load (System.Reflection.AssemblyName assemblyRef, System.Security.Policy.Evidence assemblySecurity) (at /Users/builduser/buildslave/mono-runtime-and-classlibs/b

[2016-03-09 06:48] infosekr commented on #166
@Avatarchik after installing the Android and Xamarin resources that VS 2015 prompts for when loading the solution I was able to correctly build a single Parse.Unity.dll (rather than getting the 9 files that you posted before). I added the missing serverURL field to ParseInitializeBehaviour that is needed for Unity so now Parse is contacting my server running on an EC2 box.

I'm now receiving error

[2016-03-09 06:57] miracle7 commented on #190
Okay, thanks for that, the stacking is working now.

I now have a problem where an Installation is not created if I use `com.company.MyParseReceiver` instead of `com.parse.ParsePushBroadcastReceiver` in my android manifest xml.

This means that I can only get push notifications if I first install the app using com.parse.ParsePushBroadcastReceiver, and then reinstall using my own broadcast receiver

[2016-03-09 07:29] Kwoth commented on #166
@infosekr i solved the extension.xcode problem by copying that file from unity installation folder over to my project's plugins.

Did you guys test it on mobile devices? That's the only thing we're worried about now, since we can't test it yet duo to a refactor our app is going through?

[2016-03-09 10:35] VennSteve opened #191 "Unable to compile with Xamarin"
I'm having an impossible time trying to compile this on my Mac with Xamarin. The instructions say just use xbuild parse.sln but both that and the IDE are giving me the errors:

Parse-SDK-dotNET/ParseCommon/Properties/AssemblyInfo.cs(7,7): Error CS0246: The type or namespace name `Parse' could not be found. Are you missing an assembly reference? (CS0246) (ParseCommon.Portable)

and similarly

Parse

[2016-03-09 22:18] Avatarchik commented on #166
There must be unity module installed ios, or throw this one file in the Plugins folder
https://dl.dropboxusercontent.com/u/8463900/UnityEditor.iOS.Extensions.Xcode.dll

[2016-03-10 02:29] miracle7 commented on #190
@richardjrossiii Should I make a new issue for this since it is not really related to stacking specifically?

[2016-03-10 23:50] richardjrossiii commented on #191
As discussed previously, there's an issue with now xbuild handles search paths compared to MSBuild.

We don't currently support compiling the SDK in any environment other than Visual Studio, sorry (though the community edition plus a VM should work fine).

https://github.com/ParsePlatform/Parse-SDK-dotNET/issues/166#issuecomment-182609656

[2016-03-10 23:50] #191 closed

[2016-03-10 23:55] richardjrossiii commented on #190
No, handling the GCM registration ID is something your custom receiver must implement. It should be as straightforward as just taking the implementation from here:

https://github.com/ParsePlatform/Parse-SDK-dotNET/blob/master/ParsePush/Native/src/main/java/com/parse/ParsePushService.java#L153

[2016-03-11 11:53] jaganjan opened #192 "Parse upload video more than 5 mp app crashed without throw any exception"
when i try to upload videos more than 5 mp app crashed .i think maxiumun rate limit is 10 mb but why app is crashed without any error message.when i upload lower than 5 mb its working perfect

i got only this on trace
[code]

`var socialFeed = new ParseObject("SocialFeed");`

[code]

Environment details

Xamarin IOS and XAMARIN ANDROID all devices

here is the sucessfully uploaded video url

`http

[2016-03-12 00:05] richardjrossiii commented on #192
I have a feeling your device is running out of memory, which is not a direct problem with the SDK (although if we're erroneously consuming extra memory we're happy to fix it). I'd recommend running with a memory profiler and seeing where it all goes (instruments on iOS should be able to help with that).

[2016-03-12 16:16] thewizster commented on #34
@GiusepeCasagrande Thanks a million! I spent a while trying to resolve this and your solution worked for me.

[2016-03-14 23:27] miracle7 commented on #190
Does that mean I have to implement my own IntentService too?
I am currently only subclassing ParsePushBroadcastReceiver.

[2016-03-14 23:33] miracle7 commented on #190
Maybe I would be better off just grabbing [this entire folder](https://github.com/ParsePlatform/Parse-SDK-dotNET/tree/f577ee38a0d55a199a473065b18acad084e4b083/ParsePush/Native/src/main/java/com/parse) and changing the names/functionality as required rather than trying to do my own thing.

I just don't know how much of that is required, and was hoping to avoid adding code that isn't even used.

[2016-03-15 01:01] miracle7 commented on #190
I downloaded the files in [this folder](https://github.com/ParsePlatform/Parse-SDK-dotNET/tree/f577ee38a0d55a199a473065b18acad084e4b083/ParsePush/Native/src/main/java/com/parse) and compiled them into my own .jar, and replaced ParsePush.jar in the android sample project with that, but even that doesn't work.

Same behaviour of no install created.

I am totally stumped here, managers are starting t

[2016-03-15 02:24] miracle7 commented on #190
Okay, the problem when literally copying that folders contents is that it was missing the icon, which was causing it to fail. If I redirect that to somewhere valid in the manifest it works.

Still not sure why it wasn't working using my custom names, but for now I guess this will do.

[2016-03-15 22:38] richardjrossiii commented on #190
Awesome that you got it working! Let me know if there's anything else I can help with.

[2016-03-16 09:32] jaganjan commented on #192
ok i looking on my end memory footage , i will update soon

[2016-03-16 10:54] UgurIster opened #193 "unity win phone 10 deploy: ios notification stuff error in il2cpp deploy"
So i'd like to deploy a unity app to win phone 10 using il2cpp as backend since that is supposed to allow using more of the mono C# api than when deploying with mono backend but when trying that then on deploy attempt it throws an error stating:

System.Exception: Error processing method: 'System.Void Parse.PlatformHooks/<>c__DisplayClass28::<RegisterDeviceTokenRequest>b__26()' in assembly: 'Parse

[2016-03-16 21:36] unger opened #194 "Unable to use extra GCM sender"
When adding the following to the AndroidManifest

`<meta-data android:name="com.parse.push.gcm_sender_id" android:value="id:1234" />`

You get the following row in logcat:

`Found com.parse.push.gcm_sender_id <meta-data> element with value "id:1234", but the value is missing the expected "id:" prefix`

The message sounded a bit strange as the value indeed had a id: prefix. When looking at the code

[2016-03-16 22:39] richardjrossiii commented on #193
We don't technically support windows phone via unity, as it will fail due to tasks existing already as well. We're in the process of modularizing the SDK to allow support of windows platforms, but there's still a good amount of work to be done until we can support this.

[2016-03-16 22:43] richardjrossiii commented on #194
Good find. Feel free to send a PR to fix, otherwise I'll get to it at some point before the next release.

[2016-03-17 04:03] kenglou opened #196 "[Unity3d] How to rebuild the project from Xamarin?"
Is there any guide to download and build this project on my own using Xamarin Project as I want to be able to use the stripping symbols in Unity3d. I'm thinking to take away the Parse Push as I'm not using it right now.

Thank you.

[2016-03-17 07:07] huang1196 commented on #166
@infosekr

Hi, could you tell us how to build a single Parse.Unity.dll?
It seems that this version has a bug as https://github.com/ParsePlatform/parse-server/issues/448 and I wonder if they have fixed this issue now

[2016-03-17 09:10] UgurIster commented on #193
Cool regarding modularizing the sdk, regarding technically not supporting windows phone, well, i thought in il2cpp deploy more of the mono C# api is supported for win 10 universal deploy than with C# backend setting hence why i tried that as work around. The error i got there to me sounds like it would maybe just need a platform dependent compiler flag like #if UNITY_IPHONE around that code block

[2016-03-17 21:30] richardjrossiii commented on #196
You cannot build the SDK project in Xamarin due to a bug with how Xamarin builds search paths for projects. This has been discussed in detail here: https://github.com/ParsePlatform/Parse-SDK-dotNET/issues/166#issuecomment-182609656. I'd recommend using Visual Studio CE to do your builds, or fork the SDK to do manual path expansion for every project you care about.

[2016-03-17 21:30] #196 closed

[2016-03-17 21:32] richardjrossiii commented on #193
@UgurIster FWIW, on master you should be able to use Parse without Push, if you have access to Visual Studio (building the SDK from Xamarin is currently not supported).

[2016-03-18 02:30] infosekr commented on #166
Hi there,
The single Parse.Unity.dll is for the client side though, you are referencing a bug on the server.To build the client into a single dll, I had to make sure that I downloaded all the plugins that Visual Studios requested (Android SDK, Xamarin tools, etc), and I got the source projects from the release page rather than the main github page. 
Regards,Aaron

    On Thursday, March 17, 2016 1

[2016-03-18 07:38] huang1196 opened #197 "How to forbid parse sdk from saving info to the collection "Installastion"?"
Hi, we do not want to upload the data like deviceToken, version to the collection 'Installation' by parse sdk. We are recording these info by our own ways.

How to stop it?

[2016-03-21 06:48] kenglou opened #198 "Is Parse DotNet SDK and Unity SDK is still under support?"
I wish to know that what's coming up next after Parse-Server is announced and the Parse.com is shutting down soon.

As currently I found there is a bug for my Unity3d Project as after I update my Parse SDK to newer version, the saveAsync functions seems like will hang my UI for a while before my user.saveAsync function. Is anyone experience this before?

[2016-03-21 22:22] richardjrossiii commented on #197
We don't currently have any way of disabling this information, other than simply forking the SDKs and removing the associated logic, which you are more than welcome to do.

[2016-03-21 22:22] #197 closed

[2016-03-21 22:25] richardjrossiii commented on #198
Firstly, Parse is not dead (yet). We are committed to supporting parse.com and the parse platform until the shutdown date is reached.

Parse-server and the client SDKs will live on indefinitely, and we have no current plans to stop working on them (in fact, we just rolled out a new feature for parse-server today: http://blog.parse.com/announcements/parse-server-goes-realtime-with-live-queries/)

I

[2016-03-21 22:25] #198 closed

[2016-03-28 08:37] Mahdi7s opened #199 "Are you planning to implement LiveQuery in dotnet sdk?"
we are developing a real-time game using unity3d . please let us know that if you are going to implement the LiveQuery feature in your sdk, so we start using it to develop our game.

[2016-03-28 18:36] richardjrossiii commented on #199
Eventually, yes. We do have plans to support LiveQuery on all of our targets that we currently support for .NET.

The situation is a bit more complicated than other platforms, as we have such a diversity in versions of .NET and APIs supported by our .NET platforms compared to everywhere else, and as such we do not currently have an ETA.

I'll keep this issue open until we have a formal release for

[2016-03-28 19:13] steven-supersolid commented on #140
Hi, I've just reproduced this in Unity 5.3.4f1 (current release) and Parse SDK 1.7.0. The problem i found is with ParseUser.Logout(), not with ParseUser.LogoutAsync(), so perhaps Wait() is causing an issue in Unity. The LogOut code is the same in master so the bug is still present.

https://github.com/ParsePlatform/Parse-SDK-dotNET/blob/master/ParseCore/Public/ParseUser.cs#L278

[code]

There are

[2016-03-28 20:20] richardjrossiii commented on #140
Good catch. Eventually, we're going to completely deprecate the synchronous APIs on ParseObjects, as they cause way too much friction and issues for most situations (blocking APIs are bad, folks). Thanks for updating this issue with the workaround you found.

[2016-03-28 21:39] IkeTheDestroyer commented on #199
Definitely interested in this for Unity iOS/Android.

[2016-03-30 10:41] #192 closed

[2016-03-31 03:28] kenglou opened #200 "Logout Anonymous User will delete the session token?"
Hi,

If let's say i logout an anonymous user from Parse DotNet, my session in Parse.com will be deleted. What should i do if i do not want to delete the annoymous session?

I wish to be able to relogin using the same key for anonymous user from different mobile devices, in GooglePlay I'll use the GooglePlay Game Service to save the "KEY", and when player logout 1 google play service, he/she should

[2016-03-31 22:35] richardjrossiii commented on #200
Your only solution would be to use [parse-server](https://github.com/ParsePlatform/parse-server) and create a custom auth handler for your user, that can generate a key for your user and allow the recovering of that user for you.

Anonymous users, by definition, cannot be recovered unless you have another authentication method linked to them, however.

[2016-03-31 22:35] #200 closed

[2016-04-01 01:16] thewizster commented on #199
:+1: :+1:

[2016-04-03 05:42] RogueRocketGames commented on #166
I just want to follow up on this issue, as it's marked closed, yet following this thread, it seems like it wasn't actually officially resolved by the lovely people at Parse.  And in fact, earlier there was a warning that any changelist beyond the official release of 1.7 was not necessarily approved as stable.  What is the expected status of Unity support going forward?

[2016-04-04 07:53] noosxe commented on #166
This thing is really a blocking issue, when it will be ready ?

[2016-04-04 07:58] Kwoth commented on #166
@noosxe what is blocking you? Just clone source and build, and import that instead of the asset store one. It will have a server URL field. And look into my comment on extension.xcode.

I did it and it works perfectly. No need to wait for anything.

[2016-04-04 11:18] noosxe commented on #166
I can't even build the solution right now, getting some errors

[2016-04-04 11:42] steven-supersolid commented on #166
What I did was branch from 1.7.0, modify a couple of lines of code to add serverURL as a parameter in ParseInitializeBehaviour and built that. Parse.Unity.dll builds fine in VS Community Edition on 1.7.0

Here is my fork, use at your own risk :)
https://github.com/supersolid/Parse-SDK-dotNET/tree/release/1.7.0

[2016-04-04 11:53] noosxe commented on #166
Thanks for your link, though that does not build ok for me again, I'm getting same errors.
Trying to build with VS 2015 community from IDE and from cmd with MSBuild

[2016-04-04 12:08] steven-supersolid commented on #166
@noosxe you will have to provide more details, e.g. what kind of errors. As other people in this thread can build fine for either version then the problem is likely to be on your end.

[2016-04-04 12:11] noosxe commented on #166
nuget.targets(72,9): error MSB4175: The task factory "CodeTaskFacto ry" could not be loaded from the assembly "C:\Program Files (x86)\MSBuild\12.0\bin\Microsoft.Build.Tasks.v4.0. dll". Could not load file or assembly 'file:///C:\Program Files (x86)\MSBuild\12.0\bin\Microsoft.Build.Tasks.v 4.0.dll' or one of its dependencies. The system cannot find the file specified. [C:\Users\noosxe\projects\pars

[2016-04-04 12:22] noosxe commented on #166
I did a change in my path to take MSBuild from other directory and started to get other errors
Specifically 26 errors like this

 error CS0012: The type 'Task<>' is defined in an assembly that is not referenced. You must add a reference to assembly 'Unity.Tasks, Version= 0.0.0.0, Culture=neutral, PublicKeyToken=null'. [C:\Users\noosxe\projects\parsesdk\ParseCore\Test\ParseCore.Test.Unit.NetFx45.cs

[2016-04-05 00:58] fractalfrenzy commented on #166
Hi steven-supersolid,
I'm also having trouble compiling in Visual Studio 2015.  I am getting the following errors when I attempt to build:

Error		Metadata file '<path>\Parse-SDK-dotNET\ParseCore\bin\Debug\Unity\Parse.Core.dll' could not be found

Error	CS0120	An object reference is required for the non-static field, method, or property 'DeviceInfoController.Initialize()'	ParsePush.Unity.Android
<

[2016-04-05 09:21] steven-supersolid commented on #166
To build, I did the following:
1. Opened the solution file Parse.sln
2. Switched the configuration to Release
3. Select mixed platforms
4. Build
The dll was put in: C:\...\Parse-SDK-dotNET\Parse\bin\Release\Unity\Parse.Unity.dll

You could also load the project file C:\...\Parse-SDK-dotNET\Parse\Parse.Unity.csproj and do the same. The build location is the same.

If building debug instead the buil

[2016-04-05 09:29] steven-supersolid commented on #166
I just updated the branch with a couple of fixes for documentation warnings

[2016-04-07 09:34] bwail commented on #106
It seems the issue is still there, confirmed on version 1.7.0
Parse.Android

<pre>
  at Parse.Internal.HttpClient+<>c__DisplayClass15.<ExecuteAsync>b__d (System.Threading.Tasks.Task`1 t) [0x00093] in <filename unknown>:0
  at System.Threading.Tasks.ContinuationResultTaskFromResultTask`2[TAntecedentResult,TResult].InnerInvoke () [0x00027] in /Users/builder/data/lanes/3053/a94a03b5/source/mono/exter

[2016-04-07 16:52] tghw opened #201 "Crash in SaveAsync() from multiple threads"
I'm getting a fairly consistent crash from `ParseObject.SaveAsync()` when I call it from multiple threads at about the same time. It seems that it's building a list of changed objects that gets modified when it's being enumerated, but I can't quite figure out exactly where. Something either needs not to be shared between threads or needs to be synchronized.

[code]

[2016-04-09 04:56] fractalfrenzy commented on #166
Hi again steven-supersolid,

After building, the directory C:...\Parse-SDK-dotNET\Parse is not present on my machine.  There is ParseAnalytics, ParseCommon, ParseCore, ParsePush, Unity.Compact, and Unity.Tasks. Still stuck.

[2016-04-09 10:42] steven-supersolid commented on #166
Parse-SDK-dotNET is the base directory where I cloned to, it may be something else on your system. It looks like you are working from master which has the new file structure (unreleased 1.8.x) and something I've not looked at getting working yet. Instead you should switch to my branch 1.7.0 which is a branch I made from the 1.7.0 release tag before making the update.

[2016-04-11 04:26] fractalfrenzy commented on #166
I managed to get it to work using your branch. Thank you.  Will the parse team integrate this change into their next official release?

[2016-04-14 07:51] miracle7 commented on #190
Hey Richard,

This has been working pretty seamlessly since I got it working, however since migrating to Parse Server hosted on Heroku + mLab, Installations no longer seem to have the 'devicetoken' field, and I have no way of knowing how far push notifications are getting since there is no delivery report on the open source dashboard:

![image](https://cloud.githubusercontent.com/assets/5317556/14

[2016-04-14 14:19] peterwilli commented on #166
Can someone please give me a pre-built binary? I know this is a bit of a weird request, but I cant compile this stuff with MonoDevelop/Xamarin and I dont want to run Windows in a VM just to compile 1 assembly. Thanks in advance!

[2016-04-14 22:20] richardjrossiii commented on #190
Which version of the client SDK are you running with? Its possible there's a client-side bug here...

[2016-04-14 23:04] miracle7 commented on #190
I am running a slightly modified version of 1.7.0 to allow me to specify a custom server in parse initialize behavior.

I went to do this myself but then found this fork where someone needed to do the same thing (including compiling seperate dlls for android and ios):
https://github.com/supersolid/Parse-SDK-dotNET/branches

I found that fork while browsing this issue:
https://github.com/ParsePlatf

[2016-04-14 23:05] miracle7 commented on #190
Also all other parse functionality appears to be working as far as I can tell.

[2016-04-15 00:11] richardjrossiii commented on #190
Sounds like a back-end bug, then. I'd check on the REST requests being sent by the clients and see if deviceToken is included there. Otherwise, not sure how to test/verify why this would have stopped working....

[2016-04-16 09:12] jenissimo opened #202 "Receiving IntentService[ParsePushService] at start"
After adding ParsePush.jar to Unity project app crash with

    04-16 11:55:16.694 16968-17163/com.triclops.hotlava E/AndroidRuntime: FATAL EXCEPTION:     IntentService[ParsePushService]
                                                                      Process: com.triclops.hotlava, PID: 16968
                                                                      java.lang.Error: FATAL EXCEPTIO

[2016-04-16 14:27] arturogutierrez commented on #199
💯

[2016-04-17 21:19] brilvio opened #203 "Parse.ParseException: Invalid response from server"
I trying to do my own parse server with node.js but I don't think that the app is connecting with the server.

I am doing the app with Xamarin and the Parse.android.dll  1.7.0.

Here is the ParseApplication.cs
[code]

Here is the code that is causing the error:

[code]

When tring a get the instalations 10.0.0.100:1337/parse/installations returns a empty result.

I have configured the manifest lik

[2016-04-17 22:24] zeroexu commented on #203
I also have this error. I am following this thread.

[2016-04-18 19:04] AndrewKeplinger commented on #166
Trying to migrate my Unity App from Parse hosting to my own, but I'm going to need the Unity plugin updated to do this.  Read the conversation and it looks like until Parse puts out a new DLL I'll be flying the the seat of my pants.  This isn't something I want to be telling my clients.  I would rather tell them that the updated plugin will be ready be some upcoming date.  Is that possible?
Even i

[2016-04-18 21:26] richardjrossiii commented on #202
Any chance you can provide us with a stack trace or a project that reproduces the crash? Otherwise there's not much more I can investigate from what you've given.

[2016-04-18 21:28] richardjrossiii commented on #203
Can you validate that connecting to the server works via CURL? Or one of our other SDKs? (Perhaps it's mounted on a different URL path than /parse?)

[2016-04-18 21:46] brilvio commented on #203
@richardjrossiii Yes I can get to work with curl, I try to use the curl for getting the installations it works fine but the result is empty I will try with another SDK, with the built in one in /test works fine, but I will do a test with a html/js to see if it works. I tried with the latest SDK on nuget, and I did the steps in the docs as you can see in my ParseApplication.cs and im my android man

[2016-04-18 21:52] richardjrossiii commented on #203
@brilvio can you try adding a `/` after your path? IIRC, the latest release of the .NET SDK requires path construction to end with a '/' (this has been fixed on master).

[2016-04-18 21:59] brilvio commented on #203
I will try, in meanwhile I tested with the javascript sdk and works fine I can send the object to the server.

[2016-04-18 22:06] brilvio commented on #203
@richardjrossiii Now I can send the objects it was the `/` after all, but I still get the installations empty.
I don't know if I have to open another issue.

[2016-04-18 23:01] richardjrossiii commented on #203
Yes, please open another issue with as much information you can. We've gotten another report a few days ago of installations missing 'deviceToken', which might be related.

[2016-04-18 23:01] #203 closed

[2016-04-18 23:12] brilvio opened #204 "Getting empty results in parse/installations GET"
I am using the parse.android.dll version 1.7.0 from nuget, and followed the documentation and tutorials, tryed the example for xamarin on android but the result is the same I can post objects to the parse server but the result from GET installations is empty, and when is debuging I see this on the console:
[code]

Here is my Android manifest:
[code]

Here is te ParseApplication.cs
[code]

Here is

[2016-04-19 02:54] miracle7 commented on #190
Been playing around with this more today, and I found that I am getting the following error in the logs:
http://pastebin.com/9q0eZd1J

I am assuming this is out of date with the manifest info listed here:
https://github.com/ParsePlatform/parse-server/wiki/Push

I have tried various combinations of the two in my manifest but with no luck yet.
Here is what my manifest looks like at the moment, maybe

[2016-04-19 04:48] miracle7 commented on #190
I am wondering whether it has something to do with this?
https://github.com/ParsePlatform/Parse-SDK-dotNET/commit/a63ebd3a27e1936aacc1e5cf3ea3f7ecb178f37d

[2016-04-19 07:26] miracle7 commented on #190
If I have my manifest like this:
http://pastebin.com/ihhyW2uj

And set [PARSE_GCM_SENDER_ID](https://github.com/ParsePlatform/Parse-SDK-dotNET/blob/4b25541c86db7ee9dcc97c6a048f1ac54ecde90e/ParsePush/Native/src/main/java/com/parse/ParsePushService.java#L30) in my custom plugin to my own Sender ID, I get the following messages in adb logcat, the install appears, but still no device token and no push

[2016-04-19 08:05] miracle7 commented on #190
One more piece of information:

ParseInstallation.CurrentInstallation does appear to have information such as the device token when I log it out, but only certain fields are saved when I call `ParseInstallation.CurrentInstallation.SaveAsync()` as shown below:

![image](https://cloud.githubusercontent.com/assets/5317556/14631933/40bf7a02-0659-11e6-8fb8-088d83fe6992.png)

[2016-04-19 08:09] miracle7 commented on #190
Okay... Apparently the other columns ARE being saved when I checked my mongodb installation directly, but not being displayed in the new parse dashboard???

![image](https://cloud.githubusercontent.com/assets/5317556/14632000/91cca12c-0659-11e6-86d2-e468936a9e03.png)

So in theory I should have everything I need to send push notifications, but sending them through the dashboard has not been workin

[2016-04-19 09:04] hl4hck commented on #199
+1

[2016-04-19 15:46] brilvio commented on #204
Well in the docs and in the tutorials for xamarin I did not see anywhere that I needed to call this function `ParsePush.SubscribeAsync("");` so now GET installations works fine but the push notifications did not work.
And in the console I keep getting this error:
[code]

[2016-04-19 15:52] brilvio commented on #204
One more thing the DeviceId and the GCMSenderID in the installations is empty.

[2016-04-19 20:18] brilvio commented on #204
Looking at the file `ManifestInfo.cs` I can see that this file have an error you check for one type of permission and throw in the log another.

In this part you check for this permissions:

[code]

But when the warning in the log is thrown the method to get the text is this

[code]
I don't know if this is by design, but I think this is confusing. And yet I can't find the error in my project becau

[2016-04-19 22:18] brilvio commented on #204
So I found out what was missing was this tag:
[code]
So it saves on the installation the deviceToken and pushType but only for the device not the emulator, the emulator keeps saying the same message as above in the logs.
And it does not save the GCMSenderId in the installation, I think because of that it cannot receive push notifications.

[2016-04-20 00:33] miracle7 commented on #190
Sorry for the spam, but just want to keep this updated for anyone else who runs into these problems and to avoid people wasting time on stuff I have already figured out.

I managed to get a push notification to be sent via my server using CURL, but the device isn't displaying it (which is presumably a problem with my custom version of plugin).

Getting this in the logs, looking into it now:

[2016-04-20 00:40] brilvio commented on #204
So I know why that the GCMSenderID is not sended to the parse-server in the log I caught this:
`Found com.parse.push.gcm_sender_id <meta-data> element with value "id:1234567890", but the value is missing the expected "id:" prefix` it is relative to this issue #194 and was fixed in this #195 merge. Just waiting for the release I guess.

[2016-04-20 02:00] brilvio commented on #204
Sorry for the spam but I just compiled the branch 1.7.0 with the changes from #195 and now the push works, but yet did not save gcmsenderid in the installation, and because of this when the app is closed he did not receive push notification, but when I manualy entered in the database this information the push when the app is closed worked.

[2016-04-20 02:07] miracle7 commented on #190
I believe this issue was being caused by me not including my icons in Assets\Plugins\Android\res in my unity project, I finally got a push notification to come through! :D

Getting another issue where my Parse Installation won't save in the main app rather than the little test I set up, but I think that is caused due to the application being backgrounded right after parse initialize is called.

[2016-04-20 03:28] richardjrossiii commented on #204
@brilvio That's probably because the installation didn't think it was dirty. If you explicitly called 'Save()' on the installation on launch of the app it should properly work from here on out. I'm glad to see you've gotten this working!

[2016-04-20 03:28] #204 closed

[2016-04-20 03:30] richardjrossiii commented on #190
Spam away! Its awesome to see people passionate about this stuff. Some of the errors you were seeing might be related to #195, which is probably required to make custom GCM senders work (with parse-server).

[2016-04-20 07:58] miracle7 commented on #190
Well, I got it working with a test app today at least, but it is still failing in our actual game :(

The installation doesn't seem to be missing any fields, but the saved _PushStatus says it failed.
Do you know if there is a way to get more information as to why it doesn't get through?

The manifest does not have anything not contained in the test app either, so I am pretty confused :(

**_Instal

[2016-04-20 12:40] brilvio commented on #204
@richardjrossiii Tried to call the save in the onCreate method of the main activity and I get this error:
`System.AggregateException: One or more errors occurred. ---> Parse.ParseException: deviceType must be specified in this operation`

The same error happens if I call SubscribeAsync() from ParsePush.

[code]

[2016-04-20 13:07] mbilling opened #205 "ParseClient.LoginAsync throws Parse.ParseException"
Running ParseServer on localhost:1337

Using parse library from nuget:
`<package id="Parse" version="1.7.0" targetFramework="net452" />`

**Running a baseline test with curl.exe commandline.**
`C:\>curl -X GET
-H "X-Parse-Application-Id: f8Dh8j6AW6ZNbWKyC5CsIdPvK99QQ7VfHO9lxNh8"
-H "X-Parse-Revocable-Session: 1"
-G --data-urlencode "username=mb@netminers.dk" --data-urlencode "password=xyzxyzxyz" h

[2016-04-20 13:14] mbilling commented on #205
Stupid me, missing slash at end of url
Server = "http://localhost:1337/parse/"
Now it works! :)