[2016-04-20 13:14] #205 closed

[2016-04-20 14:11] echeg commented on #166
Any news about new official Parse DLL for Unity?

[2016-04-20 20:46] brilvio opened #206 "Question: How to get the data passed on Push"
Sorry if I am a moron, but I cannot find a Example in C# I tried the examples from java but the Intent.Extras is always null and Intent.GetStringExtras(); I tried with every possible string and the result is always null.

I use a modified version of tag 1.7.0, because the release 1.7.0 doesn't work with custom GCMSenderId.

[2016-04-21 01:25] miracle7 commented on #190
It seems as if the device token generated for our actual app is incorrect...

I don't know much about how this stuff works internally, but if I get the device token generated by my test app, and replace that in the actual apps installation, the push notification comes through fine.

The 'failed' result is in the database before the push notification would normally come through as well, so it seems

[2016-04-21 11:35] paulcking commented on #78
I'm seeing a similar issue with iOS.  In the UnityAppController.mm code, I can print the userInfo parameter in the application:didReceiveRemoteNotification: delegate method and it has "aps" and "parsePushId" keys.  But when this arrives in ParsePush.ParsePushNotificationReceived as the args parameter, the "aps" key is missing.

So... I can't get foreground push notifications on iOS.  Since other p

[2016-04-21 13:44] richardjrossiii commented on #190
Hmm. We upload the deviceToken directly from the results of the GCM callback, which would indicate that there's something wrong with the push registration code. Did you perhaps touch this in the process of your fork?

[2016-04-21 13:46] richardjrossiii commented on #78
Whoops. Somehow this issue fell through the cracks (and wasn't pinged by our bot, even weirder).
I'm not 100% sure what's going on here, we may be running one of Unity's 'undocumented features'.

I'll poke around the code and see what I can figure out.

[2016-04-22 00:11] miracle7 commented on #190
Both the test app and the actual game are using the same modified Parse SDK (to add server field) and custom push handler plugin.

The only thing I changed in terms of registration is that I replaced the value of PARSE_GCM_SENDER_ID in ParsePushService to my own GCM sender id, since I couldn't get it to pass it in through the manifest and there were problems with registering multiple sender ids.

[2016-04-22 06:09] miracle7 commented on #190
Okay, finally figured this out, we have another native java plugin in our app, but last time someone compiled that they accidentally bundled custom notification handler into it as well (which meant using old PARSE_GCM_SENDER_ID), which was being used instead of the new one I compiled.

Such a dumb error, but I was able to figure it out pretty quickly after enabling verbose logs in Heroku, which sh

[2016-04-23 05:08] kentcb commented on #167
Have this same issue. In my case, using Xamarin Android.

It's been months. Can we have an update @richardjrossiii ?

[2016-04-23 05:13] kentcb commented on #167
@jaganjan did you manage to move past this problem?

[2016-04-23 05:42] kentcb commented on #167
Ugh, it's not actually a second-chance exception. I had break on exceptions enabled, so was getting thrown by this. It would be nice if the SDK didn't throw internally like this because it makes life more difficult for consuming developers.

[2016-04-25 06:25] iamdain commented on #136
@BestStream did you find the cause of this dude?

We're looking at the opened up code base now, critical we get this sorted. Hit me up on Skype if you'd like to discuss or collaborate - "iamdain"

"upgrade your whole technology stack, graphics pipeline and physics engine" in a dismissive tone is a rather infuriating answer when you're in a bind isn't it...

[2016-04-25 18:56] richardjrossiii commented on #190
Awesome to see that you've figured it out. Let me know if I can help any further.

[2016-04-26 08:43] rehos commented on #106
I can also confirm that this issue is still there (I'am having the same stack trace as @bwail). The issue can be reproduced if you have no internet connection.

[2016-04-26 09:58] rehos commented on #106
This bug is probably fixed in commit 7fb6a9ad6. I cannot confirm this because I'am not able to build this project on my Mac due to issue #191.

[2016-04-26 13:36] balatimuz opened #207 "Unity WebGL support (Remove Task's , AsyncCompletedEventHandler)"
Hi Parse,

As Unity WebGL will not support multi threads  and Task's and AsyncCompletedEventHandler,
How we can use Parse.Unity DLL without those things,
Is there any modified version of DLL available..?
We have many games to port to Webgl with Parse.
Thank you,

[2016-04-26 13:39] balatimuz commented on #160
Something we can expect in soon....?
Thank you

[2016-04-26 23:29] richardjrossiii commented on #207
This is a difficult question to answer. The simplest solution to the WebGL multithreaded problem, making everything synchronous, results in a ton of deadlocks in our current fully-async architecture. We looked into doing some crazy solutions to support WebGL, but there was nothing we were able to come up with that actually solved the underlying problems.

Perhaps @hallucinogen can note more about

[2016-04-27 13:04] Apoll0 commented on #157
Hello!
Do you still work with WebGL compatibility?
Or this functionality will be never done?

[2016-04-29 18:02] rehos commented on #106
The different implementations for HttpClient contain the following code in version 1.7.0 of the SDK:
[code]

The problem is that the following line can set *response* to *null* (i.e. if there is no network and you get a NameResolutionFailure):
[code]
Because *response* is null under these circumstances the following line raises a null reference exception:
[code]

[2016-05-02 22:41] #202 closed

[2016-05-03 16:20] rehos commented on #106
For anyone interested, this is my fix bd121f68db56641a49608685a5bb001001a054c1

[2016-05-04 03:25] wootangs commented on #166
**We are working on Unity 4.7 so we are using Facebook 6.2.2 and Parse 1.5.3.0
During DB and server migration to Heroku, we can't change server url as below.**

ParseClient.Initialize(new ParseClient.Configuration {
	ApplicationId = "YOUR_APP_ID",
	Server = "http://localhost:1337/parse/“
});

**Cause ParseClient Class 1.5.3 uri is originally in dll.**

public static void Initialize(string applicat

[2016-05-04 07:10] miracle7 commented on #190
Hey @richardjrossiii, thanks again for your help, for the most part this has been working well and we will be pushing the update live in a few weeks as a result.

I an issue where you can end up with multiple Installations on parse from the same device by reinstalling the app, which results in them receiving duplicate push notifications. It would be pretty bad for people to get an extra notificati

[2016-05-04 07:31] wootangs opened #208 "unchangable URL in dll"
We are working on Unity 4.7 and we are using Facebook 6.2.2 and Parse 1.5.3.0
During DB and server migration to Heroku, the issue is that we can't change server url because it's in dll.

ParseClient.Initialize(new ParseClient.Configuration {
ApplicationId = "YOUR_APP_ID",
Server = "http://localhost:1337/parse/“
});

public static void Initialize(string applicationId, string dotnetKey)
{
object obj

[2016-05-04 08:46] peterwilli commented on #166
@wootangs I even tried reflection to force custom url in but it didn't work either, I really hope they are going to release a new DLL soon :(

[2016-05-04 09:32] steven-supersolid commented on #166
@wootangs Unity 4 support was dropped in 1.6.2 and the earliest open source version is 1.6.0. So you only have a couple of options as far as I can see:

1. Update to whichever Unity 4 compatible version works for you (1.6.x), branch the SDK and modify the SDK code to pass a custom serverURL
2. Update to Unity 5 - this is your best bet as you can use the official version 1.8.x when it is released,

[2016-05-04 10:34] wootangs commented on #166
@steven-supersolid I tried to build your 1.7.0 with xamarin(MacOS) but got error.

Progress.cs line 14
private SynchronizedEventHandler<T> progressChanged = new SynchronizedEventHandler<T>();
error : The type or namespace name ‘SynchronizedEventHandler’ could not be found. Are you missing an assembly reference?

Do I need to build with VisualStudio in window?

[2016-05-04 11:25] steven-supersolid commented on #166
I've only built in Visual Studio on Windows. Did not try on a Mac. Visual Studio does need to download a few libraries and updates to build so perhaps Xamarin is not doing the same.

[2016-05-04 12:42] peterwilli commented on #166
@steven-supersolid can you give me a built DLL? I can't compile because I run linux and there is some bug with xamarin over there :(

[2016-05-04 20:47] richardjrossiii commented on #208
No, there is no way to change the server URL string in previous versions of the SDK. I would strongly recommend updating to a later version of the SDK.

[2016-05-04 20:47] #208 closed

[2016-05-05 00:29] miracle7 commented on #190
It seems in 1.7 the installation is saved as part of ParseInitializeBehaviour (which makes sense I guess).

Since I have to work off a custom build anyway to support self hosted parse server, I suppose I could just add something like: `installation["deviceId"] = SystemInfo.deviceUniqueIdentifier;` before we save it there, then do what I was saying above on afterSave.

[2016-05-05 02:36] miracle7 commented on #190
The above solution seems to work, though one of the other developers here says that the app will ask for phone call permissions if we ask for this unique identifier which is lame, but I don't have a better solution at this time.

[2016-05-09 10:44] AngelQuirogaM commented on #166
@peterwilli
[Parse.zip](https://github.com/ParsePlatform/Parse-SDK-dotNET/files/254776/Parse.zip)

You're wellcome ;)

[2016-05-09 10:55] Maqtup commented on #166
Parse.Unity.dll for Unity 4.7

[Parse.Unity.dll.zip](https://github.com/ParsePlatform/Parse-SDK-dotNET/files/254785/Parse.Unity.dll.zip)

[2016-05-09 20:19] peterwilli commented on #166
@AngelQuirogaM @Maqtup thanks guys!

[2016-05-10 18:24] Navideck-fotis commented on #47
Any updates?

[2016-05-10 18:25] Navideck-fotis opened #209 "Local Datastore"
Can we expect "Local Datastore" as iOS & Android SDKs already support?

[2016-05-10 23:04] richardjrossiii commented on #209
No. Local datastore, while a cool feature, has been deemed as a 'fundamentally flawed' model of persistence. The main issues come with maintenance - our model of recursively persisting objects inside of a pin, while having a single source of truth for the storage of that object have led to making it impossible to scale use cases that are more complex than a basic object-graph.

The parse team has

[2016-05-10 23:04] #209 closed

[2016-05-11 07:20] Navideck-fotis commented on #209
@richardjrossiii wow, I had no idea. Thanks for letting us know.

[2016-05-17 14:07] Apoll0 commented on #199
+1 for Unity

[2016-05-17 15:04] Avatarchik commented on #190
Hello! I can not have you share your source code? For Push

[2016-05-18 10:40] doctrineofvoid opened #210 "Passing parameters for a find or count query throws error code 105 on parse-server, invalid key name"
Passing parameters for a query is making the code throw and exception on the client side.
I am using dot net sdk v 1.7.0.0.
parse-server version: 2.2.9
mongo-db version: 3.0.6

error message: invalid key name: 0
.net client side exception stack trace:
at Parse.Internal.ParseCommandRunner.<>c__DisplayClass2.b__1(Task1 t) at Parse.Internal.InternalExtensions.<>c__DisplayClass12.b__0(Task t)
at Parse

[2016-05-23 14:35] Quadom commented on #166
@AngelQuirogaM thanks man, this fix my issue too :)

[2016-05-27 01:08] hl4hck commented on #199
I am developing a mobile game using Unity3D.
Is it possible to use LiveQuery with REST API (HTTP.Request)?

[2016-05-27 01:21] richardjrossiii commented on #199
@hl4hck Absolutely! The protocol specification for LiveQuery can be found here: https://github.com/ParsePlatform/parse-server/wiki/Parse-LiveQuery-Protocol-Specification.

You can also, of course, take a look at the open source JS and iOS clients and use those as a basis for any other clients you might make.

[2016-05-27 01:50] hl4hck commented on #199
@richardjrossiii Thank you!

[2016-05-31 04:12] noughts opened #211 "ParseInitializeBehaviour does not have "server" field in Unity."
ParseInitializeBehaviour does not have "server" field in Unity.
It has only "Application ID" and "Dotnet Key" fields.
How can we set our own parse-server URL in Unity?

Environment:
Unity 5.3.4
Parse SDK for .NET 1.7.0
(Downloaded from https://github.com/ParsePlatform/Parse-SDK-dotNET/releases/tag/1.7.0)

[2016-05-31 09:22] jjborde commented on #211
How to integrate parse server, running on heroku with Unity Parse SDK ?

[2016-05-31 14:04] Avatarchik commented on #211
https://github.com/ParsePlatform/Parse-SDK-dotNET/issues/166

[2016-06-01 04:38] noughts commented on #211
@Avatarchik
Thank you. I saw it.
But there are many ZIP files so I can't make a decision which file should we use.

Would you tell me which file is the best for me?
I use Unity 5.3.4 and distribute to both Android and iOS.

Sorry for my poor English. Thanks!

[2016-06-02 19:05] chris3000 commented on #179
Is this still an open issue? I'm seeing this same error on login and signup. I'll try to find the relevant lines in StorageController but this seems like a showstopper bug for migrating over to our own parse servers.

[2016-06-03 17:03] tomh4 opened #212 "Xamarin SDK Error with self hosted parse-server"
Whenever I try to do any call to my Parse server I get an error.
Whether it is a SaveAsync or a facbook login , it is always this error :

and so on and so forth.
I did initialize it correctly to my server, and I can confirm the server is working as I can do stuff with cURL.

I am using the Nuget version

[2016-06-06 23:36] chris3000 opened #213 "ParseFile isn't saving images"
I've compiled the latest code from the repo and it seems like ParseFile saving is broken.
I replaced Parse in a pre-existing app and we noticed that images were getting saved with no data. So I created a blank Unity app that did nothing but save a Parse Object.
Here's the script:

[code]

This saves the object to the test class with a file that only contains the following text (and no jpg data).
`

[2016-06-07 13:19] tomh4 commented on #213
How did you even compile ? It is throwing a bunch of errors at me

[2016-06-07 13:48] chris3000 commented on #213
Honestly, it was a bit of trial and error. I'm a mac person but I couldn't get it to compile with Xamarin. I found a Windows machine and installed Visual Studio. I use Parse for Unity so I'm unfamiliar with VS. I had to set .NET to 3.5 and choose the correct solution (which escapes me at the moment) but finally I got a build. I had to follow the instructions [from this issue](https://github.com/Pa

[2016-06-07 14:58] tomh4 commented on #213
I am not able to use 1.7 to connect to my server it somehow fails... so I wanted to try the master tree (1.8.x) but it fails to compile and the new restructuring confuses me... but there is no support to this sdk anymore imo...

[2016-06-09 13:27] thewizster commented on #212
Please post the parse-server and SDK versions you are using. You said Xamarin SDK but I assume you are working with the Parse Client SDK's to communicate with parse-server?

And, would you give an example snippet of code? That way we can try and reproduce the error? Not enough info to solve a null ref exception...

[2016-06-09 13:33] thewizster commented on #213
You need to save the parse file object first. Call `await pf.SaveAsync();` on the parse file object before `obj ["testimg"] = pf;`

Take a look at the docs example.
https://parse.com/docs/dotnet/guide#files

[2016-06-09 14:46] tomh4 commented on #212
Hello,
Thank you for getting back.
So here is what I do :
Im using Xamarin and the Parse NUGET so the 1.7 SDK together with parse server 2.2.10
I initialize the server
ParseClient.Initialize(new ParseClient.Configuration
{
ApplicationId = "MYAPPID",
Server = "MYSERVER"
});
ParseFacebookUtils.Initialize("MYFBID");

I removed the sensitive data now.
Next I try anything and it gives an error
Wheter I

[2016-06-09 19:54] thewizster commented on #212
Can you verify that you have a trailing slash in your server URL?

`Server = "http://example.com/parse/"`

Initializing your ParseClient should look something like this:
[code]

[2016-06-09 19:58] tomh4 commented on #212
Hello,
yes I can confirm it is ending with a trailing /
However it uses https, might that be a problem ?

[2016-06-09 20:17] thewizster commented on #212
Just a few questions to try and understand your setup better:

1) Can you access the parse-server via the REST API or other SDK and verify that your server is functioning properly?

2) Do you have the `dotNetKey` parameter set in your parse-server config? If so, just remove it. All you need is `appId` param for parse-server.

Here is the basic server config:
[code]

[2016-06-09 20:29] tomh4 commented on #212
Hello,
yes i have the parse dashboard runnning and it shows the server.
Hitting this in the terminal :
`curl -X POST -H "X-Parse-Application-Id: com.app.id" -H "Content-Type: application/json" -d '{"score":1337,"playerName":"Sean Plott","cheatMode":false}' https://website/parse/classes/GameScore`
returns :
`{"objectId":"Z8HHMmyjBc","createdAt":"2016-06-09T20:19:26.630Z"}`
and allows me to see the

[2016-06-09 21:46] thewizster commented on #212
Thanks for sharing. I'm going to setup my local dev env with a similar setup to yours and test on my end.

I did notice a spare comma in your JSON at the end of the `PARSE_SERVER_FACEBOOK_APP_IDS` line. My editor didn't like it. That may just be a typo on github but I just wanted to point it out. I have removed it and re-posted the JSON here just for clarity sake.

[code]

[2016-06-10 05:17] tomh4 commented on #212
Thanks for taking your time.
Ill check if the comma is there or not, but the server is working so im not sure why it should have an impact on the sdk:/ ill check it out

[2016-06-10 07:51] kenglou commented on #211
Currently I'm trying to use creating the ParseInitializerBehaviour myself in starting function using following code:

` ParseInitializeBehaviour _script = m_instance.gameObject.AddComponent<ParseInitializeBehaviour> ();
        _script.applicationID = <ApplicationID>;
        _script.dotnetKey = <DotNetKey>;

        ParseClient.Initialize (new ParseClient.Configuration () {
			WindowsKey = <DotNe

[2016-06-10 08:13] kenglou opened #214 "[Unity3d] Possible to rebuild Parse SDK from Xmarin now?"
as titled. Is Xmarin Problem fixed and abled to build Parse SDK dotnet now?

Or is it possible to use Visual Studio Code to compile the code?

[2016-06-11 17:47] tomh4 commented on #212
Any news ? dont want to push but im sitting here for weeks not being able to continue work....

[2016-06-13 14:09] thewizster commented on #212
Note: I had no previous experience with PM2 prior to this and I wasn't working on my Mac at the time. But here was my experience.

I setup PM2 (v1.1.3) on my Win10 dev machine and ran parse-server (2.2.13) locally connecting to a local dev mongodb server. Here are my results:

1) Ran parse-server using `pm2 start index.js` parse-server ran normally and I was able to connect using a locally hosted

[2016-06-13 16:15] tomh4 commented on #212
First of all thanks for your time. My comment was not intended to be offensive, i am thankfull that you are around because I think noone else is...

I am not sure what you mean by running a plain vanilla parse-server
I use pm2 because it is easy to use and allows me to have the service restarted automatically in case of a restart of the servrer.
I think i will just use the rest api...

[2016-06-13 16:32] amplebrain commented on #166
Looks like Android Push Notification is broken for Unity SDK due to issue in [195](https://github.com/ParsePlatform/Parse-SDK-dotNET/pull/195)

Does anyone have a .dll with the fix included? I cant build because of issues with Xamarin.

[2016-06-13 18:37] thewizster commented on #212
No worries...

I mean for you to setup a fresh parse-server like shown in the parse-server example code and then run your client code against it.

Also, If you are using Visual Studio or Xamarin Studio you can download this example parse client console app and test your parse-server environment. It uses the current NuGet of Parse .NET SDK.

https://github.com/thewizster/parse-server-console

**PLE

[2016-06-14 10:02] tomh4 commented on #212
So did you run it within express? The server I mean

[2016-06-14 12:29] thewizster commented on #212
Yes. Parse Server + Express

[code]

[2016-06-14 18:48] richardjrossiii commented on #214
No. Xamarin still fails to find any files when using wildcard search paths in .csproj files :(. You could expand these paths manually, and it should still compile on Xamarin, however.

[2016-06-16 05:25] couchworx commented on #212
Hello,
I'm having the same problem. I've setup parse-server on AWS / Elastic Beanstalk connected it to my migrated database on mLab. Calls via curl / http work just fine. Using Parse Dashboard works also. Using Parse Server 2.2.13 and the SDK version 1.7.0 (Xamarin.iOS) throws the same exception doing a simple call:
`await ParseUser.LogInAsync(username, password);`

`Object reference not set to an

[2016-06-16 11:55] thewizster commented on #212
Please post the code you are running when calling `LogInAsync()`

[2016-06-16 12:04] thewizster commented on #212
@couchworx Please post the code you are running when calling `LogInAsync()` that will help understand your issue better.

Also, I have a small console app that posts some test data using the .Net client SDK. You could run that against your server and make sure it's working. Get the project here:
https://github.com/thewizster/parse-server-console

[2016-06-16 14:11] thewizster commented on #212
Here is some more sample code that might be of use for this discussion.

https://github.com/thewizster/hello-xamarinforms-ios-parse

Basic Xamarin iOS application that saves data to parse-server. Just change your appId and server url then run the app. If your server is running and properly configured It will save some test data to your parse-server.

[2016-06-16 16:32] couchworx commented on #212
@thewizster Thanks for the quick response. I've just tried the basic Xamarin iOS application. Unfortunately it shows the same issue. If you want to try, I've temporary changed the appId to "47114712", the server URL is "http://puzoh-env.us-west-2.elasticbeanstalk.com:1337/parse/"

![simulator screen shot jun 16 2016 9 32 12 am](https://cloud.githubusercontent.com/assets/4161797/16124762/37c2e492-3

[2016-06-16 16:36] couchworx commented on #212
Posting data via curl works nicely. Feel free to try yourself, the server is for testing. ;)

`curl -X POST \
  -H "X-Parse-Application-Id: 47114712" \
  -H "Content-Type: application/json" \
  -d '{"score":1337,"playerName":"Sean Plott","cheatMode":false}' \
  http://puzoh-env.us-west-2.elasticbeanstalk.com/parse/classes/GameScore`

[2016-06-16 17:23] thewizster commented on #212
@couchworx You are using `http://puzoh-env.us-west-2.elasticbeanstalk.com:1337/parse/` as the server URL in your app which has  http port 1337 assigned. There is no site at this address.

You need to use: `http://puzoh-env.us-west-2.elasticbeanstalk.com/parse/`

**Note:** I have removed `:1337` from the url since your server is operating on default port 80

Your curl works because you are posting

[2016-06-16 18:45] couchworx commented on #212
@thewizster Perfect, don't know how I missed that. Everything seems to be working fine. Thanks for your help.

[2016-06-18 09:49] tomh4 commented on #212
So i have tried your console app and it works fine with my server. however the xamarin app still doesnt work ... what version of the sdk is your console app using ?

[2016-06-18 16:30] thewizster commented on #212
@tomh4  It's using the NuGet package v1.7.0
https://www.nuget.org/packages/parse/1.7.0

Take a look at the packages.config file.
https://github.com/thewizster/parse-server-console/blob/master/ParseServerConsole/packages.config

[2016-06-18 17:07] tomh4 commented on #212
Same package I am using...                                                                                                                                                                                                                                                                                                                                                     Von: Raymond BradyGesendet: Samst

[2016-06-19 14:10] tomh4 commented on #212
My packages.config had
<package id="Parse" version="1.7.0" targetFramework="monodroid60" />

but i changed it to
<package id="Parse" version="1.7.0" targetFramework="net461" />

and still not working

[2016-06-21 08:58] AngelKyriako commented on #185
@richardjrossiii is there a repo created for the social related module ? Please let me know about the direction you are talking about above. I am in need of the FacebookUtils as well, therefore if I can help in making it faster, I will.

[2016-06-21 22:06] jrlee-pw opened #216 "Change in IList<> behavior"
I am using Parse in a Unity project. As part of the migration process, I cloned Parse-SDK-dotNET 1.7, and made a minor modification to allow me to specify the server URI. Previously, I was using Parse.Unity.dll v1.5.5.

This introduced a behavioral change for properties of derived ParseObject classes where the property is an IList<> type. Formerly, if I added or removed items from the list, it wou

[2016-06-22 12:53] amplebrain commented on #166
@richardjrossiii - Do you know when/if the new Unity SDK version would be released?

At the moment, I am able to get everything else I need to work asides Android push notifications and I cant build with Xamarin on my mac.

Any help here will be really appreciated.

[2016-06-22 15:26] AngelKyriako opened #217 "Problem when creating user subclass (is working with the Unity Asset Store SDK)"
Hello,

This is the exception:

[code]

it happens when I call something like this:

[code]

when the class hierarchy is setup like this:

[code]

I have called register only for the UserModel class since I cannot do it for the abstract one:

[code]

This used to work before I changed the unity asset store sdk to the uploaded sdk here: [https://parse.com/docs/downloads](https://parse.com/docs/down

[2016-06-24 16:23] chris3000 commented on #213
I'm using unity so I can pause using a yield to the coroutine. Either way, I'm still getting the same error. I've now tried to save a parseFile to both my internal Parse stack and to back4app (a hosted Parse provider) with the same incorrect results. Here is the test function that I'm running:

[code]

In both Parse files I see the following text, as before:
`{"_method":"POST","_noBody":true}`

Al

[2016-06-24 23:05] thewizster commented on #213
@chris3000 I haven't used Unity so I'm not much help there.

I do have a sample console app that saves to parse-server that you could take a look at. I just modified it to save a parse file.

I am running parse-server (v2.2.13) on my local machine (Windows at the moment). However for file storage on my local dev parse-server I have the Azure storage file adapter installed. I just tested this conso

[2016-06-28 19:08] couchworx commented on #199
+1

[2016-06-29 18:58] chris3000 commented on #213
Thanks @thewizster . Have you confirmed that this does indeed save a file to your database? The reason I ask is that I've pointed my demo Unity app to an app I have at Parse.com and I'm seeing the same bug. I feel confident that the problem is not on the remote Parse Server side. I've been using Parse with Unity using the last released Unity SDK and it's worked fine. I would continue to use it but

[2016-06-30 13:52] thewizster commented on #213
@chris3000 Yes, I am saving image files. I've used both the .Net SDK and parse-dashboard to save image files. Both with success.

[2016-06-30 18:02] chris3000 commented on #213
Hi @thewizster One last question if it's ok: Are you using a particular tagged commit, or are you using the Head of the master branch?

[2016-06-30 18:10] thewizster commented on #213
No prob. @chris3000 I am just using the Nuget 1.7.0 package. https://www.nuget.org/packages/parse

I have a couple mobile projects and the .net sample repos on my github using it.

As I understand it, the master branch has modularized and broken the code up a bit. I'm not using that code yet. I have existing code that still uses 1.7.0 so I am sticking with it for the moment.

[2016-06-30 23:56] richardjrossiii commented on #216
This was intentional, and part of #66. You can read the rationale there.

[2016-06-30 23:56] #216 closed

[2016-07-01 00:02] richardjrossiii commented on #217
Hmm. This is probably a bug in https://github.com/ParsePlatform/Parse-SDK-dotNET/blob/master/ParseCore/Internal/Object/Subclassing/ObjectSubclassingController.cs, though I'm not 100% sure where. I'd bet that we never tested support for abstract base classes.

Could you perhaps make your base non-abstract? Or maybe add the `ParseClassName` attribute directly to `BaseNetUserModel`?

[2016-07-01 00:10] AngelKyriako commented on #217
I for sure tried both but I am not sure what kind of combinations.

Any case the ParseClassName will be needed in all the classes in the class tree related with the _User collection ?

I will try more combinations & I will get back on this

[2016-07-01 01:22] richardjrossiii commented on #217
@AngelKyriako I would definitely try it on all classes in the tree. If I had to venture a guess it may have something to do with the logic here: https://github.com/ParsePlatform/Parse-SDK-dotNET/blob/master/ParseCore/Internal/Object/Subclassing/ObjectSubclassInfo.cs#L32-L35, where we can't find the attribute if it's inherited only.

[2016-07-03 02:20] rfrailemartinez commented on #212
I have the same problem.

But there is something special I did:
- Test 1: App is connected to 4G or normal Wifi: I have same error as tomh4
- Test 2: I put a intermediate proxy -> Fiddler and I have installed its own root certificate on android device for https.The apps works perfect.

Because of that, I think the problem maybe comes from:
- redirection in server nginx (https:://dns to http://ip:1

[2016-07-06 15:18] AndrewLane opened #218 "Updated nuget package?"
Looks like 1.7.0 is the latest nuget release, but it's behind master by a couple of months.  Any plan to push the latest out to NuGet?

[2016-07-06 15:51] AndrewLane opened #219 "ParseClient.MasterKey internal by design?"
I was trying to figure out a way to send a master key with API requests.  I see that  ParseClient.MasterKey exists, but it's internal.  I know using AdditionalHTTPHeaders to send a X-Parse-Master-Key header is an option, but that seems like a kludge.  Is ParseClient.MasterKey marked as internal by design?

[2016-07-06 18:34] AngelKyriako commented on #217
@richardjrossiii I tried both and It seems that the issue does not have to do with the abstract class or the fact that the ParseClassName is not defined on all classes in the tree.

It feels like it does not work well when inheriting the ParseUser class, but works when inheriting the ParseObject class.

Currently, I am unable to build the project on my PC. Is there any documentation apart from the

[2016-07-06 20:29] richardjrossiii commented on #218
Master is not currently in a release-ready place. It's missing some core logic required to migrate our old user storage model to our new one (based on PCLFile). This means that if an existing app was to upgrade to the latest SDK version, all of their users (especially anonymous users) would be logged out.

Master is also currently missing the logic for the Facebook and Twitter utils right now.

[2016-07-06 20:30] richardjrossiii commented on #219
Yes. It primarily exists for the use-case of our internal testing, as we didn't initially see it as super valuable to expose to apps (there's a lot of damage that a leaked master key can do).

[2016-07-06 20:30] #219 closed

[2016-07-06 20:31] AndrewLane commented on #219
thanks

[2016-07-07 14:11] AndrewLane opened #220 "Possible to talk to 2 separate parse servers in 1 application?"
Hello, the ParseClient.Initialize step seems to be something that's done once and only once with this SDK.  I can't figure out any way, for example, to talk to 2 different parse server installations in a single console application using this SDK.  Am I missing something?

[2016-07-15 01:10] noughts commented on #211
@kenglou
Thanks for your suggestion.
But unfortunately that is not worked in my environment😢

[2016-07-15 01:45] noughts commented on #211
@kenglou
Wow I tried again several times and it works!
The important point:
don't forget last "/" for Server value.

[2016-07-15 06:57] kenglou commented on #211
no problem as long as it helps :)

[2016-07-15 07:01] kenglou commented on #199
+1

[2016-07-15 07:03] kenglou commented on #166
If there is a clearer way to make the SDK running from Xamarin or Unity3d i think it's better for us so that we doesn't need to just waiting here.

[2016-07-17 15:52] chris3000 commented on #199
+1, although the API seems pretty simple. I'll try to implement in Unity using BestHTTP until it's stable in the Parse SDK.

[2016-07-20 20:47] AndrewLane commented on #220
Following up on this...

[2016-07-20 21:23] richardjrossiii commented on #220
There is currently no way to do this, no. The parse architecture is very singleton-focused, and it's one of the more painful things, I agree. However, at this point in Parse's lifecycle, such a rewrite to be less singleton-based isn't really practical. You could run two builds of parse side by side, with different namespaces/assembly names, which should mostly work, though you may run into some od

[2016-07-20 21:24] #220 closed

[2016-07-22 06:14] miracle7 opened #221 "Only first save of CurrentInstallation works when custom columns are added"
When I run the following code the first time, the installation is saved successfully.
[code]
All subsequent times it fails with the error:
`Parse.ParseException: at least one ID field (deviceToken, installationId) must be specified in this operation`

If I omit the second line where I set the language column I can save as many times as I like without issues. I have also tried doing things like fet

[2016-07-22 06:19] miracle7 commented on #221
I am not sure whether this is a problem with parse server or the dot net sdk, but I noticed that both myself and another user on the parse server github were experiencing this issue using the dot net sdk which is why I made this issue:

More information such as logs from parse server are available here:
https://github.com/ParsePlatform/parse-server/issues/2090

[2016-07-22 21:02] richardjrossiii commented on #221
@miracle7 A Parse.ParseException is almost certainly a backend issue. There's no logic inside ParseInstallation to my knowledge that would cause such an error to occur.

[2016-07-27 08:14] peterwilli opened #222 "Parse SDK sending POST instead of GET when trying to fetch objects"
Hi There,

I am trying to integrate the build posted here: https://github.com/ParsePlatform/Parse-SDK-dotNET/issues/166#issuecomment-217977259

I am having issues with fetching a list of objects, I do it like this:

	var query = ParseObject.GetQuery("HiScore").Limit(100).OrderByDescending("score").WhereGreaterThanOrEqualTo("createdAt", time);

	query.FindAsync().ContinueWith(t => {
		IEnumerable<P

[2016-07-27 14:28] iwansanders commented on #218
It looks like this SDK has not the priority it deserves windows UWP runs great on the Raspberry Pi which makes it an excellent platform for IoT related projects. I would really like to see some "movement" on this branch.

[2016-07-27 18:09] amplebrain commented on #222
Fetching a list seems to work fine for me. Posted my code snippet below if that helps

`
		IEnumerable<ParseObject> leaders = new List<ParseObject>();

		ParseQuery<ParseObject> parseData = ParseObject.GetQuery ("GameName").OrderByDescending ("HighScore").Limit(10);
		Task queryTask = parseData.FindAsync().ContinueWith (t => {
			leaders = t.Result;

		});

		while (!queryTask.IsCompleted) yield r

[2016-07-28 17:02] peterwilli commented on #222
@amplebrain Hi there, I didn't have the luxury of building the SDK myself (humble linux user) so some good people have done it for me, see: https://github.com/ParsePlatform/Parse-SDK-dotNET/issues/166#issuecomment-217832665 and https://github.com/ParsePlatform/Parse-SDK-dotNET/issues/166#issuecomment-217834669

Neither worked for me, I'll try your example soon, maybe it will work suddenly :)

[2016-07-29 16:32] amplebrain commented on #166
Has anyone been able to successfully implement Android Push notifications in the Unity SDK?

After a lot of debugging, I was finally able to get my app to register with gcm but now Push Notifications only work when the app is in the background. When the app is closed, the app throws an error

Does anyone have any experience with this?

[2016-07-29 16:47] amplebrain opened #225 "Unable to Receive Push Notifications when App is closed"
Hi there,

I was finally able to get my parse-server and Unity SDK working. The last piece of the puzzle is fixing push notifications for Android.

So far, It works when the app is opened or in the background but throws an error when the app is is in the background.

My Manifest file is:

[code]

<meta-data android:name="com.parse.push.gcm_sender_id" android:value="id:882389752921"

I think this i

[2016-07-31 22:41] tchantchoj opened #226 "Problem with login and ParseUser.CurrentUser"
Hi,

I'm currently building a website using the Parse SDK for .NET

I use the method ParseUser.LogInAsync to log users on my website.

When I login on my website, if I send the link to my website to someone else, he will be automatically logged in as me. Is this normal?

Thanks for your help!

[2016-08-05 16:39] abagshaw opened #227 "Any support for live queries?"
Is there any support in the .NET library for Parse's Live Queries? http://blog.parse.com/announcements/parse-server-goes-realtime-with-live-queries/

If not - is this a planned feature addition?

[2016-08-05 16:41] abagshaw commented on #227
Whoops - just saw this was already asked in #199

[2016-08-05 16:41] #227 closed

[2016-08-05 16:42] abagshaw commented on #199
+1

[2016-08-05 20:50] CatherineSD opened #228 "Support for Xamarin component?"
Hi,
We are currently using the Parse component in our app in Xamarin and it is working great! We are facing an issue that seems to have a fix already (https://github.com/ParsePlatform/Parse-SDK-dotNET/issues/106) but it is not fixed in the component. Other issues might have been fixed already but not yet in the component.

Does anyone know if this component will still be maintained in the future?

[2016-08-08 18:00] richardjrossiii commented on #228
No, at this time we are no longer maintaining components in the Xamarin Store, Unity Store, or other package managers. The source of truth for all version of the SDK is here on github, and we encourage you to download and install it from the releases page https://github.com/ParsePlatform/Parse-SDK-dotNET/releases

[2016-08-08 18:00] #228 closed

[2016-08-09 05:46] noughts opened #229 "Where is Parse Unity SDK Docs?"
I'm looking for Parse Unity Docs from https://parseplatform.github.io/ .

There are docs for all languages but not for Unity.
Android -> http://parseplatform.github.io/docs/android/guide/
iOS -> http://parseplatform.github.io/docs/ios/guide/
dotNet -> http://parseplatform.github.io/docs/dotnet/guide/
Unity -> ???

Do you have any plan to publish Parse Unity SDK docs?
Thanks.

[2016-08-16 20:59] robtaireeo commented on #225
I believe you need to add a GCM broad cast receiver.

[2016-08-18 09:47] mehtadakshil commented on #135
Where i can get ParsePush.jar ? I am facing Same issue

[2016-08-18 09:53] mehtadakshil commented on #135
from where to download ParsePush.jar !?

[2016-08-18 10:30] mehtadakshil commented on #135
I added ParsePush Sdk still Unable to call Start or awake of other Class !

[2016-08-18 10:32] mehtadakshil opened #230 "Issue in android 6.0"
My other any class Start or Awake function is not called. It works fine in editor.  Check in Nexus 5 with android 6.0.

[2016-08-21 00:17] peterwilli commented on #222
@amplebrain really weird, but today I'm not managing to even fetch anything at all! Gosh, ever since parse went down it's nothing but trouble for me. I never managed to get the server and the unity client to work with eachother. It's a disaster and am considering rolling my own backend since it's just 1 project using parse :(

[2016-08-21 15:10] amplebrain commented on #222
What error does Unity throw? Can you try to catch the ParseExceptions and see if they tell you anything?

What version of parse server are you running?
Do you get any response when you try to CURL?
Can you post your server config here?

So far, parse-server has been fairly stable my test deployment but I havent migrated most of my users yet.

[2016-08-22 09:03] peterwilli commented on #222
@amplebrain It doesnt even request anything at all. It used to work a little (as in: I could see the Unity SDK doing requests to my server).

But none of it matters now as I rolled my own simple PHP script and replaced Parse functions with simple use of WWW objects to make requests to them.

I know it's not really solving the problem but at least now I know for sure it works. I just didn't want to

[2016-08-22 09:03] #222 closed

[2016-08-24 09:11] hunterua commented on #157
Hi!
Is this issue is solved ?

[2016-08-25 13:19] hl4hck commented on #157
Hello!
How is it going?

[2016-08-26 07:04] kitkat14 commented on #218
The NuGet really needs a update it has allot of issues especially push related nothing works out of of the box. Documentation is saying one thing but in practice it will take hours if not days to figure out that the documentation and old nugget are not in sync.

[2016-08-27 11:24] kitkat14 opened #231 "Building throws error"
Finally after couple of days grinding my teeth i figured out the error was not my code but something with Parse SDK. So the 1.7.0 version is not working at all with android push (using with xamarin).
I read there were some fixes I need but not released to an official release.

Some guide how to build it and make it like a package that you get though nuget ? Because I tried download a clone and use

[2016-08-28 11:58] kitkat14 commented on #231
Does anyone even has push working with android + parse server i am on this for days but it doesnt seem to work with all the tutorials that are around

[2016-08-29 07:39] hl4hck commented on #214
@richardjrossiii How to fix it manually?

[2016-08-30 08:47] noughts commented on #229
http://parseplatform.github.io/docs/unity/guide/ is back now.
Thanks.

[2016-08-30 08:47] #229 closed

[2016-08-31 00:19] kitkat14 commented on #225
Just forget about using .net parse with parse server push is not working if its closed. the broad cast receiver methods are not working.

Till this is fixed its not a good idea to use. Reversing everything back to normal parse hope that in the coming half year the sdk is updated to be used properly with parse server

[2016-09-01 08:10] unger commented on #231
It is possible to make push working with Android but it requires some work. We made it work by checking out the [1.7.0 tag](https://github.com/ParsePlatform/Parse-SDK-dotNET/releases/tag/1.7.0) and after that fixed a bug with [gcmsenderid ](https://github.com/ParsePlatform/Parse-SDK-dotNET/pull/195/commits/a63ebd3a27e1936aacc1e5cf3ea3f7ecb178f37d). Then there was a problem with Marshmallow (6.0+)

[2016-09-03 02:00] essamghonim opened #232 "Parse Cloud Issue Push Notification not Received on device"
I had an issue with pushing notification to ios devices. Having set up the parse cloud function as shown below:
<img width="641" alt="screen shot 2016-09-03 at 03 51 22" src="https://cloud.githubusercontent.com/assets/19748027/18222028/2f44c746-7193-11e6-87a0-a752f595d3de.png">

This is my index.js file:
<img width="576" alt="screen shot 2016-09-03 at 03 52 11" src="https://cloud.githubusercontent

[2016-09-07 13:04] johnnydimas commented on #199
yes please!

[2016-09-09 19:11] kitkat14 opened #234 "IPv6 support ? Apps being rejected by Apple"
Did anyone test this on a IPv6 network.
I think it doesn't work because Apple is blow rejecting apps without IPv6 support. And they can't reach login...

(Using Xamarin to build iOS app)

[2016-09-10 17:08] kitkat14 commented on #234
Some solution here ?

[2016-09-12 17:52] richardjrossiii commented on #234
There's nothing in our network stack that relies on any version of IP, whatsoever. If you're experiencing a problem, it's probably not on us (I just tested on my IPv6 network, and everything appears to be in order).

Is it perhaps a firewall issue?

[2016-09-12 21:03] kitkat14 commented on #234
I have no idea. Apple review team is not able to login or register. I am not doing anything special just normal login/register that works on my networks. But they said it's probably something with ipv6. So I have no idea what could be the problem only that the sdk is not IPv6 ready.

[2016-09-12 21:19] richardjrossiii commented on #234
Assuming you're using parse-server, is it possible that your host is not configured for IPv6 yet? And if you're not using parse-server, we **very** strongly encourage you to migrate ASAP.

[2016-09-12 21:47] kitkat14 commented on #234
I was using parse server before but because the sdk is not updated to work with gcm push I had to revert back to using plain old parse.

So we are talking about parse native host.

[2016-09-12 23:38] richardjrossiii commented on #234
http://api.parse.com does not support IPv6, and will never support IPv6. If you need IPv6 support, please migrate to parse-server.

[2016-09-12 23:38] #234 closed

[2016-09-12 23:41] kitkat14 commented on #234
Thanks for letting me know.
Will drop this parse all together and migrate to firebase or AWS. Too much hassle with all these parse bugs. Thanks for the trouble

[2016-09-13 06:58] Zolotoymen opened #235 "Net"

[2016-09-13 16:46] lacker commented on #234
I suggest Firebase. Good luck!

[2016-09-13 20:07] #235 closed

[2016-09-13 22:27] Blueteak commented on #85
Any update on this? Unity3D has this issue as well

[2016-09-15 01:10] kenglou commented on #214
@richardjrossiii  can you provide more details on how to change search paths in .csproj files? or how to do it in windows? as we can't build ios from windows right? Please advise and thank you.

[2016-09-15 18:23] richardjrossiii commented on #214
@kenglou You can build iOS on windows absolutely fine, you will just need to install the proper Xamarin plugin.

But essentially, inside the project file, there is a list of paths to compile:

https://github.com/ParsePlatform/Parse-SDK-dotNET/blob/master/ParseCore/ParseCore.Portable.csproj#L40-L45

Wildcard search paths are not supported with mono's build system, for some reason.

If you expanded

[2016-09-19 15:27] FlorianSchuler commented on #199
+1

[2016-09-29 03:02] hl4hck opened #236 "How to authenticate a user in Parse dotNET / Unity SDK using OAuth?"
Hi, Parse Server offers OAuth authentication. The Parse Server docs give examples on how to configure the OAuth modules. e.g. Google.

But, Parse Unity sdk has a ParseUser.LogInAsync("myname", "mypass") method.
I could not find a method like ParseUser.LogInAsync(string authType,...).

How do I use it in dotNET(especially Unity3d) using OAuth to login or signup a user?

[2016-09-30 02:47] hl4hck commented on #236
It seemed that Parse dotNET SDK does not support OAuth function, so I got “sessionToken” from Parse-Server by using Parse REST API.
And then, I called ParseUser.BecomeAsync in order to get ParseUser with “sessionToken”, however, it does not work.

How can I use OAuth function in the Parse dotNET SDK?

**1. POST /parse/users**
[code]

**2. Response**
[code]

**3. ParseUser.BecomeAsync**
[code]

[2016-09-30 05:34] cleyden commented on #179
This is still a problem, anyone had any luck with a work around?

[2016-10-03 13:35] mikepaggi opened #237 "xamarin local datastore"
Is there a reason why we can't have local datastore with xamarin?  Is there any plan for it?  I want to use parse still, but building two distinct apps in Swift and Java to use local datastore is a pain for me now...

[2016-10-04 00:02] richardjrossiii commented on #237
Local data store has been deprecated. There is no future planned support for it. The reasons are long and complex, but they come down to being essentially unmaintainable. If you want offline storage, I'd highly recommend a solution like realm.

If you'd like to read more on the subject, check out the many discussions that have been had here: https://github.com/ParsePlatform/Parse-SDK-iOS-OSX/issue

[2016-10-05 06:00] #221 closed

[2016-10-05 10:46] kenglou opened #238 "[Unity3d] Is it possible that if we directly copy and past the source files from here to Unity3d (skip the DLL building)"
as titled.

It is a bit hard to maintain the source in Windows due to I'm using Mac to develop the game. Besides that, I can't inherit the pre-defined processing symbol from Unity into the DLL.

THank you.

[2016-10-10 04:39] kenglou commented on #179
why not tried to use back the old method and use

 to do the checking?

[2016-10-11 09:36] AnikoV opened #239 "Exception.Status = ServerProtocolViolation"
when I try to do anything in Parse client throw exception int HttpClient.NetFx45;

[code]

**In code below InnerException - ServerProtocolViolation and .Response = null !**

[code]

Client Code

[code]

What Can I Do with this?

[2016-10-16 09:15] AngelKyriako commented on #217
@richardjrossiii  after a long time it was about time to deal with this issue.

As I could not build the current master branch I checkout to 1.7.0 to be able to build the plugin.
Therefore I am not sure if I should pull request it on master.

Eventually, the problem is that when creating a new object with the subclass feature, parse will use a dictionary to lookup the type of the subclass register

[2016-10-17 00:34] tofutim commented on #47
Any updates?

[2016-10-17 00:50] tofutim commented on #199
Has anyone successfully gotten LiveQuery to work from .NET?

[2016-10-17 02:36] aquaGhost1 commented on #166
@richardjrossiii is there an official 1.8 version coming?

[2016-10-17 23:31] richardjrossiii commented on #166
@aquaGhost1 No, we are not planning a release at this time. Our current mandate is to handle only security critical bugs for the client SDKs only, unfortunately.

[2016-10-19 16:42] zayats77 opened #241 "Package Parse 1.7.0 is not compatible with netcoreapp1.0"

[2016-10-20 07:56] johnnydimas commented on #218
I would really like to see a new nuget version published as well. Just spent some time setting up push on our server and on iOS, only to realize it doesn't even work in android.

[2016-10-20 08:33] ZenithCode opened #242 "[Unity] - Save locally if internet connection is not available"
Hey,

Is there a way to save locally in Unity on Android/iOS if internet connection is poor/missing?

I see there's 'SaveEventually' API on some other SDKs.

Regards,

[2016-10-24 19:59] aquaGhost1 commented on #166
@richardjrossiii so is it recommended that people just build the repo?

[2016-10-29 13:30] mayafishing commented on #211
It really helps! Thanks!

Just wondering why the official Unity SDK does not allow to set the Parse Server URL! It has been a long while! Anyone working on that?

[2016-11-02 19:45] AngelKyriako commented on #211
@mayafishing I fixed this app for the app I am working on

https://github.com/AngelKyriako/Parse-SDK-dotNET

once u clone make sure you `git checkout angelkyriako/master`

You may build it with mono or VS

Hope that helps

[2016-11-12 16:30] FlorianSchuler commented on #218
@richardjrossiii
Is still anybody working on this Parse SDK for .NET and will there progresses in future, regarding all the open important issues, or ist this whole project dead and we should look for other services to replace parse?

[2016-11-13 08:04] farzadi commented on #199
+1

[2016-11-23 13:27] danibjor opened #243 "Issues with parse-server behind Lets Encrypt https proxy, but only Android"
We try to use the Parse DotNet SDK with Xamarin to fetch data from a local Parse installation.

Setup works fine and we can browse the data with ParseDashboard over https.

The .NET solution consists of a shared project, and an Android and iOS client.

In the shared code, we init parse and do a simple test save object. This works fine on iOS but not with Android. If we switch to http, then the And

[2016-11-23 13:38] drdaz commented on #237
Is there some way this could appear in the documentation? It would be good for all concerned if we knew going in to a project that the LDS isn't a performant, recommended path to take. Speaking from costly experience here...

[2016-11-23 23:27] miracle7 opened #244 "Increment value of parse object without saving whole thing"
I would like to increment one value of a parse object and have that change reflected on the server without the whole object being saved, since the cached version of the object on the client may not be up to date.

    tournament.Increment("prizePool", amount);
    tournament.SaveAsync();

Is there any easy way to do this, or do I just have to be sure to always fetch the current version immediately

[2016-11-29 17:39] richardjrossiii commented on #243
Is it possible that the android device doesn't have the Lets Encrypt Root CA in its trust store? That would make any HTTPS connection to a lets-encrypt signed cert fail.

[2016-12-07 09:21] Apoll0 opened #245 "Can't get Config with Android build"
ParseConfig.GetAsync() work well, when I build the Unity project to iOS device. But there is problem with android

Config can't be load from our local server.

![1](https://cloud.githubusercontent.com/assets/5494179/20961758/85caf868-bc77-11e6-8e16-b0d9110ea2e7.png)

Sorry for pic, but I can't copy logs right now.

[2016-12-12 06:47] miracle7 commented on #199
@chris3000 Did you have any luck getting this working with Unity?

Looking into trying it myself but if there is anything interesting you have to share could save some tears haha

[2016-12-12 11:02] chris3000 commented on #199
No, I haven't tried yet. We're using a polling strategy for now.

[2016-12-13 04:30] miracle7 opened #247 "Log spam and stuttering if logged into facebook without internet connection"
We are using the Facebook Unity and Parse .NET SDKs in our mobile app, developed in Unity for Android and iOS.

To reproduce:
- Login to Facebook (using `ParseFacebookUtils.LogInAsync`)
- Close app
- Disable internet connection
- Open app

User is still 'logged in', but the apps framerate drops drastically until internet is enabled, and constantly spams out this in the android logs (using a Samsun

[2016-12-13 04:46] miracle7 commented on #247
Just been informed this is only happening on Android, iOS is unaffected.

[2016-12-21 15:30] AndrewLane opened #248 "Can't get installation to save CurrentInstallation data to local storage"
I'm seeing my installationId get persisted to local storage, but nothing else.  This means that when I relaunch my app, my ParseInstallation.CurrentInstallation object doesn't have all the installation data that I last saved.  It's basically a start-from-scratch object.  I'm stepping through the SDK code to figure out why, and here's the line I'm confused about:

https://github.com/ParsePlatform/P

[2016-12-28 14:59] nah0y commented on #166
@richardjrossiii @aquaGhost1 That's really unfortunate. I don't have an easy way to build it myself on OS X. A small 1.8 official release would be awesome (just to have the ability to specify the server URL). Thanks :)

[2016-12-30 17:05] giomatiashvili commented on #104
Here I fixed that problem and recompiled jar, if payload is null it just escapes function without any crash.

Download: [ParsePush.jar](https://drive.google.com/open?id=0B3rbhKVZ4R8dVmlUZHhKbzZXNzQ)

[2017-01-02 20:16] aquaGhost1 commented on #166
@nah0y the build @infosekr posted above works well. So as a stopgap, try that one.

[2017-01-03 10:37] nah0y commented on #166
Well yes this is what I ended up doing thanks. But still :/

[2017-01-05 11:47] hl4hck commented on #47
Any updates?

[2017-01-05 14:16] cecilphillip commented on #47
With .NET Standard coming out, that might be a better target than PCLs for Xamarin

[2017-01-09 18:16] WookieeJumper opened #249 "Client loses connection after several scene loads in Unity."
I am working on a game in Unity that has a single hub scene which gets loaded after every mini game. The first time through everything works fine, but once the mini game is complete and I load back into the hub scene I can no longer communicate with the server.

My ParseInitializer has DoNoDestroyOnLoad and I only ever have one in the game. Im at a loss as to what to do here.

[2017-01-11 02:24] Murf opened #250 "Can not build with Visual Studio 2015 or the latest Xamarin Studio"
Is anyone working on releasing 1.8.0 please?
or is there a workaround for the GCMSenderID problem with Xamarin Forms Android?

[2017-01-13 20:00] abraaocaldas commented on #181
Any news about this?

[2017-01-23 13:43] vip32 commented on #156
oh my, that / resolved the issue

[2017-02-01 23:09] aquaGhost1 commented on #166
@nah0y @richardjrossiii just wondering, since this is open source and you all arent releasing builds, will there be some admins who are actually permitted to manage releases from the open source community?

[2017-02-03 12:45] #62 closed

[2017-02-03 17:51] benwulfe opened #252 "Task.Run incorrectly runs task on Synchronization.Current thread"
See my PR here:

https://github.com/ParsePlatform/Parse-SDK-dotNET/pull/251

.net documentation explicitly states to use threadpool and mono does just that -- so I believe this is a bug in the parse library.  fix is in PR.

[2017-02-06 21:46] richardjrossiii commented on #166
@aquaGhost1 Great question. I'm currently unaware of any major plans with our client SDKs at this time. From the perspective of Parse (and Facebook), they are 'complete' in the sense that no future development will happen. If community member(s) are actively interested in managing and maintaining the repository, perhaps a discussion could be made towards migrating to that scenario.

Note that in a

[2017-02-07 22:21] ghost opened #253 "Unity API change in 5.6 beta 6"
Unity 5.6 beta 6 introduces the error below (only in Android builds on device, in my testing).  This is due to an API change in Unity 5.6 beta 6 that renames 'Application.bundleIdentifier' to 'Application.identifier':

from https://unity3d.com/unity/beta/unity5.6.0b6

5.6.0b6 Release Notes (Delta since b5)
API Changes
Build Pipeline: Changed 'Application.bundleIdentifier' to 'Application.identifie

[2017-02-08 04:37] aquaGhost1 commented on #166
@richardjrossiii I'd be glad to help with the management of the effort. But Im not qualified (from a technical standpoint) to Admin the repo, which is why we're using Parse. If anyone else who has commented on this thread wants to be that Admin, it would be great if they chimed in.

[2017-02-08 09:36] nah0y commented on #253
I don't know anything about this issue, but looking at the source code for ParseClient.Initialize it never uses bundleIdentifier anywhere :/
https://github.com/ParsePlatform/Parse-SDK-dotNET/blob/master/ParseCore/Public/ParseClient.cs

So where is the Parse SDK calling the bundleIdentifier?

[2017-02-08 09:39] nah0y commented on #166
@richardjrossiii Would it be possible to make a small video, or documentation or something (even done really fast) showing what you usually do to test, compile and make a release?
If it's not that difficult one of us could probably take the hand and do it (at least making a "final" release working for Unity and fixing things for Unity 5.6).
Thanks :)

[2017-02-08 22:41] o3a commented on #253
Thanks for taking the time to look into my issue.  I was getting a bit worried, since there don't seem to be very many responses to issues that other people have posted the past few months.

I couldn't find the call to bundleIdentifier in the current DotNet Parse SDK code either, so I dug deeper using ILSpy to decompile my Parse.Unity.dll and found the call to Application.bundleIdentifier in a fil

[2017-02-09 08:50] nah0y commented on #253
@o3a I also ran into problems compiling the DLL (I'm on a Mac), and a lot of people already asked for a small "last" release, but it seems we can't have that :)

But you can do as I did, which is use a DLL compiled by someone on this thread, right here: https://github.com/ParsePlatform/Parse-SDK-dotNET/issues/166#issuecomment-217834669

[2017-02-10 17:31] o3a commented on #253
@nah0y Thanks for the DLL, I tried it and it has the same issue as the DLL that I was using before (with Unity 5.6 beta 6). This problem is not blocking me at the moment, since I can get by with Unity 5.6 beta 5 for now, but I don't like the idea of getting stuck on a Unity beta version when they're actively changing and adding features that I need (in this case, Google Daydream and integrated Car

[2017-02-10 18:53] aquaGhost1 commented on #253
@o3a we have the same issue with it being core to some projects and your point about unity releases is important.  I think we DO need someone to take over as admin, and make this a real open source effort.
We started that convo in this thread, I hope it goes somewhere:
https://github.com/ParsePlatform/Parse-SDK-dotNET/issues/166#issuecomment-254364431

[2017-02-14 01:06] o3a commented on #166
@richardjrossiii Could you possibly describe to us, in some degree of detail, the setup and process that you use to compile the current Parse DotNet SDK master branch to get a usable Parse.Unity.dll that can be dropped into a Unity project?  I tried Visual Studio 2015, Visual Studio 2013, Visual Studio for Mac, Xamarin Studio, multiple versions of MonoDevelop, etc and in each case I ran into diffe

[2017-02-14 19:46] o3a commented on #253
I was able to get past this issue by using ILSpy with the Reflexil plugin to essentially remove the line of code that is incompatible with Unity 5.6 beta 6 and newer.  Reflexil allows you to edit IL code directly and save modified DLL's without having to compile from original source code.

Tools used:
http://ilspy.net
http://reflexil.net

To install Reflexil, just dump all of the Reflexil files in

[2017-03-06 20:57] AndrewLane commented on #248
ping

[2017-03-08 17:10] ra7bi opened #255 "How to use live query in Xamarin PCL"
Hello all , im wondering to know how i can implement live update on my app , for example chat application without refreshing the page  i want to see any new messages .
i know there is a concept called live query but I'm not sure if it's supported for .net .

please share your experience regarding this point .

Thanks

[2017-03-11 03:15] ixikos commented on #166
I am getting the exception:
AndroidJavaException: java.lang.ClassNotFoundException: com.parse.ParsePushUnityHelper

and am unsure how to fix this.  Also, when trying to sign up a new user I get:
Exception of type 'System.AggregateException' was thrown.

I haven't been able to find any clues to why this is happening.  Any help would be much appreciated.  I can query tables with no problem.  I have

[2017-03-31 07:24] AngelQuirogaM commented on #166
@ixikos  Don't worry about the ClassNotFoundException.
If you follow the source code from which I compile the dll that message is harmless.

The System.AggregateException error use to happen in every connection problem. It's a 'generic' error that doesn't help so much but that's all folks!

[2017-04-06 06:47] jcguarinpenaranda opened #257 "Is this project still alive?"
I have searched through the code how to add my serverURL but i have the impression that after Parse got deprecated this library has not been updated. In that sense, my question is if this project is still alive?

I am doing a small test on Unity but without being able to set my Parse Server's Url there's nothing I can do with the SDK

[2017-04-08 16:04] plyoung commented on #257
I am guessing this..

[code]

But I am not having any luck with the below code. The task just don't seem to ever complete.

[code]

[2017-04-08 20:40] plyoung commented on #257
Made some progress. At least now I get a "NullReferenceException: Object reference not set to an instance of an object" when I try to make a ParseCloud.CallFunctionAsync call.

Check under Components > Scripts > Parse is ParseInitializeBehaviour. Dump that onto a GameObject and enter your app ID.

[2017-04-10 15:37] PunkStarStudios opened #259 "All queries and LoginAsync respond with Invalid Response - but REST and OSX SDK works fine."
Issue Description

I am able to authorize a user via REST and OSX just fine. But I am building VB.NET application (VS2015) to no avail.
I am greeted "Invalid response from server"

Steps to reproduce

Imports Parse
....
Private Async sub fromMain_Load(sender as Object, e As EventArgs) Handles Me.Load
Dim myConfig as ParseClient.Configuration
myConfig.ApplicationId = "myid"
myConfig.WindowsKey = "m

[2017-04-11 15:19] PunkStarStudios opened #260 "Starter Projects need Updating"
The starter projects here are for the old Parse.com site. The code doesn't have anywhere to specify your own server address.

Can these be updated?

A simple matter that would have you scratching your head - but my problem is I can't get my dotnet clients to work (just REST and MacOS/iOS), so having a working starter project would go a long way to troubleshooting if the project is on my end or in

[2017-04-12 05:57] okarpov opened #261 "invalid signed request"
Hello,

When I change AppID and Secret from previous fb account to AppID and Secret of another facebook account app it gives me "invalid signed request" error.

What the problem in? Any idea please.

[2017-04-12 07:00] plyoung commented on #260
Go through https://github.com/parse-community/Parse-SDK-dotNET/issues/166 and you find a build that includes it. It is in the sources but they never made an official build.

This project feels so dead :(

[2017-04-12 07:02] plyoung commented on #255
I think only the JS and iOS client SDKs support this atm. They seme to be working on Android support too. No idea what the plans are for .Net :(

[2017-04-12 07:05] plyoung commented on #199
+1 Unity.

[2017-04-12 11:28] PunkStarStudios commented on #260
Hey - thanks for the note.
I went through that thread you noted.
The only link I found that went to code that had sample projects... was the existing sample projects found already (based on parse.com with no server setting).

But maybe I missed it.

Can you pull out the link for me?
Pretty please? ;P

[2017-04-12 13:50] plyoung commented on #260
This one https://github.com/parse-community/Parse-SDK-dotNET/issues/166#issuecomment-193965729
or this https://github.com/parse-community/Parse-SDK-dotNET/issues/166#issuecomment-194141770
includes the Parse.Unity.dll (cant remember which I use)

[2017-04-13 15:38] vladrad commented on #166
Hey all im working on a stand alone non dll project, just the CS files. No compiling needed. Im getting far. Ill post my results here soon.

[2017-04-14 01:59] vladrad commented on #166
Hi All!

Good news. I just got it to work without compiling. Ill be creating a repo on my git hub soon with the results. This is the uncompiled version, so you can import and edit the files as needed. I know some people were having issues with 5.6 etc. Now you can edit and fix those right in the editor :)

[2017-04-14 15:08] vladrad commented on #166
Alright I figured out how to compile also. After thinking about it for a bit it seems like building is the best way to go about doing this.

I was very confused on how to build this project or structure. I am not very good at C# and dll building. That build process is still new to me. I think for me the common misconception was that building would produce one big DLL for me. I never got around fig

[2017-04-14 15:09] vladrad commented on #260
Hi I just added added instructions in #166 on how to build.

[2017-04-14 15:12] vladrad commented on #199
I would be so down to work on this! Im just not sure where to start.

[2017-04-14 15:23] plyoung commented on #166
ooh, nice one @vladrad . Will have to give that a go over the weekend.
Once I can build this thing successfully it will be easier to start contributing.

[2017-04-14 15:26] vladrad commented on #166
@plyoung no problem. I just hopes it helps people get going with developing. Im still curious how people were able to just make one DLL, but multiple ones works fine.

[2017-04-14 15:34] vladrad commented on #166
I think one more thing to point out with the build process above is that the version that shows up in parse dashboard for the client is 0.0.0. Im not 100% sure yet how to fix this yet and will try to mess around with it. If anyone knows please let me know :)

[2017-04-14 22:44] vladrad commented on #166
@nah0y see if the above steps will help you out

[2017-04-16 22:56] SebastianMaj commented on #253
https://github.com/supersolid/Parse-SDK-dotNET/pull/2

[2017-04-17 13:50] vladrad commented on #253
@SebastianMaj I took a look at your PR. It looks great! My only question is where is Platform hooks located? I took a look in my code and I cant find it. Im using latest master version.

[2017-04-18 11:38] PunkStarStudios commented on #260
p@plyoung - nope. No sample projects in either link.
Thanks anyhow.

Same issue remains... if someone can post a working Parse .net project with a server setting in the configuration - that would be dandy.

[2017-04-18 12:04] plyoung commented on #260
@PunkStarStudios As I stated before. This comment includes a link to the Parse.Unity.dll https://github.com/parse-community/Parse-SDK-dotNET/issues/166#issuecomment-194141770 He gives a link at the bottom of his message.

I am using it now and it works.

Here is a direct link to the file provided https://github.com/ParsePlatform/Parse-SDK-dotNET/files/164631/Parse.Unity.zip

[2017-04-18 13:02] PunkStarStudios commented on #260
Maybe I am missing something... or I am being unclear or simply an idiot...
But I am not looking for a DLL (I am not using unity)... I am looking for a startup project for either C# or VB.net... be it for VS2015 or whatever.

That link above - has 2 files - a DLL and an XML. No idea what the XML is all about - looks to be some spec file to go along with the DLL... probably enumerating the DLL hook

[2017-04-18 13:05] plyoung commented on #260
Sorry, I was under the impression you are talking about the Unity version sine it is also hosted in this repo. The DLL I linked will not work for you.

[2017-04-18 13:07] Apoll0 commented on #199
+1 for unity

[2017-04-18 13:11] PunkStarStudios commented on #260
WHEW! I thought I was missing something.
 - oh and I looked at the repo - that's the problem (hence my original post)...

The starter projects in the original repo don't work - they are based on the old parse.com server implementation and not a self hosted one with a server link pointing elsewhere.

[2017-04-18 13:50] vladrad commented on #260
@PunkStarStudios Try looking at the bottom of #166 and see if you can build the dll's like that (select all the project builds that are not unity). Then import them to a new project and see if you can init the library.

[2017-04-18 13:56] plyoung commented on #260
You will have to build it. The Server option is available in the source. From Unity sources for example this call can be done; which should be the same for non-Unity app.

[code]

[2017-04-18 14:05] PunkStarStudios commented on #260
Well then - I am at a loss....

I've tried those that to no avail. I simply can't get a .NET client to either authenticate a user or simply pull back data.

https://github.com/parse-community/parse-server/issues/3674
https://github.com/parse-community/Parse-SDK-dotNET/issues/259

Everything works fine via REST or MacOS/iOS... but nothing but invalid server responses when attaching via the .NET Par

[2017-04-18 14:11] vladrad commented on #260
@PunkStarStudios do you happen to have an error you are getting from parse? Have you tried sniffing the traffic to see what the generated curl looks like?

https://www.charlesproxy.com/

I highly recommend charles. Once you install the certificate you will be able to add your server to a list to sniff the traffic. You will be able to sniff and get the curl for the login call, then you can look at

[2017-04-18 14:20] PunkStarStudios commented on #259
Huh.
Started working.
Did need to do a slightly different way of authenticating the server.... (thanks to ... you know who you are)...

string server = "https://myserver.com/myapp/"
Parse.ParseClient.Initialize(new ParseClient.Configuration
{
ApplicationId = "my app",
WindowsKey = "mydotnetkey".
Server = string.IsNullOrEmpter(server
}

[2017-04-18 14:20] #259 closed

[2017-04-18 14:22] PunkStarStudios commented on #260
Holy hell - THANK YOU @plyoung

That server assignment code did the trick.
using "Server = "https://myserver.com/myapp/" wasn't working.
But your
Server = string.IsNullOrEmpty(server) ? null : server
DOES!
YAY!

[2017-04-18 14:22] #260 closed

[2017-04-18 14:22] vladrad commented on #261
@okarpov can you give a little bit more info?

How are you hosting this? do you have any logs?

[2017-04-19 06:13] okarpov commented on #261
@vladrad Hello,
nothing special, just simple ASP.NET MVC website hosted on IIS.
Here is the exact stack for the exception:

the following error:
System.InvalidOperationException: Invalid signed_request
   at Facebook.FacebookClient.ParseSignedRequest(String appSecret, String signedRequestValue)
   at Microsoft.AspNet.Facebook.Client.FacebookRequestHelpers.GetSignedRequest(HttpContextBase context,

[2017-04-19 08:19] Apoll0 commented on #245
Solved:
Android parse SDK needs https only connection, while iOS accept non-secure.
Added certificate to the server and it's OK now

[2017-04-19 08:19] #245 closed

[2017-04-19 12:02] nah0y commented on #166
Thanks a lot for sharing all that!
I ended up using the DLL someone posted. But if I have to go into the code, I'll just follow your steps.

Again thanks for sharing!

[2017-04-19 12:11] aCallum commented on #166
@vladrad Thanks for taking the time to look into compiling the libraries. I've put them into my project in there operate form and receive the following exception:

`TypeLoadException: Could not load type 'UnityEngine.iOS.NotificationServices' from assembly 'Parse.Push'.
Parse.Common.Internal.Dispatcher+<CreateDispatcherCoroutine>d__17.MoveNext ()
UnityEngine.Debug:LogException(Exception)
Parse.Com

[2017-04-19 13:43] vladrad commented on #166
Does this happen within unity or iOS? Are you using your own dll, the ones i provided or the one from way above?

[2017-04-19 13:45] vladrad commented on #261
@okarpov Im a little confused as I cannot find any facebook code in the Parse project...

[2017-04-19 13:50] okarpov commented on #261
hmm, why facebook url leads to this github repo? strange

[2017-04-19 13:50] aCallum commented on #166
Unity Android, with the separate DLLs you provided in the Git Repo

[2017-04-19 13:59] vladrad commented on #261
I have no clue, but there is no facebook code int he parse project. Not that I can see.

[2017-04-19 14:00] vladrad commented on #166
Is this when you make a build and run on a phone or within Unity? Do you have some sample code?

[2017-04-19 14:03] aCallum commented on #166
Build to phone. I am using Lunar Mobile Console for error collection. The only code that is executing is ParseInitializeBehaviour with ApplicationID, DotNet Key, and server URL.

[2017-04-19 14:04] okarpov commented on #261
ok, thx and sorry

[2017-04-19 14:04] #261 closed

[2017-04-19 14:25] vladrad commented on #166
Strange that it would try to load the iOS part on Android. I did somer reading online ...
https://github.com/parse-community/Parse-SDK-dotNET/issues/102

Im wondering if its because I didn't include the xml files in my original build. Maybe you can try with all the xm files included in the zip here (same thing with xml's).... see if that works and get back to me.
[UnityParseDLL.zip](https://github

[2017-04-19 14:33] vladrad commented on #166
@aCallum Im not a expert at all of this, but id love to help out. It may just be trying to load iOS on default and does not find it since its on Android. It may just a logged exception and everything may work after.

[2017-04-19 14:37] aCallum commented on #166
Thats fine, I'll have another look at get back to you. The error could be completely harmless, but because Lunar Console logs it, our testers are continually submitting bug reports regarding Parse and Push Notifications (so maybe I just need to find a away of suppressing this exception..)

[2017-04-19 14:39] vladrad commented on #166
You could remove all references to iOS in parse push and build that dll again. That would get rid of it... Is it an Android only project?

[2017-04-19 14:41] aCallum commented on #166
Hmm interesting, I'll have a look at doing that. Currently Android, but iOS will be shipping in a few months.

[2017-04-19 14:42] vladrad commented on #166
I have a feeling it may just be a harmless error, it could just work fine. In the future you could just suppress that error or tell your testers to ignore it.

[2017-04-19 15:02] plyoung commented on #166
@vladrad  @aCallum
Did you guys run into a problem during build with the Android sources? It building only 6 projects rather than 8. It seems to skip the Android and iOS ones for Push project.

Maybe I did something wrong and this is not actually a problem but check it out if you do get this error too.

ParsePush.Unity.Android project's DeviceInfoController.cs file around line 46

Build error occu

[2017-04-20 13:41] vladrad commented on #166
@plyoung hmmm nope. Did you check parse unity ios and parse unity android when building in visual studio?

[2017-04-26 08:42] spl0k commented on #225
I was getting the same issue and managed to fix it by changing the code of the *ParsePush.jar* a bit. What you got to do is simply change the initial value of `applicationPaused` in [ParsePushUnityHelper.java](https://github.com/parse-community/Parse-SDK-dotNET/blob/master/ParsePush/Native/src/main/java/com/parse/ParsePushUnityHelper.java#L34) from `false` to `true`.

Here is the compiled jar: [Pa

[2017-04-27 18:39] PunkStarStudios commented on #121
Argh... NOW I've just read this... ARGH.

Is this still the case?
Any chance someone out there has sample code for a website using the parse .net SDK?

[2017-04-27 18:42] PunkStarStudios opened #262 "ASP.Net Development"
Hopefully I don't get slapped for this...
But does anyone have a sample web project using the .NET SDK? Be it C# or VB? MVC or forms even?

The learning curve for me transitioning from Objective-C and VB6 to an ASP.NET development is a tiny bit steeper than I anticipated - the syntax for passing ParseObjects around in a MVC environment is ... well... probably simple to most but a bit of a mystery

[2017-04-29 01:29] ombinar opened #263 "iOS Parse SDK 1.7.0 null object - Xamarin Forms"
This was working a few days ago, no code change but now getting an error only on iOS.

Call:
await ParseUser.LogInAsync(username, password);

Error:
System.NullReferenceException: Object reference not set to an instance of an object

Call stack:
  at Parse.Internal.HttpClient+<>c__DisplayClass15.<ExecuteAsync>b__d (System.Threading.Tasks.Task`1[TResult] t) [0x00093] in <7153b155ca91402d9326898eb02

[2017-04-29 17:21] ombinar commented on #262
Refer to this guide for any .NET development.
http://docs.parseplatform.org/dotnet/guide/

Here you can download starter projects for mobile but should be similar to other applications:
https://github.com/parse-community/Parse-SDK-dotNET/releases/tag/1.7.0

[2017-04-29 21:03] PunkStarStudios commented on #262
Sorry - that's not helpful at all.
async with web forms and MVC seems to be pretty tricky.
That along with the built in authentication that is included with the templates is making it less straightforward.

The link you provided - has practically no code - nothing ASP related - and not even for parse server (they are for the old parse.com).

[2017-04-29 21:17] ombinar commented on #262
You right, it's not straight forward and lots of learning curve. I would suggest Google "parse .net mvc async" and you will see lots of snippets.

but here's a MVC snippet that is an async (go to the suggested answer):
http://stackoverflow.com/questions/27408452/awaiting-query-findasync-from-parse-doesnt-work

[2017-05-08 19:35] alexbechmann commented on #241
+1

[2017-05-20 13:50] ndastur commented on #199
+1 Would love to see this for xamarin forms apps

[2017-05-23 05:10] artourky commented on #166
@vladrad I was wondering, Parse.Unity.dll isn't included in your dlls.
I'm asking since I'm working on a Unity Project on iOS and we're trying to build a 64-bit version but I think 'il2cpp' strips some Parse functions even when I try to put it in the "link.xml" file.
I know since some Parse functions on our heroku server works ok while others like '.Or' generate an error "MissingMethodException: N

[2017-05-23 05:22] artourky commented on #166
@AngelQuirogaM I'm sorry if it's a year late but your Parse Dlls produce an error on Unity 5.6 that "The imported type `System.Threading.Tasks.Task' is defined multiple times" Can you help me I need to use  stripping to see if Parse.Unity.dll works, Thanks

[2017-05-23 05:28] AngelQuirogaM commented on #166
This is the first time I see this problem. Tell me what version are you
using to ask my partners if it is happening to them.

For me that you are adding Parse dlls more than once in the project.

Recheck it please.

El 23/05/2017 07:22, "Arshd M.G. Tourky" <notifications@github.com>
escribió:

[2017-05-23 05:41] artourky commented on #166
@AngelQuirogaM after doing some research I think it's because I'm using Firebase for Notifications and Parse, What I did at first is to delete the old Parse files and include yours in my Project/Parse folder then Unity asks to Update the API then Error, and I can't discard Firebase.

[2017-05-23 12:21] artourky opened #264 "[Unity3D] Parse 1.7.0 & Firebase conflict while building 64-bit iOS"
We are using Unity 5.5 and Parse 1.7.0 which doesn't have "Parse.Unity.dll" and while on Editor everything is working fine but when we build using il2cpp on iOS the game produces an error of "MissingMethodException:  No constructor found for Parse.Common.Internal.FlexibleListWrapper`2".

I think it's because of stripping, I've tried to include "Parse.Core" and "Parse.Common" in "_link.xml_" but st

[2017-05-26 20:40] ColossalChris commented on #166
Hey folks. Using the DLLs posted here I now have Parse in my project with zero errors or complaints but when trying to connect to a heroku instance using the following I am not getting any connection. Any thoughts on what I am doing wrong?

Neither this:
[code]

or this are working

[code]
Thanks for any help you can offer

[2017-05-29 17:48] aquaGhost1 commented on #166
@ColossalChris we dont use heroku but there are a couple of things that may help.
1) I forget why, but we had to force it to write the values to a ParseInitialize component. As in, we would see the default built-in values appear even if we did Initialize. So we added the component via script. Sorry but I forget the exact reason, but I think that DLL was just not listening to our custom values if i

[2017-05-31 04:13] polats commented on #166
Hello @vladrad , were you able to create the version with just .cs files, and not the dlls? I'm getting some library conflicts from using the dlls, and the CS files would be useful in debugging the issue. Thanks a lot for your work!

[2017-06-04 03:11] ColossalChris commented on #166
Hey @aquaGhost1 gave it a try as you described and now have it jumpstarting parse using the ParseInitializeBehaviour component being added after start but am still seeing parse report back that the server is https://api.parse.com/1/ - any idea what I could be missing? or anyone know of a basic Unity repo with this DLL and a customizable parseinitializebehavior that I can use to connect to somethin

[2017-06-04 03:25] aquaGhost1 commented on #166
Two questions @ColossalChris
1) Are you doing this?  We derive from ParseInitializeBehavior, and we override awake.

[code]
2) Did you try the dll posted above by infosekr?  That works.

If it still doesnt work, ill remove all our keys and paste you the script.

[2017-06-07 01:40] keye0015 commented on #166
Hey @AngelQuirogaM , just started using this in a new project (used it in the past no problem) and I'm getting the same problem as @artourky . I've put in the newer DLLs you've made and it still persists. Seems that System.Threading.Tasks.Task is defined in two spots. Any idea on how to fix it?
`The type 'Task' exists in both 'System.Threading, Version=1.0.2856.102, Culture=neutral, PublicKeyToken

[2017-06-07 02:55] keye0015 commented on #166
Ah I see the issue! One of the other things I'm using, SpatialOS, also has defined it. I'll see if there's a way to get the two cooperating...

[2017-06-08 10:37] eclipse1985 commented on #199
+1

[2017-06-12 19:17] ColossalChris commented on #166
Hey @aquaGhost1 tried it out as you said and it seems that I was in fact able to edit the config for Parse and have it stick. It still has not allowed me to connect and upload the data to my server. I think I would benefit greatly from the code you mentioned. I really wish we had a starter project somewhere for this. Thanks

[2017-06-12 20:21] aquaGhost1 commented on #166
@ColossalChris is whatever youre using for the server showing any connection in the logs? It should be doing something if you're getting it to stick.

Here's the flow. Put it on a gameobject that does not have other objects on it.
[code]

[2017-06-16 22:45] ColossalChris commented on #166
Looks like we did it. Thanks so much @aquaGhost1 - not sure how that changed things by moving the script you mentioned (which was almost identical to the one I had - except that mine was a Monobehavior instead of a ParseInitializeBehavior) to be on its own in scene gameObject. But it worked! Thanks for the tips

[2017-06-19 15:26] aquaGhost1 commented on #166
@ColossalChris glad it helped. I think inheriting from from ParseInit is one of the key things. That and doing it all in the right order.

[2017-06-28 22:21] CapeGuy-Ben opened #265 "Release 1.7.0 doesn't work in Unity with custom server"
This is because the `ParseInitializeBehaviour` is required to be instantiated in the [Unity](https://unity3d.com/) SDK to setup the async-task processing (otherwise async Parse calls never complete) but it doesn't allow you to pass a custom server URL for it to use in the `ParseClient.Initialize()` call it makes.

**Fix:** I've created a fork and added a [1.7.1 release](https://github.com/CapeGuy-

[2017-06-28 22:53] CapeGuy-Ben commented on #265
Actually, after some more testing, there's also an issue with the `ParseInitializeBehaviour.OnApplicationPause()` method not initializing the ParseClient properly. I will recreate the release on [my fork](https://github.com/CapeGuy-Ben/Parse-SDK-dotNET) with that fixed too.

[2017-06-29 08:08] CapeGuy-Ben commented on #265
That's fixed now and I've recreated the 1.7.1 release on that fork. I wasn't sure how the sample projects are generated so I left that zip out from the release rather than adding a broken version.

[2017-07-05 11:36] muhammad-naderi commented on #199
+1

[2017-07-06 18:21] montymxb commented on #265
Hey @CapeGuy-Ben I'll see if I can't take a look at this during this upcoming weekend. If you've managed to put together a fix would you mind putting up a PR for it here? From there we can take a look at it and see how it works out 👍 .

The goal here is to get the **.NET**, **Arduino** and **Embedded C** sdks up to snuff with parse-server. I'll be moving this along to see if we can't get that achi

[2017-07-07 11:53] CapeGuy-Ben commented on #265
Hey @montymxb! I did try to put a pull request in but as there's no branch for release 1.7.0 I couldn't work out how to do it. My fix is a minor edit to version 1.7.0 rather than an edit to the (now significantly different) master branch.

[2017-07-07 17:42] montymxb commented on #265
The releases are generated off a given commit from a given branch, specified by a user. It's very akin to [git tags](https://git-scm.com/book/en/v2/Git-Basics-Tagging). Github just makes it convenient and automatically generates the zips and tars as well.

As for creating pull requests from a fork, there's info on how to do that [here](https://help.github.com/articles/creating-a-pull-request-from-

[2017-07-07 20:04] CapeGuy-Ben commented on #265
This change is already in the master branch, but the master branch also contains API changes which make it incompatible with the pre-existing Parse project which I'm trying to move over to a custom server. So I made this simple single commit change against 1.7.0 which fixes using it with custom servers in Unity. Think of it as a hot-fix for 1.7.0 rather than a new release. If you're planning on re

[2017-07-07 20:48] montymxb commented on #265
@CapeGuy-Ben The intent here will be to push out a new release, eventually. If a fix has already been integrated into the master for this then it seems I misunderstood... Once the next release is published we should be ok.

I did take a look at the aforementioned issue as well. I see what you're getting at regarding the custom servers. Since I'm just stepping on this I'll be verifying the existing

[2017-07-08 07:58] CapeGuy-Ben commented on #265
Hey @mintymxb, sounds good. Don't worry, nothing taken personally - just trying to do a better job of explaining the situation! Good luck putting together a new release. 👍

A few things that might be worth thinking about:
- I tried building the project (1.7.0 and master) on my Mac via Xamarin Studio and then on my PC via Visual Studio 2017 & 2015 Community editions and couldn't get them to build w

[2017-07-11 02:23] montymxb commented on #265
Thanks! Yeah it's going to be interesting, especially considering that the CI configuration appears to have been server-side at appvoyer, and that's gone now :/.

I can confirm the issues with VS 2017, looking into this a bit (and a helpful [so post](https://stackoverflow.com/questions/43012179/cant-add-silverlight-8-support-in-visual-studio-2017)) it appears VS 2017 does _not_ support silverlight

[2017-07-11 02:41] montymxb commented on #218
@FlorianSchuler it's been some time but we will be working on a new release coming up. I won't make any timeframes, as there is quite a lot to go over since this was last updated.

[2017-07-11 06:44] zack1991 opened #266 "Error when trying to build of WebGL with parse server from the Unity"
When I try to build to WebGL with parse server, I get 2 errors that prevents me from doing so:

1)
Failed running /Applications/Unity/Unity.app/Contents/Tools/UnusedByteCodeStripper2/UnusedBytecodeStripper2.exe --api NET_2_0_Subset -out "/Users/rnf-zakir/Unity projects/ParseTest/Temp/StagingArea/Data/Managed/tempStrip" -l none -c link -b true -x "/Applications/Unity/PlaybackEngines/WebGLSupport/Wh

[2017-07-11 07:08] CapeGuy-Ben commented on #265
Thanks for looking into it. I will let you know if I find anything else. I'm going to close this issue as anyone using Unity can use the 1.7.1 release on my fork until another release comes along and once there's a new release they can use that.

BTW. I think the users would be happy to install VS 2015 Community for building the project. Just add the requirement to the ReadMe file.

[2017-07-11 07:08] #265 closed

[2017-07-11 18:31] montymxb commented on #265
@CapeGuy-Ben No problem. Hopefully we can get this project back on it's feet!

[2017-07-12 20:17] jcguarinpenaranda commented on #257
Hello, do you have a working example ?

[2017-07-28 06:39] kris-lom opened #268 "Parse and Unity 2017.1"
Upgraded our project from 5.6.1 to 2017.1 and now we are getting the following WWW error during Parse initialisation

InvalidOperationException: Header value contains invalid characters
UnityEngine.Networking.UnityWebRequest.SetRequestHeader (System.String name, System.String value) (at C:/buildslave/unity/build/artifacts/generated/common/modules/UnityWebRequest/WebRequestBindings.gen.cs:479)
Unit

[2017-08-13 22:02] Officialwolftech commented on #268
Currently facing the same issue, unfortunately.

[2017-08-15 18:06] montymxb commented on #268
@kris-lom looks like whatever value is being supplied to the request header is not a valid header. Assuming it's not sensitive, can you pull out the **name**/**value** in question that's causing this to throw? It's possible there's a special character that needs to be escaped or something else that's causing it to be considered invalid.

Just so you know in terms of upgrading we have observed issu

[2017-08-18 19:30] Officialwolftech commented on #268
I used @stewartmiles pull request and it works well. https://github.com/stewartmiles/Parse-SDK-dotNET

[2017-08-25 15:04] taktran commented on #268
I have the same issue, and it seems the Unity 2017.1.0 editor can't parse parentheses in headers

https://issuetracker.unity3d.com/issues/www-unitywebrequest-invalidoperationexception-when-user-agent-header-contains-parenthesis

[2017-09-01 17:31] jkichline opened #269 "Doesn't work properly in ASP.NET"
Thanks to some idiotic design, the Parse .NET framework DOES NOT function in ASP.NET properly.  Instead of abiding by logic and security principals, the current user is stored as an machine-level property! This means that if you are planning to implement Parse on a web server, the last person to log in is the person's information that EVERYONE will see!  This is such poor architecture of a framewo

[2017-09-14 16:57] bliu886 commented on #269
The way I've solved this is instead of calling routes directly on the parse server that handle the authentication functionality, I've created cloud code functions (http://docs.parseplatform.org/cloudcode/guide/) to handle the authentication.

[2017-09-16 00:38] truonguit2010 opened #270 "How can I implement one user get one record?"
Hello,

I want to build a system like:
1. one user can ask many questions.
2. one answer can get only one question, and other users cannot have this question.

How can I implement it with parse object? Please point me a start point.

Thank you.

[2017-09-21 09:31] ra7bi commented on #255
any updates ?

[2017-09-21 09:45] ra7bi commented on #199
+1 any updates ?

[2017-09-21 15:31] cabhara opened #271 "Unity: how to get Android notifications working?"
I followed the Unity Parse Push example (using Parse 1.7.0 parse dll). Pushes are working fine for iOS, but getting problems for Android as things have changed with Firebase etc. since the example was done. Is there a newer example or tutorial for getting Unity Android pushes to work? Especially I'm trying to find out how to set the GCM Sender ID in Unity. (Using back4apps as the server) All docum

[2017-09-21 17:36] montymxb commented on #255
@ra7bi there is currently no live query implementation available for the .net sdk. As mentioned above it only a couple of the clients have implementations for live query interfacing. That being said it's not unlikely that we will bring this support into the this sdk at a future date.

[2017-09-21 17:39] montymxb commented on #199
Just to let everyone know there is currently no built-in live query implementation available for the .net sdk. Only some clients have implementations for live query interfacing, this not being one of them.

That being said it's not unlikely that we will bring this support into the this sdk at a future date. It would be super to have this in! However this sdk needs to be brought up to spec first as

[2017-09-21 22:09] ra7bi commented on #199
i wish more contributors comes to improve Parse & Parse SDK , Really nice and great server , just it need someone who have good experience to improve it

[2017-09-21 22:34] montymxb commented on #199
@ra7bi we're open to contributions! Most of the sdks are more actively maintained, this one just needs some tlc and it should be just fine 👍

[2017-09-21 22:42] ra7bi commented on #199
happy to know that , im hosting Parse server for my mobile app and i really like it , i think if Real-Time feature comes to Parse server for all SDK ,  it would be the best .

Thanks for all Parse contributions so exciting for any Parse updates

[2017-10-02 16:01] cabhara commented on #166
@vladrad @aCallum Hi I saw your discussion earlier about the iOS error showing up. I have the same issue. I'm looking for the latest Unity Parse dll, as 1.7.0 contains a bug for Android Notifications. I downloaded all the singe dlls that you provided and used them in Unity, but now when running on Android I get this error: The class UnityEngine.iOS.NotificationServices could not be loaded, used in

[2017-10-02 17:25] cabhara commented on #265
@richardjrossiii or anybody: Is there a release that has the fix for the Android Push Notification Registration error? `Found com.parse.push.gcm_sender_id <meta-data> element with value "id:190765109935", but the value is missing the expected "id:" prefix.`
We were not able to create a working dll from the master, so I'm looking if anybody has compiled a Parse.Unity.dll that contains this bug fix.

[2017-10-02 18:00] cabhara commented on #166
@infosekr Do you have a build by any chance that contains the fix for #195 ? I tried your dll, but it contains the issue with GCM Sender Id registration. Appreciate any help!

[2017-10-02 19:09] infosekr commented on #166
Hi Christina,

Sorry I’m no longer using the Parse sdk and don’t have an updated dll.

Best regards,
Aaron

Sent from my iPhone

[2017-10-08 02:39] ColossalChris opened #272 "Compiled DLL for Unity 2017.1.1f1"
I had this successfully working well with the prev 2017 version of Unity, but since updating I am now getting errors when trying to build for some platforms. Does anyone have the dll's compiled for the newest version of Unity?

[2017-11-15 20:27] edwardpotter commented on #248
No one wants to respond to this?  It's true - if you re-launch the app, the only value in ParseInstallation.CurrentUser is the InstallationId

I have found, however, that calling ParseInstallation.CurrentInstallation.SaveAsync() will repopulate some of the information.  After calling that on unity/ios I have information in AppName, DeviceType, LocaleIdentifier, InstallationId and AppVersion.  Ther

[2017-11-15 20:29] AndrewLane commented on #248
@edwardpotter as far as I know, this project is dead.  We ended up using the REST API to talk to Parse instead of this SDK.

[2017-11-15 21:39] montymxb commented on #248
@edwardpotter unfortunately I cannot at the moment. I have no way of building the sdk to verify or test, for now at least.

@AndrewLane this project needs some TLC :/. The REST api is perfectly fine, but ideally this would be up to snuff to handle it without having to manage the requests.

I'm interested in getting this up and moving again, but I have not had the capacity to do so lately. My windo

[2017-11-16 15:20] edwardpotter commented on #248
@AndrewLane I'd think with something like Unity, going pure REST API would be pretty difficult.  With services like Buddy, back4app, etc. still being active and Unity being so prevalent - hard to imagine this SDK could be dead with those services basically depending on it for integration with Unity

[2017-11-18 16:24] Binnette opened #274 "Is Parse-SDK compatible with .NET Standard ?"
Hi,

Is Parse-SDK-dotNET compatible with .Net Standard ?
If yes, which versions of .Net Standard are supported ?

Also, is there any ".NET Standard" instructions ?

For now, i install "Parse 1.7.0", but I get this NuGet warning is VS 2017:

Thank you

[2017-11-18 16:38] flovilmart commented on #274
https://github.com/dotnet/standard/blob/master/docs/netstandard-20/README.md#net-framework-461-supporting-net-standard-20

Maybe we can move completely to .NetStandard if we don’t use one of the 43 api’s framework provides and standard don’t

[2017-11-18 17:22] Binnette commented on #274
In fact there are 52 (and not 43) unsupported API, see dotnet/standard#524

Here are the 52 unsupported API:
https://github.com/dotnet/standard/blob/master/netstandard/src/ApiCompatBaseline.net461.txt

Can anyone please check in ParseSDK if any of those API are used ?

[2017-11-18 17:29] flovilmart commented on #274
Could you check for us? We’re a little low on .Net experts :)

[2017-11-18 19:55] montymxb commented on #47
This might be something worth working towards when we start updating this sdk.

[2017-11-18 19:58] montymxb commented on #274
Yeah we're a bit short on that end at the moment :/. Any insight you can provide in that regard would be greatly appreciated. In December I expect to be able to sit down and start some work on this sdk. It's long overdue for it!

[2017-11-18 20:29] Binnette commented on #274
@flovilmart : i do not find any usage of those 52 unsupported API.

[2017-11-18 20:30] flovilmart commented on #274
So in practice that means we can safely target the expected library ? What would be the next steps?

[2017-11-18 20:36] flovilmart commented on #274
Seems that we can silence the warning, https://stackoverflow.com/questions/45738982/how-to-hide-net-core-compatibility-warnings-when-referencing-net-4-6-nuget-pac not sure what it does in the end or what steps are to be taken.

[2017-11-21 15:21] subhradeepc commented on #264
Even im stuck with the "System.Threading.Tasks.Task is defined multiple times", any help ? guys ?

[2017-11-25 07:46] radikalsubhradeep commented on #166
@artourky  Hey , any solution to this ? ""The imported type `System.Threading.Tasks.Task' is defined multiple times" , ive been spending nights fixing this issue!!

[2017-11-25 08:18] keye0015 commented on #166
@radikalsubhradeep There's a way around it. You have to rename one of the namespaces in the .dll. I renamed the Parse one from 'System.Threading.Tasks' to 'System.Threading.ParseTasks' using  [Mono.Cecil](http://www.mono-project.com/docs/tools+libraries/libraries/Mono.Cecil/). Here's an already modified one!
[It took a while to figure this out for myself; you're welcome!](https://drive.google.com/

[2017-11-28 15:26] stephenhauck commented on #199
I need examples of how to use live query in a Xamarin Forms app....

[2017-11-28 15:29] ndastur commented on #199
As above. Not implemented

[2017-11-28 15:33] stephenhauck commented on #199
OK, thanks for confirming... I will select another backend for my needs that supports Xamarin Forms.

[2017-11-28 16:01] flovilmart commented on #199
@stephenhauck, you can still use parse-server without live query, we have 3 reference implementations in JS, Android and Swift porting to Xamarin/dotNet should be trivial.

[2017-11-28 16:03] ndastur commented on #199
@flovilmart interesting comment, as if it was trivial I would assume it wouldn't be an outstanding ticket for 2 years ;)
I think the honest answer is the .NET parse SDK is a bit neglected.

[2017-11-28 16:53] flovilmart commented on #199
@ndastur it’s neglected because unlike the other SDK’s no one has demonstrated an interest into contributing with it. Open source is not just about a handful contributors shipping features you need. We ported to Android in a few days, when our company needed it.

I’m not a dotNet developer, and my main focus is on server, JS, Swift, objective-c, and i believe we still move forward at a great pace.

[2017-11-28 17:02] flovilmart commented on #199
@ndastur most of the PR's were awaiting additional changes, from @richardjrossiii. I'm not sure why, I'm not a .Net developer but you seem to be well versed into this technology. Can you review those for me please? If there's any smell / issue, feel free to ping me.

[2017-11-28 17:11] stephenhauck commented on #199
I appreciate this is an open source effort but Back4app sent me here, they are charging for a Parse back end and I kind of expected that they were supporting the project / product.

I am looking to pay for Back4app as a service .. that does not put the onus on me to make the drivers that support THEIR product.... I will simply find a vendor that wants my money and supports my platform.

[2017-11-28 17:53] flovilmart commented on #199
@stephenhauck I understand your frustration, and the open source community is not the place to project it. You are right, if a vendor doesn't fulfill exactly your needs, you can probably leave them. That's not my problem. Just so you know, parse-community is completely independently managed from the vendors, we follow our own roadmap and goals.

You are 100% right, but don't blame the community fo

[2017-11-28 18:11] stephenhauck commented on #199
@flovilmart Not projecting frustration .. simply stating the facts.

You guys are doing awesome work ... I appreciate your efforts even if I / my applications do not benefit from them at this time ...

[2017-11-28 18:21] baywet commented on #199
I might, I'm trying to get an understanding of what needs to be implemented and the amount of work we're talking about.
We're basically looking at implementing support for that, but in dotnet right? http://docs.parseplatform.org/parse-server/guide/#client-setup
And all the events and such are pushed by the server using a web socket?

[2017-11-28 19:43] flovilmart commented on #199
Yep, we're looking at that spec (https://github.com/parse-community/parse-server/wiki/Parse-LiveQuery-Protocol-Specification)

Reference implementations in [JS](https://github.com/parse-community/Parse-SDK-JS/blob/master/src/LiveQueryClient.js#L125), [Swift](https://github.com/parse-community/ParseLiveQuery-iOS-OSX/blob/master/Sources/ParseLiveQuery/Client.swift#L20) and [Android/Java](https://git

[2017-11-28 20:00] baywet commented on #199
I didn't say I'll do it yet but at least any senior .net Dev will have all the information here.
And then how to test the code? Is there like an open server/service somewhere? Or just follow that and start sending data ? http://docs.parseplatform.org/parse-server/guide/

[2017-11-28 20:28] flovilmart commented on #199
We don't have a conformance spec testing, but firing up the server and going for e2e tests should be good enough for now.

Just thank you for taking the time to respond, and layout a plan in here!

[2017-11-29 08:41] montymxb commented on #199
I'm planning on going over PRs as soon as I can make enough time. It is about time that we bring this into the fold with the other sdks, especially since there is still a community interest in it.

@baywet if you are interested in working on this let me know, although I'm not _quite_ familiar with .NET development I work on the server and some other sdks. Let me know if I can provide some insight

[2017-11-29 13:30] baywet commented on #199
@montymxb my biggest problem right now is time, and I don't want to over commit. As far as I can see there's somewhere between 5 to 10 hours of effort on this one, and I have to ramp up on parse. I don't pretend to be a Rockstar developer but I

[2017-11-29 13:33] flovilmart commented on #199
@baywet, no stress, @montymxb, i met @baywet at a Microsoft MVP event last week, in Montreal.

Perhaps we know a junior dev who’d like to grind his teeths on this one

[2017-11-29 20:52] montymxb commented on #199
@baywet that's perfectly fine. If you ever find you have a little bit of time and happen to be strolling by parse land, feel free to drop in and give us some notes in regards to .NET stuff. We're always open ears! But definitely don't stretch yourself too thin if you have existing priorities that are demanding your attention. It may be that you won't have the time to drop by, but that's better tha

[2017-12-02 22:45] montymxb opened #276 "API Doc Generation"
[Existing API docs](http://parseplatform.org/Parse-SDK-dotNET/api/) should be updated as the master is moved along. Ideally this will be incorporated into our CI as a automatic action on merging into the master. This issue is just in place so we can formally track this in our **1.8.0** project.

[2017-12-02 23:48] montymxb commented on #265
@cabhara not that I am aware of. If this is still outstanding can you open up another issue specifically for your problem?

[2017-12-03 01:18] montymxb opened #278 "Need Location for Future NuGet Releases"
Existing nuget releases are available under https://www.nuget.org/packages/parse, which is currently unavailable to the current parse-community team. We'll need to retrieve access in order to continue publishing there or create a **ParseCommunity** specific account for future releases.

@richardjrossiii @hallucinogen is there any chance that either of you have access to the existing account and co

[2017-12-03 02:30] montymxb commented on #276
This has been further ascertained to be generated via **Sandcastle Help File Builder**. Knowing this much I should be able to reestablish a mechanism for generating the api doc.

[2017-12-03 02:53] montymxb commented on #270
Please check out the docs section regarding [relational data](http://docs.parseplatform.org/dotnet/guide/#relational-data) for seeing how you would go about this.

[2017-12-03 02:53] #270 closed

[2017-12-03 03:10] montymxb commented on #269
@jkichline sorry that we haven't addressed this. We're are moving on bringing the sdk back up to spec, albeit slowly at the moment. We won't be able to get to this immediately but I'll flag this so we can address it in good time. Priorities will be on presenting a new functional release, with patches included. There's no guarantee we'll get to this one in our first release, but we plan to be estab

[2017-12-03 03:46] montymxb commented on #268
@Officialwolftech If stewartmiles PR worked we just merged that in. Can you verify against the latest master?

It looks like as @taktran mentioned in the post that this was patched in Unity **2017.1.1p3**. It would seem then that the issue is beyond the scope of this sdk and currently patched. I'm closing this out as resolved, let us know if this persists or something similar is seen in later vers

[2017-12-03 03:46] #268 closed

[2017-12-03 03:49] montymxb commented on #266
Unsure about this one. We haven't gotten back to the point of running directly against Unity, particularly in a browser context. I'll make a note that this needs looking into.

[2017-12-03 03:50] montymxb commented on #272
@ColossalChris could you provide some of those errors during compilation?

[2017-12-03 03:52] montymxb commented on #274
Maybe we should just bump up .NET standard. Would be nice to catch up after this recent period of inactivity.

[2017-12-03 03:53] montymxb commented on #271
Could you provide further details in regards to this issue? Logs and such?

[2017-12-03 03:56] montymxb commented on #264
Closing as it looks like this should be fixed by #267. A release is not yet available for this. I'm going through a bunch of the existing issues first to see the state of things, so stay posted.

[2017-12-03 03:56] #264 closed

[2017-12-03 03:58] montymxb commented on #263
Not too sure about this one. As it stands we still need to take a look into reliably testing against Xamarin for iOS and Android related issues.

[2017-12-03 03:59] montymxb commented on #262
Unfortunately we don't have any examples at this time for you. If you looking for help getting started I would recommend you search for or drop some questions over at stackoverflow and see if you can find some reliable resources to start with.

[2017-12-03 03:59] #262 closed

[2017-12-03 04:01] montymxb commented on #257
@jcguarinpenaranda It lives! Going through issues atm, but expect a new release sometime later this month ;). Expect us to start small, we'll be focusing on core functionality first, native Windows implementations and such. From there we'll work on deving/testing for Xamarin, Unity, etc. Pace won't be fast but it will be moving.

[2017-12-03 04:01] #257 closed

[2017-12-03 04:03] montymxb commented on #255
Closing in favor of the discussion in #199. Yes, we are planning on it. No, we don't have any ETAs yet.

[2017-12-03 04:03] #255 closed

[2017-12-03 04:09] montymxb commented on #253
@SebastianMaj can you make your PR against this repo? You'd have to catch up to the recent changes however. I'll make a note that this is an outstanding bug in the mean time.

[2017-12-03 04:10] montymxb commented on #252
Closed by patch in #251, thanks again @benwulfe !

[2017-12-03 04:10] #252 closed

[2017-12-03 04:12] montymxb commented on #250
We are currently working towards a 1.8.0 release. We apologize for the delay, it's been a while 😛 . I'm closing this out as it seems you're indicating #253 is a similar issue? If what you're experiencing is something different please provide additional details and we'll open this back up.

[2017-12-03 04:12] #250 closed

[2017-12-03 04:14] montymxb commented on #249
Can you please provide additional details as to the issue you're observing. Ideally this would be logs so we can help you pin things down. Closing this out in the meantime as this is nearly a year old... If you are still having an issue let us know and we'll open this back up.

[2017-12-03 04:14] #249 closed

[2017-12-03 04:17] montymxb commented on #248
Marking this a potential issue we're going to look into. I'm thinking we're going to works towards having one or more tests that we can use to replicate this, fix it if we find a problem and guard against it in future releases.

[2017-12-03 04:19] montymxb commented on #247
Thanks for providing some basic steps to reproduce. If we eventually start going over the possibility of tests for Unity on Android I'll see if we need to add something to guard against this.

[2017-12-03 04:23] montymxb commented on #244
Closing as this is likely a non-issue. Saving an object only transfers the changes made. Out of date objects aside if all you're doing is incrementing and saving, the only changes being transmitted are the single increment (assuming you haven't already saved the object before). You should be fine.

[2017-12-03 04:23] #244 closed

[2017-12-03 04:24] montymxb commented on #243
Closing as the above mentioned solution is _likely_ the cause. If this is still an issue, and you have verified the CA root for LetsEncrypt is trusted, let us know and we'll look at this again.

[2017-12-03 04:24] #243 closed

[2017-12-03 04:26] montymxb commented on #242
If you're talking about having a local datastore for pending changes that could be interesting...Have a way to delay save ops and submit them later upon reconnect. For now closing this out as there hasn't been any interest in this. If this is still something you're interested in let us know and we can open this up with a little discussion.

[2017-12-03 04:26] #242 closed

[2017-12-03 04:28] montymxb commented on #241
Closing as no details provided. Can't really address this fully by just the title. If this is still issue please provide an adequate description of what the issue is and we can open this back up.

[2017-12-03 04:28] #241 closed

[2017-12-03 04:29] montymxb commented on #239
Closing this out as it's been some time and we haven't seen any other notes of this issue. If this is still a problem can you provide details on the exception itself (code, message, etc.) so we could open this back up and maybe look further into it?

[2017-12-03 04:29] #239 closed

[2017-12-03 04:31] montymxb commented on #238
Closing as you should be using git for this.

[2017-12-03 04:31] #238 closed

[2017-12-03 04:44] montymxb commented on #237
An LDS alternative is not something we are gearing towards, at least not for the moment. Marking this as a note for something we can clarify in our documentation though.

[2017-12-03 04:48] montymxb commented on #236
3rd party authentication mechanisms are something we have, but they are select (like for facebook). There are quite a few 3rd party auth mechanisms available in parse-server now. I agree that it would be nice to have a general login method with an auth type passed, we have something very similar for the php-sdk that is the base for any directly callable 3rd party authentication mechanisms.

[2017-12-03 04:49] montymxb commented on #232
Push notifications have changed quite a lot server-side since late 2016. Closing this out for now. If this is still an issue please check this against later versions of parse-server and let us know whether the problem persists.

[2017-12-03 04:49] #232 closed

[2017-12-03 04:51] montymxb commented on #231
We need to clarify a process for building on your own. Docs are there, but it could be presented in a more transparent fashion.

[2017-12-03 04:51] montymxb commented on #230
Closing as this is over a year old and very few details provided. Please follow up with additional information if you want us to look into this.

[2017-12-03 04:51] #230 closed

[2017-12-03 04:54] montymxb commented on #226
No this should not be happening. As far as details go there's not to much to go on, but since I haven't checked to verify this is _not_ happening I'll flag it for investigation.

[2017-12-03 04:56] montymxb commented on #225
Push is working fine, it has also change _a lot_ since the server was first made available as OSS. Marking as this needs followup and may be a potential bug in this sdk, independent of the server.

[2017-12-03 04:58] montymxb commented on #218
Closing as we are now actively working on preparing for a **1.8.0** release. Further work is still needed but you can ping me if anything in particular comes to mind.

[2017-12-03 04:58] #218 closed

[2017-12-03 05:00] montymxb commented on #217
Marking for further inspection.

[2017-12-03 05:02] montymxb commented on #214
Indicating that this is still an outstanding issue. We'll need to address this in such a fashion that it can be built without having to do anything manual...

[2017-12-03 05:04] montymxb commented on #213
We'll have to look into this. If the current state of the SDK is problematic we're going to have to make some changes :/.

[2017-12-03 05:14] montymxb commented on #211
Closing as we will be working this into the next release and are aware of it.

[2017-12-03 05:14] #211 closed

[2017-12-03 05:15] montymxb commented on #210
Closing as out of date. If you want this reopened let us know, and if you can please provide the query code in question if possible.

[2017-12-03 05:15] #210 closed

[2017-12-03 05:18] montymxb commented on #207
Unity WebGL related implementations are probably not going to be a priority while we fix the sdk up for a **1.8.0** release. We would have to look into this at a later date to determine how to proceed.

[2017-12-03 05:19] montymxb commented on #206
Closing as we're consolidating prior issues. If this is still a problem let us know and we'll reopen.

[2017-12-03 05:19] #206 closed

[2017-12-03 05:21] montymxb commented on #193
Closing as we don't plan on necessarily supporting this.

[2017-12-03 05:21] #193 closed

[2017-12-03 05:23] montymxb commented on #185
I believe this has since been open sourced? Correct me if I'm wrong and we'll pop this one back open.

[2017-12-03 05:23] #185 closed

[2017-12-03 05:24] montymxb commented on #182
Without step to reproduce we can't really address this :/. If you have steps post them here and let me know so I can open this back up.

[2017-12-03 05:24] #182 closed

[2017-12-03 05:24] montymxb commented on #181
There is no intent to implement this, closing this out.

[2017-12-03 05:24] #181 closed

[2017-12-03 05:25] montymxb commented on #180
Closing as no further details provided.

[2017-12-03 05:25] #180 closed

[2017-12-03 05:26] montymxb commented on #179
Marking as an outstanding issue that we'll take a look at.

[2017-12-03 05:27] montymxb commented on #176
Closing as no further details were provided.

[2017-12-03 05:27] #176 closed

[2017-12-03 05:28] montymxb commented on #173
Closing as this is likely a non-issue, or an early issue with open source parse-server. We should tests that will account for this behavior, if not already present.

[2017-12-03 05:28] #173 closed

[2017-12-03 05:29] montymxb commented on #168
Definitely something we're interested in, just to let everyone know. We're not focusing on this atm as we're prepping for a **1.8.0** release, but past that we may take a look into this. We're also open to PRs for this 👍 .

[2017-12-03 05:30] montymxb commented on #167
Closing as out of date.

[2017-12-03 05:30] #167 closed

[2017-12-03 05:31] montymxb commented on #166
Noting that this will be added in a future release here.

[2017-12-03 05:33] montymxb commented on #163
Closing as out of date.

[2017-12-03 05:33] #163 closed

[2017-12-03 05:35] montymxb commented on #162
Closing as parse.com is no longer running.

[2017-12-03 05:35] #162 closed

[2017-12-03 05:36] montymxb commented on #161
Closing as out of date.

[2017-12-03 05:36] #161 closed

[2017-12-03 05:37] montymxb commented on #160
Not likely, this is something we won't be prioritizing although we are aware of it. Closing as we don't intend to fix this as of this time.

[2017-12-03 05:37] #160 closed

[2017-12-03 05:39] montymxb commented on #150
Closing as resolved and out of date.

[2017-12-03 05:39] #150 closed

[2017-12-03 05:40] montymxb commented on #142
Closing as out of date, SDK is also 1.7.0 now and will be bumping to **1.8.0** in the future.

[2017-12-03 05:40] #142 closed

[2017-12-03 05:42] montymxb commented on #131
Closing as out of date.

[2017-12-03 05:42] #131 closed

[2017-12-03 05:44] montymxb commented on #269
Closing as it is stated that official ASP.NET support was never in place in the first in #121.

[2017-12-03 05:44] #269 closed

[2017-12-03 05:46] montymxb commented on #113
We have no plan for directly supporting this date types.

[2017-12-03 05:46] #113 closed

[2017-12-03 05:51] montymxb commented on #102
Closing as out of date. We'll readdress this when we get to that point.

[2017-12-03 05:51] #102 closed

[2017-12-03 05:53] montymxb commented on #88
Closing as out of date.

[2017-12-03 05:53] #88 closed

[2017-12-03 05:54] montymxb commented on #87
Closing as out of date and parse.com is now offline.

[2017-12-03 05:54] #87 closed

[2017-12-03 05:56] montymxb commented on #69
Closing as out of date.

[2017-12-03 05:56] #69 closed

[2017-12-03 05:58] montymxb commented on #57
Closing as out of date. If this issue persists we'll reopen.

[2017-12-03 05:58] #57 closed

[2017-12-03 06:00] montymxb commented on #50
Closing in favor of #32

[2017-12-03 06:00] #50 closed

[2017-12-03 06:01] montymxb commented on #49
Closing as out of date.

[2017-12-03 06:01] #49 closed

[2017-12-03 06:10] montymxb commented on #18
Closing as this has been mentioned server side in the OS parse-server already.

[2017-12-03 06:10] #18 closed

[2017-12-03 06:10] montymxb commented on #13
Closing as out of date.

[2017-12-03 06:10] #13 closed

[2017-12-03 06:12] montymxb commented on #12
Closing as this appears to have been resolved in #75.

[2017-12-03 06:12] #12 closed

[2017-12-14 03:02] ryanspiffy commented on #253
I'm having the same issue; is there anywhere I can download a newer dll that can be used with Unity 2017?  I don't have a windows machine to run through some of the processes mentioned here to patch the current dll.  If anyone is willing to send me a link to a patched dll, I'd greatly appreciate it!

[2017-12-14 18:57] montymxb commented on #253
@ryanspiffy there may be a few users who have already built updated DLLs. You might have some look contacting individuals directly that have mentioned building their own DLLs across related issues to this.

We'll see if we can't target and fix this in preparation for an upcoming release soon here (i.e. before 2018).

[2017-12-17 07:04] mik-dass opened #280 ".Net SDK not working properly on linux with Mono and (updated) now on Windows 10 too."
I am working on a .Net Parse project. The code works fine on Windows with Visual Studio 2015. But due to some issues I am trying to run it on linux with Mono. The same code works fine, but all the Parse query lines throws the exception e.g

				IEnumerable<ParseObject> results = await query.FindAsync(); //Code fails here

The exception I get
`Object reference not set to an instance of an object`

[2017-12-20 01:06] jcguarinpenaranda opened #282 "Unable to initialize Parse"
I am just starting with Parse and Unity, and I'm not able to initialize Parse.

I'm getting the following error:

![captura de pantalla 2017-12-19 a las 8 00 42 p m](https://user-images.githubusercontent.com/7200821/34186052-6181f5de-e4f7-11e7-8b44-c47c4b4f9467.png)

I have a blank project, with the files:

![captura de pantalla 2017-12-19 a las 8 00 50 p m](https://user-images.githubusercontent.c

[2017-12-20 02:14] jcguarinpenaranda commented on #282
## Fix

I had copied all the `Parse-1.7.0` folder. To fix this, I replaced the whole folder with one of its subfolders.

Instead of importing `Parse-1.7.0` I imported the `Parse.Unity` folder that was inside.

## New problem

Now, after having imported the right folder, I have this very simple script copied from the docs:

![captura de pantalla 2017-12-19 a las 9 11 18 p m](https://user-images.git

[2017-12-20 02:56] jcguarinpenaranda commented on #282
I think this set of questions and answers may be valuable for other people that are starting with this SDK like me.

## Fix 2

To fix the previous error, I had to go in Unity to **Edit > Project Settings > Script Execution Order** and set `ParseInit.ts` (The file where I initialize the Parse SDK) as the first script. Then `ParseTest.ts` as the second script, like this:

![captura de pantalla 2017-

[2017-12-20 23:32] montymxb commented on #280
Interesting...we don't have active coverage accounting for behavior running on **mono** atm. No promises that we'll get around to verifying this one, but I'll mark it for investigation.

[2017-12-20 23:50] montymxb commented on #282
We don't currently have active tests running against unity at this time. As such I'll have to take a look at this personally and let you know if there's something up.

[2017-12-21 03:46] jcguarinpenaranda commented on #282
Thank you, please any help will be very appreciated

2017-12-20 18:50 GMT-05:00 Benjamin Wilson Friedman <
notifications@github.com>:

[2017-12-21 13:30] mik-dass commented on #280
@montymxb Ok. Please give it a look. Thanks for your time :)

[2017-12-27 16:12] jcguarinpenaranda commented on #282
Excuse me, I want to be proactive searching for a solution. What should I do? Is there anything I have to check again?, or maybe give you more details?

[2017-12-27 16:13] jcguarinpenaranda commented on #253
How did you get the Unity SDK to work? I'm stuck here :S [#282](https://github.com/parse-community/Parse-SDK-dotNET/issues/282)

[2017-12-28 11:16] TheFanatr commented on #274
I rewrote the entire thing into one netstandard2.0 assembly as a hobby completely separately. It works fine but I changed a couple of things because it wasn't meant to be used officially as a replacement to this version. I also got pissed off at Unity and Mono so I deleted all of that stuff, and I also got rid of the unit tests. Oh well; I can add those back. The original point was that I wanted t

[2017-12-28 11:55] TheFanatr commented on #199
I have been working on this for the past while, without noticing that people started posting to this issue again. I fit the description that @flovilmart mentioned in his previous post, and I also happen to be on a break from school right now, so I'll take on the job officially if you guys want. I'm actually close to finishing a basic implementation, so I'll post when there's something new.

[2017-12-28 14:29] baywet commented on #199
@TheFanatr that's great. Don't hesitate to mention me on the PR once you submit it. I'll help reviewing the code :)

[2017-12-29 02:17] montymxb commented on #282
@jcguarinpenaranda sorry to the lack of feedback. I have been working on putting together a method for building the current sdk, as it has differed significantly from the original instructions provided.

I've managed to get the basic components built for .NET, but I haven't started testing/building against Unity yet. That's the next thing in addition to Xamarin.

[2017-12-29 02:23] montymxb commented on #253
Should note that we'll focus on targeting Unity 2017, from there we'll work back as needed.

[2017-12-30 04:06] jcguarinpenaranda commented on #282
Thank you so much, I will be waiting and if there's anything you need me to do in order to test this with Unity just tell me

[2017-12-30 06:12] TheFanatr commented on #274
PCLStorage may be an issue. I recently tried to reimplement the unit tests with a .NET Core unit test project, and 45 of the tests failed due to the fact that PCLStorage uses System.Windows.Forms in order to get the temp path when used on Windows platforms. I dug around through referencesource.microsoft.com and the functionality can easily be replicated without having to use the assembly; however,

[2017-12-30 06:27] montymxb commented on #274
@TheFanatr It looks like PCLStorage is [not being actively maintained](https://github.com/dsplaisted/PCLStorage/issues/66) (was looking at this earlier today in relation to some other issues). We're probably going to want to go towards setting up an internal ParseStorage subproject. No exact directions on this yet, and we're definitely open to completely new implementations (or decently supported

[2017-12-30 07:49] TheFanatr commented on #274
I see. Yeah, I basically refactored the entirety of all the Parse projects into one assembly (one project that targets .NET Standard simply called Parse), so a pull request is probably out of the question. I kept the entire API around except ParseAnatlytics and ParsePush because I originally was just going to use this with a friend. I will soon try to bring ParseAnalytics back in, but ParsePush is

[2017-12-30 08:06] TheFanatr commented on #274
As for suggestions for the proto-release, it would be great to see a de-cluttering of the project; unsupported-framework-based projects should dissapear, and the Unity projects should be unified (as it were) so that the functionality isn't so smashed apart, and an upgrade to the latest supported language version and .NET implementation by Unity for the Unity projects. I think that the latest .NET

[2017-12-31 01:25] montymxb commented on #274
1. Cross Platform Storage (PCL step up, assuming PCL does not work??)
PCL is working for now, but it is a bit weird that it's not clarified as an external dependency. We'll be clarifying it's necessity in future build instructions. With regard to any shortcomings we'll want to start on an integrated solution. The existing test suite is functional as is and we'll be keeping that, if anything we'll

[2017-12-31 10:04] TheFanatr commented on #274
I understand why the ability to pick and choose which sections of the SDK seems like a good idea, but at the end of the day, what benefit does it really provide? It will only make managing the project harder, and make the structure more convoluted. In my opinion, there is no real-world reason to prefer referencing an assembly that only provides a portion of a certain SDK, rather than the whole thi

[2018-01-02 22:26] montymxb commented on #274
@TheFanatr the benefit is to allow independent use of components, without the whole SDK. If you want to open a discussion regarding that specifically can you open another thread (this one should be focused on .NET standard after all).

We also are aware about the concern regard PCLs being out of date, and we are planning to make a move to .NET standard. Just to clarify our focus is as follows (and

[2018-01-02 22:41] flovilmart commented on #274
I actually believe modularisation will help moving to .Net standard as an additional target. I dunno if it makes sense in 2018, but on iOS we still target iOS 8 as a minimum platform. We could very well undo the modularization commits and get back to the original stage. I'm not sure what's best now. @baywet what do you think?

[2018-01-03 01:44] TheFanatr commented on #274
@montymxb @flovilmart So, I have an idea that will both allow modularity, make the project much simpler, and be open enough to easily change the structure later on. It's actually quite simple: create multiple .NET Standard assemblies with all the modules that are wanted to be separated. Literally all of the PCL code works out of the box via copy and paste except a few minor required changes, and t

[2018-01-03 02:35] flovilmart commented on #274
@TheFanatr

I belive it was intented the other way around, being able to use Core without Push as we don't maintain a push adapter for windows targets.

Analytics don't really matter as it's 100% noops serverside, unless you provide your own adapter so that's interesting to keep it separated to keep a lower binary size.

In the end, the way the project is architectured and distributed doesn't real

[2018-01-03 03:48] TheFanatr commented on #274
@flovilmart Sure! I will just have to actually fork as I was developing this completely separately. Also, considering I am changing so much about the structure it is probably impossible to merge without complete erasure of the current code, or is it possible to overwrite? Either way, I will probably post it sometime within the next 5 hours or so.

[2018-01-03 07:57] TheFanatr commented on #274
I will start by putting StandardStorage into it's own repository, and creating a NuGet package for it and reference it from Parse, then I will submit a PR with the repo in it's current state.

[2018-01-03 14:16] baywet commented on #274
@flovilmart usually on big projects have one nuget with multiple DLL's, it gives more flexibility than only one dll to consumers if they want to reduce the size of their application (by referencing only specific dlls).
If i remember properly, by default nugets with multiple dll will reference all dlls in project they are being installed during installation time. And I'd say not a lot of people car

[2018-01-03 23:06] zvinless opened #283 "Unity API errors when Task.ContinueWith() callbacks exceed depth of 10"
Because `ContinueWith()` callbacks seem to get executed on the calling thread for the first 10 levels, I expect the same for callbacks of any depth level. Found on Unity 2017.2.1, macOS 10.13 in the Unity Editor.

Seems to be related to changes made in 1c59dbfa84c84fddc6e9ffd6718d4076c6e4f10a

When a task's callback depth exceeds 10, a `TaskFactory` is now new'd with the default synchronization co

[2018-01-04 00:05] TheFanatr commented on #274
@baywet Just saying, Parse doesn't reference any NuGet packages except PCLStorage, so I don't see how your statement currently applies; however, with a hypothetical situation in which Parse did reference multiple packages, it could possibly be useful to have multiple NuGets, I agree.

@flovilmart Since this SDK still doesn't a ParseLiveQuery implementation, I can see how it is possible that some p

[2018-01-04 01:53] baywet commented on #274
@thefanatr : I agree, I was only providing insights about how things are generally done in DotNet and I have little knowledge of this project.
If you want to keep PCL support and old platforms with it you could either rely on conditional build with multiple build profiles or on conditional build with multiple project files. And then "manually" package your nugget. (Instead of relying on default Do

[2018-01-04 07:46] TheFanatr commented on #274
@baywet Yes, I think a new major version would be in order. As for using conditional builds, I think that approach would be very time-consuming, but could work, if needed; good suggestion.

@flovilmart I will try to get the PR posted soon; I was just performing some maintenance tasks to get it ready, and I will probably try to get at least analytics working.

Also, StandardStorage is on NuGet; it'

[2018-01-05 01:34] TheFanatr commented on #274
Do I need to make a portable equivalent to TrackAppOpenedAsync with the platform specific launch args as a parameter? Such method exists on both supported mobile platforms (WinRT and Windows Phone). The only thing it really does as far as I can tell is try to extract the push hash, if existing, from application launch metadata; is there a special purpose this serves? There is already a TrackAppOpe

[2018-01-05 01:38] flovilmart commented on #274
I would not worry much about the analytics package as analytics are not provided as part of the server anymore. I’d put more focus on the ‘Push’ where I see relevant the split core/push is for the distinction mobile/desktop/server. On the server you won’t want to store installation objects automatically, so It makes sense to not have it by default. On other platforms, you want that process to be s

[2018-01-05 04:05] montymxb commented on #274
@baywet very helpful! Thank you for the input.

Sorry I have been rather absent, been incredibly busy lately, but I have been watching!

@TheFanatr thanks for putting together an updated storage dep. A potential PR would be fantastic as well.

As for versioning on the next release it would definitely be a major version change. That allows us the freedom to make fundamental changes to the SDK as is

[2018-01-05 04:12] baywet commented on #274
@montymxb no worries, feel free to add me as a reviewer when the PR comes in if you want me to provide some more input. I'll be out with no internet access second half of January but if work is not finished by then, happy to provide feedback.

[2018-01-05 04:37] montymxb commented on #283
Hmmm, this might be related to [this](comment) regarding that feature coming in. So I'm gathering that you've built up this SDK against the latest code available and you got this? If so we may just want to revert this change...

[2018-01-05 05:11] zvinless commented on #283
Yeah, although I haven't seen anything in the SDK that actually gets 10 levels deep. I was just trying to use the Task shims for other stuff in a project and saw that this was an issue. Maybe @benwulfe has some insight since it seems that the change was intended to resolve another issue?

[2018-01-05 06:54] TheFanatr commented on #274
Ok, so does that mean I should completely scrap analytics, or should I just provide it separately?

[2018-01-05 09:04] TheFanatr commented on #274
Uhh, so Json.Encode trips over this
`IDictionary<string, object> expected = new Dictionary<string, object> {
        {
          "data", new Dictionary<string, object> {{
            "alert", "Some Alert"
          }}
        },
        {
          "where", new Dictionary<string, object> {{
            "channels", new Dictionary<string, object> {{
              "$in", new List<string> {{ "channel"

[2018-01-05 09:08] TheFanatr commented on #274
The issue is that the List's content is declared with encapsulating item curly brackets around `"channel"`, and Encode isn't recognizing the type `{ "channel" }` as anything.

[2018-01-05 09:50] TheFanatr commented on #274
Can we switch to Newtonsoft.Json? I ended up having to use it for the unit tests. I can also now confirm that all 188 of them are successful.

[2018-01-05 11:43] TheFanatr commented on #274
For versioning purposes, can I assume `Parse v2.0.0-beta1` as the version to use for the assemblies?

# Proposed Next Steps
- Remodularize the Project (differently)
- Remove Useless Elements
- Add Unity Support
- Add New API (vNext)

## 1. The Proposed New Structure
### `Parse [NuGet Only]`
- All of the Below

### `Parse.Common`🔗`StandardStorage`+`Newtonsoft.Json`
- Initialization
- Common Classes

[2018-01-05 13:29] baywet commented on #274
@TheFanatr do you have a lot of cases where people use, let's say Parse.Common and Parse.Events but not Parse.Cloud? In that case why having a meta package "Parse" that will refer all of these? It might confuse people more than anything else and "force" them to download the whole thing when they only need some parts of it.
IMHO Parse.Common in your plan should be Parse, no need for a meta package.

[2018-01-06 01:47] flovilmart commented on #274
@TheFanatr this may be be of interest: https://blogs.unity3d.com/2018/01/05/discontinuing-support-for-monodevelop-unity-starting-in-unity-2018-1/

[2018-01-06 06:12] roddrift commented on #282
How does this even work? I cloned the git and put it in the assets folder and it is a mess - msbuild / xbuild produces nothing but errors - is parse a lost cause on Unity?

[2018-01-06 06:37] montymxb commented on #282
@roddrift building with xbuild/msbuild on mac is currently non-functional. The same Dlls can be produced by building on windows, which I would recommend until that is resolved.

We're in the midst of some changes coming up for the sdk with potential support from additional contributors, from there we'll get some new Dlls, but serious Unity support may be coming later on. You can follow the discuss

[2018-01-06 16:33] roddrift commented on #282
Thanks @montymxb, appreciate the response.

[2018-01-07 17:49] mik-dass commented on #280
@montymxb Interestingly, I am now getting this same error on Windows 10 too. I am running Visual Studio 2017. The code was working fine till last week and suddenly this week, this same error is popping up and failing while execution at the same lines i.e the Parse Query lines . Please have a look as all of my current development is stuck due to this. Planing to switch to Java for now. Thank you.

[2018-01-09 00:06] TheFanatr commented on #274
@flovilmart Those are some good points; I think maybe I should just drop the additional API plans for now. As for using Rx.NET, I agree that sticking to async would probably be best for now, but the reason I wanted to use it for event management is because it is really efficient at doing a repetitive thing in the background without hogging resources. I did a profiling experiment once, and versus t

[2018-01-09 00:10] TheFanatr commented on #274
@montymxb Can you please upgrade Appveyor to support VS2017?
https://ci.appveyor.com/project/montymxb/parse-sdk-dotnet-gq28w/build/1.0.8/messages
Basically, as far as I can tell, the build is failing for #284 because it's not detecting the projects as valid due to the fact that it's trying to recognize them with a VS2015 point of view. Apparently other people have had the same problem with VSTS an

[2018-01-12 19:38] montymxb commented on #274
@TheFanatr Sorry I've been _super_ busy lately, plenty of notifications to go through here. Looks like all we would need to change for appveyor is the image referenced in the [appveyor config file](https://github.com/parse-community/Parse-SDK-dotNET/blob/master/.appveyor.yml#L2). In your PR you can update the **.appveyor.yml** file to reference **Visual Studio 2017**, instead of the current **Visu

[2018-01-13 01:58] TheFanatr commented on #274
Ok, thanks. I'll push sometime soon.

[2018-01-15 04:51] mik-dass commented on #280
@montymxb I debuged the program and found some interesting. The Parse.Initialize() method itself fails.
So I guess the problem is that, the Parse Server Connection is not established. Here is the stacktrace of it:

[code]

[2018-01-15 05:23] mik-dass commented on #280
@montymxb Finally got it work on Mono after hours of debugging. The problem is
http://www.mono-project.com/docs/faq/security/
By default mono does not trust any certificate, so all the https requests were failing and My Parse Server needs a https connection to be established. The .NET Framework on Windows uses the Windows Certificates store, so it ran almost perfectly on the windows platform.
I fo

[2018-01-15 05:23] #280 closed

[2018-01-16 14:56] montymxb commented on #280
Np, we might want to make a note about this in our docs...

On Jan 14, 2018 9:23 PM, "Mrinal Das" <notifications@github.com> wrote:

[2018-01-16 15:50] mik-dass commented on #280
@montymxb That would be a good idea :+1:

[2018-01-23 07:40] TheFanatr commented on #274
@montymxb CI seems to not be working properly. I got it to successfully build and generate a report, but it would seem that either the tests aren't running, or the generated file is not being analyzed. #284 https://codecov.io/gh/parse-community/Parse-SDK-dotNET/commit/51f91d914448c7bb26a374279df8bfbc1fb3089d

[2018-01-23 22:24] montymxb commented on #274
Noticed those failed appveyor builds. I can't look into this atm, but I have flagged this as something I will look at within the next couple days. Most likely on Thursday when I have free time.

[2018-02-01 08:44] TheFanatr commented on #274
So, basically, #284 works and is fully set up with code coverage and continuous integration, as far as I can tell.
Here is what I plan to do next:
 - Remove redundant interfaces with only one implementation. These were originally used when there were multiple projects for every single Parse SDK section.
 - Rename some of the properties in various places to make more sense. (more details soon)
 - R

[2018-02-01 19:06] montymxb commented on #274
Awesome! I just left a note that I'll be looking back at that shortly. Before we do anything I'm would like to fork the existing state of this repo into a **1.8.0-_ish_** branch. From there we'll have a stable base we can go back to in case things go haywire, but I expect it should be decent.

Once I've forked the 'stable' (if you can call it that as is...) state of the current repo we can bring c

[2018-02-03 15:40] fsufyan opened #286 "Unity 2017.1 InvalidOperationException: Header value contains invalid characters"
Hi,

I am getting this error when initializing parse Unity SDK 1.7.0 although the same project was working fine in Unity 5.6 before upgrading to Unity 2017.1.0 and 2017.1.1
Is this plugin not supported on Unity 2017 ?

**Console Log:**
InvalidOperationException: Header value contains invalid characters
UnityEngine.Networking.UnityWebRequest.SetRequestHeader (System.String name, System.String value

[2018-02-04 20:48] fayyadsufyan commented on #286
I am not using the modularized version since it lacks the ParseFacebookUtils and i am in need of it.
I was trying to upgrade my project from 5.6 to 2017 for performance comparisons but i think i will wait for an official new Parse Unity sdk update.

[2018-02-08 01:41] montymxb opened #287 "Transfer of NuGet Package Ownership"
As requested by NuGet support I am opening up an issue regarding transfer of control for the Parse NuGet package. When the community org was created we did not properly receive access for this. This issue is part of a formal process for us to get ownership back. I will be taking ownership of it myself initially. The intention is to then give the current team members access.

It has been requested

[2018-02-09 03:00] montymxb commented on #287
@parse-community/core-maintainers it has been over 24 hours. If anyone (besides me) can close this at their convenience, as noted in the description for the issue above, that would be super. Once that's done we can get this moving along 👍 .

[2018-02-09 03:15] flovilmart commented on #287
Doesn’t seem that anyone oposes the transfer!

[2018-02-09 03:15] #287 closed

[2018-02-09 21:59] montymxb commented on #287
@parse-community/core-maintainers letting everyone know that we completed the transfer and we have control of the account again. Still need to grant access to other team accounts, but we're looking good now.

[2018-02-09 22:00] flovilmart commented on #287
What a way to end the week! Awesome!

[2018-02-21 15:52] sinclas commented on #167
Hi,

I am getting this issue with a Droid project in a Forms PCL.   The initialize method is throwing this error.  Works fine for the iOS project in the same solution.  Did anybody come across this recently?  I am using VS on MAC (7.3.3) and loaded the Parse 1.7.0 version into the packages.

Any ideas?

[2018-02-23 04:14] joechihe opened #288 "Can't compile master branch"
Anyone has an idea why when compiling the latest changes with net standard 2.0, Visual Studio is looking for two locations for the files?
- I'm compiling on a Mac using Visual Studio v.7.3.3

/.../Xamarin/Parse-SDK-dotNET-master/Parse/CSC: Error CS1703: Multiple assemblies with equivalent identity have been imported: '/.../joechihe/.nuget/packages/system.threading.tasks/4.3.0/ref/netstandard1.3/Sy

[2018-02-28 01:52] TheFanatr commented on #288
I think it may have something do to with your setup. The project is using .NET Standard 2.0, as you know, but your system is trying to use the Tasks assembly from .NET Standard 1.3. Try cleaning the project, then restoring NuGet packages. It should compile fine, according to previous tests.

[2018-02-28 03:26] montymxb commented on #253
It's a step on our way to bringing back a revamped sdk :). Just have a lot
to step through haha.

If it is as simple as a renaming a reintegration may be possible by
following the existing implementation, accounting for the name change.

The priority for the moment is to bring up decent tests around the core and
to ensure the core works as expected. Once that's defined and tested to
ensure it stay

[2018-02-28 03:29] montymxb commented on #167
Hey we're bumping along to a 2.0 alpha atm. The old design is currently
being revamped around the core, which will then be extended to support
additional platforms again.

We're not providing active support for 1.7 as a result. Apologies if this
is causing a problem...in time we expect the new sdk design will serve to
be a better approach than maintaining the old one.

On Wed, Feb 21, 2018, 07:52

[2018-02-28 20:55] Cartoman commented on #253
Hi,

Thank you for your prompt response.

As for me, I am currently on a personal development around a game. It takes me a lot of time. My game is today in Alpha version.
I previously looked for how to store and render informations on the Web (for my case, it just concerns connections, scores and reports on scores).
Parse responds perfectly to my problem (and in addition it uses internally MongoDB

[2018-02-28 21:38] montymxb commented on #253
That sounds like a good plan to me! Thanks for letting us know what the
situation is. We'll keep you posted in regards to our progress for
reintegrating unity. That would be fantastic if you want to test drive that
functionality once it's in place.

I haven't looked at firebase in depth but i imagine most of the
functionality is quite similar to what is present in parse. If it's close
enough you m

[2018-03-05 22:27] montymxb commented on #286
@fayyadsufyan we've been hearing that there's been issues using the old sdk with the latest unity (and sometimes the old unity as well). The new design should eventually reincorporate unity integration, but for now there's not really anything here that will work the latest Unity builds, sorry. Hopefully we'll get this back in place sometime soon.

[2018-03-06 00:38] TheFanatr commented on #286
@montymxb The master branch should work with Unity, as long as you have the Unity 2018.1.0b9, and you adjust your player settings to reflect the configration below.

Scripting Runtime Version: "Stabe (.NET 4.x Equivalent)"
Api Compatibility Level: ".NET Standard 2.0"

Please note that you have to set them in that order, otherwise .NET Standard 2.0 compatibility will not be shown.

[2018-03-06 02:23] montymxb commented on #286
Ahh, I stand corrected!

It just occurred to me we need to start updating the README for the new sdk's requirements. These can be _rough_ until we know exactly what we need to set things up, and with instructions per platform most likely. Those settings mentioned above would be excellent to add to that.

[2018-03-23 11:20] BrixtonDynamics opened #289 "ParseUser.CurrentUser.FetchAsync() not working"
I've inherited a project that uses Parse.unity. The user data syncs on some devices but not others.

if (ParseUser.CurrentUser != null)
		{
			// always gets here
			ParseUser.CurrentUser.FetchAsync().ContinueWith(s =>
		      {
                          // does NOT get here on some devices
		       });

On some devices (can't say which ones, happens on both iOS and Android devices) the code never

[2018-04-10 19:49] jcguarinpenaranda commented on #282
Hello, I just wanted to return to this issue as I have not been able to test with Unity again. Is there anything I can do to help? or, is everything working ok now?

[2018-05-06 21:52] Spiralis opened #291 "Updated version on NuGet.org?"
Version 1.7.0 does not work for me (failing on init). Master (version 2.0.0) however does (even if the server is not 2.0.0).

But, the problem is that version 2.0.0 of the parse sdk is not available on NuGet, so our build-server fails. I see from older discussions that 1.8.0 was a planned release. I haven't tried that branch though.

Are there any plans for updating NuGet.org with a newer version?

[2018-05-18 16:50] bliu886 opened #292 "Update Unity DLL to target .NET 4.5?"
With the Unity 2018.1 release in early May, Unity now officially supports .NET 4.5. can the Unity DLLs be rebuilt to utilize .NET 4.5? The current Unity DLLs target 3.5 and I would like to use the .NET 4.5 features.

[2018-05-19 07:29] drinvojka commented on #199
any updates about .net support ?

[2018-05-19 18:06] TheFanatr commented on #199
@drinvojka If you mean .NET Standard, the master branch of this repository already supports it; you just have to build it from source after cloning or downloading and reference the output assembly, or you can go to the AppVeyor build and download the NuGet package from the artifacts section and reference that instead. If you would like, I can provide a direct link to it, but I would recommend just

[2018-05-19 19:00] TheFanatr commented on #199
It also occurred to me that if you are referring to LiveQuery specifically, I was working on it at some point, but did not have enough time to finish it. I may at some point, but it should be noted that pretty much anyone can do it because the .NET/CLI API is almost analogous to the Java/JVM API, so it shouldn't require too much work.

[2018-05-24 05:10] TheFanatr commented on #291
Once the unit tests for the master branch have been written, automatic NuGet publishing can be set up by reconfiguring the AppVeyor build settings. As of right now, you can generate a NuGet package by building from source, but you can also just reference the .dll file that is also generated. If you cannot figure out how to generate a NuGet package, [here is a link to the one generated by the AppVe

[2018-05-24 05:13] TheFanatr commented on #291
As for "version 1.8.0" that is in it's own branch, it is an unfinished older version of the project kept as a backup, in case the master branch has some kind of major issue. It is also useful as a reference source when making modifications to the master branch.

[2018-05-24 10:06] drinvojka commented on #255
sorry to reopen this .. Can we include parse live query in xamarin  ?

[2018-05-25 17:07] Spiralis commented on #291
Ok. I added it as a binary dependency already. Thanks.

[2018-05-25 17:07] #291 closed

[2018-06-10 03:05] ycy1164656 commented on #282
HI! Have you solved your problem? because now I have quite the same problem as yours. I can initialize parse, but I can't reach the server.The error message is "OtherCause" . So I can not know which step of initialize is wrong.

[2018-06-23 02:14] SeloSlav commented on #226
Any updates on this? I'm experiencing the same problem. @tchantchoj, where are you logging your user in? Are you using ASP.NET MVC Core or RazorPages?

[2018-06-25 09:19] ciozmi commented on #121
Hi, has any progress been done regarding this issue? If not, what would be a suitable approach or starting point to have some sort of support with ASP.NET? The biggest issue is the one mentioned in issue #269 referenced above, where pretty much any static classes and variables relating to ParseUser do not work as expected in server-client environment

[2018-07-03 23:47] SeloSlav commented on #226
@tchantchoj Thanks for the reply. However, now that I think about it I don't this is an "issue" per se as much as something that was just never developed properly for the browser. If you use the SDK in a native mobile app, such as one developed by Xamarin, it will probably work.

[2018-07-04 00:07] tchantchoj commented on #226
Hi @SeloSlav,

Thanks for the reply. It might explain why then.

I'm going to go ahead and close this issue.

[2018-07-04 00:07] #226 closed

[2018-07-04 00:10] SeloSlav commented on #226
It seems like developers are creating ParseUser libraries based on AspNet.Identity. There is likely no functionality currently in this SDK for storing users in session on web browsers in general. https://www.nuget.org/packages/Parse.AspNet.Identity/

[2018-07-08 14:34] raytrask opened #293 "synchronous looping idiom required and/or upsert needed"
I have an app that requires me to iterate a list of results queried from a PC database to feed parse.  The results often have to be overridden with new results.

In a legacy java sdk, we simply did:

For each result:
 - do synchronous find
-  if  not found
-      create a new object
-  else
-      Update the existing object
-   Save synchronously

and had no problems.

BTW - our server needs to fe

[2018-07-16 05:03] JonMcPherson commented on #199
Is this being worked on at all? any plans to release it into this library?  I'm thinking about implementing live query support myself if it doesn't yet exist as open source.  I'll probably base it off of the Android/Java implementation.

[2018-07-17 13:05] flovilmart commented on #199
@JonMcPherson feel free to get started, I believe the architecture of the SDK is settled now and @montymxb could get you started!

[2018-07-18 05:37] JonMcPherson commented on #292
👍

[2018-07-29 18:35] JonMcPherson commented on #199
@flovilmart Just to update, I have ported the ParseLiveQuery-Android project to .NET Standard 2.0 using the [websocket-sharp](https://github.com/sta/websocket-sharp) library complete with unit tests.
I am currently working on integrating this with a Unity 2018.2 project, and will update here once I get that working.
https://github.com/JonMcPherson/parse-live-query-dotnet

[2018-07-29 18:36] flovilmart commented on #199
That’s awesome! Wonderful!

[2018-08-01 05:10] brendanlk opened #294 "Unity 2018.2 Application.isWebPlayer error in ParseInitializeBehaviour..."
Unity 2018.2 has removed the **UnityEngine.Application.isWebPlayer** property which is causing a runtime error. This is the full error:

[code]

[2018-08-07 22:59] brendanlk commented on #294
I'm happy to do a fix for this myself, but it appears that **Parse.ParseInitializeBehaviour** is no longer in the repository? Or it it being held elsewhere?

[2018-08-07 23:53] brendanlk commented on #294
I know there used to be, but it looks like a lot has changed. I was going by the downloads available [here](https://github.com/parse-community/Parse-SDK-dotNET/releases/tag/1.7.0), but these downloads and source seem ancient. I'm not sure what the new workflow is for unity.

[2018-08-07 23:54] flovilmart commented on #294
I’m not sure either. To be honest, dotNet has been left out over the years, unfortunately as no new maintainer arised. If you’re using this framework, let me know what I can do

[2018-08-08 00:00] brendanlk commented on #294
Thanks for the quick replies.
Our project is still depending on Parse and it's important that we upgrade unity to 2018.2.
I tried compiling the latest master, and it all compiled fine. But when I put the Parse.dll into the project, Unity can't detect the Parse namespace. I'm not super familiar with building dlls, but if I can get it working, I could easily fix it myself I think.

[2018-08-08 00:03] flovilmart commented on #294
@thefanatr any idea?

[2018-08-08 00:03] flovilmart commented on #294
I know everything was revamped a few months ago, but I’m not sure where things are

[2018-08-08 23:29] keerthik commented on #294
I was going to work on a PR for this fix after our current project release sprint.

The folder with Unity-specific scripts appear to have been lost in master. From 1.7.0, ParseInitializeBehaviour and ParseInstallation.Unity.cs are present [here](https://github.com/parse-community/Parse-SDK-dotNET/tree/1.7.0/Parse/Public/Unity). You can probably copy and use these files as is after the fix to addre

[2018-08-09 01:57] flovilmart commented on #294
@keerthik since this PR https://github.com/parse-community/Parse-SDK-dotNET/pull/284 I believe the project was refactored into 100% dotNet standard. I'm not sure what in means for Unity support. If you can provide guidance I'd love us to maintain the unity compatibility.

[2018-08-09 03:48] JonMcPherson commented on #274
Any progress with this? Development on this project seems to have died.
I am working on integrating this with a Unity project using .NET Standard 2.0 and IL2CPP.  From what I can tell so far, the PCL Storage "StandardStorage" will not work with Unity as-is, and will instead need to use the Unity API to get a safe platform dependent filesystem location using `Application.persistentDataPath`
https:/

[2018-08-09 11:28] flovilmart commented on #274
@JonMcPherson we’re looking for a maintainer on this project to be honest. None of us, at the time can provide extensive dotNet support.

[2018-08-09 17:07] TheFanatr commented on #294
Hi.
I wrote a solution to this, explaining the issue and how to solve it, but I closed the tab and now it's gone. If only I could pay attention to what I am doing.

[2018-08-09 18:04] TheFanatr commented on #294
Basically, the issue here is that the OP is using an old version of Parse which references an outdated UnityEngine SDK assembly, and specifically uses a property called `isWebPlayer`, which is supposed to return a value for whether or not the code is running in the Unity Web Player. Because the Unity Web Player no longer exists, the aforementioned property no longer exists in newer versions of the

[2018-08-09 23:41] brendanlk commented on #294
@TheFanatr So you're saying that I can keep the current (old) version I have, or should I use the latest commit on master? Following the steps you provided (with the old version) seems to give this weird error whenever I reference System.Threading.Tasks:

**The type 'Task' exists in both 'Parse.Unity, Version=1.7.0.0, Culture=neutral, PublicKeyToken=null' and 'netstandard, Version=2.0.0.0, Culture

[2018-08-10 12:53] TheFanatr commented on #294
@brendanlk If you configure Unity for .NET Standard 2.0 support I would recommend you use the latest master branch, as the old Parse SDK contained .NET Framework libraries added post-framework-2.0 in order for the Parse codebase to work properly in Unity because in the default configuration it uses a .NET Framework 2.0 API subset, whereas Parse needs Framework 4.x I believe. These extra libraries

[2018-08-10 13:05] TheFanatr commented on #294
Basically, the Task API and some others from post-2.0 .NET Framework were integrated into the Unity-specific version of the Parse SDK because Unity didn't have them by default. In .NET Standard 2.0 API Subset mode, Unity includes all that by default. Basically, the code you write targets .NET Franework 4.6, but the project references some kind of .NET Standard 2.0 compatibility provision assembly.

[2018-08-10 13:06] TheFanatr commented on #294
@flovilmart I'all take a look at he docs and maybe update them later today.

[2018-08-10 13:08] TheFanatr commented on #294
I'll try take a look at the docs and update them if needed later today.

[2018-08-13 02:02] brendanlk commented on #294
@TheFanatr I have upgraded our unity project to .NET 4.x (Mono) and compiled the latest master. After fixing some compiler issues (on our end) we are getting this error:

**Unloading broken assembly Assets/Plugins/Parse/Parse.dll, this assembly can cause crashes in the runtime**

I'm not sure how unity knows that it will cause an issue. But when running the game and calling Parse.ParseUser.LogInAs

[2018-08-13 22:10] TheFanatr commented on #294
Import a compiled copy of StandardStorage as well, along with all external dependencies, and it should work. Eventually, a Parse package can be added to the Unity Asset Store containing all the needed assemblies and resources to make life easier, but until then I believe you have to reference all of Parse's dependencies (recursive, of course) that are not part of .NET Standard 2.0's coverage and n

[2018-09-02 14:09] fayyadsufyan commented on #294
@TheFanatr Can you provide more details about the inclusion of those external dependence? I am stuck at "this assembly can cause crashes in the runtime"

Currently using Unity 2018.2.1 trying to upgrade an old Unity 5.6 Parse project.
Your help is very appreciated

[2018-09-09 11:35] cedriclange commented on #47
Parse.NeTStandard2 sdk is already out, but i'm still trying tpo figure out how does it work because i seems like i can't connect to my backend, Im using xamarin.forms based on netstandard2 and prism.

Help please

[2018-09-14 13:45] thibautvdu commented on #294
Any input on this ?
I tried several things, building it without the references to the depreciated functions, etc. with no luck.
The functions (SignUpAsync, etc.) never call back.

[2018-09-21 00:49] brendanlk commented on #294
I'm still having trouble getting this working too. Is it only @TheFanatr working on this?

[2018-09-21 01:35] TheFanatr commented on #294
I don't know who else is working on this at the moment. I will look into getting a sample running, and will post it here.

[2018-09-21 01:49] flovilmart commented on #294
@TheFanatr you're the reference person now! and a maintainer if you want to :)

[2018-09-25 07:03] TheFanatr commented on #294
@flovilmart Ok, cool. Thanks.

To update everyone on the situation here, it would seem that because of the way that Unity is handling assembly generation for in-editor playtest builds, the needed family of properties within the value of the `Microsoft.Extensions.PlatformAbstractions.PlatformService.Default.Application` property are returning `null`, causing the `Path.Combine` operation to fail sil

[2018-09-25 08:46] TheFanatr commented on #294
It would seem that no matter what I do, if I try to reflectively extract metadata about the assembly, the operation will fail, and using the Unity-provided reflection utilities, the only result I get is the name `Assembly-CSharp`, which is the default scripting project name. After some searching, it would seem that some hard-coded values for the Unity Application's version, name, and company are e

[2018-09-25 08:51] TheFanatr commented on #294
I also need to update the documentation on this, as it seems to be very outdated.

[2018-09-25 11:27] flovilmart commented on #294
Thanks for the update! This is really appreciated.

[2018-09-26 09:02] TheFanatr commented on #294
This is proving significantly more tedious than previously anticipated because registering subclasses also writes data to the cache, so `ParseClient.Initialize(ParseClient.Configuration configuration)` cannot be trusted to be the first time the persistent storage path needs to be used, so I have to come up with a default and once the actual one is initialized, I have to copy it's contents to the n

[2018-10-01 04:27] beiguancyc opened #295 "WhereLessThanOrEqualTo and WhereGreaterThanOrEqualTo does not work"
Hi,My code like this :
var query1 = ParseObject.GetQuery("Order").WhereGreaterThanOrEqualTo("createdAt", dateEdit1.DateTime).WhereLessThanOrEqualTo("createdAt", dateEdit2.DateTime).OrderByDescending("createdAt");
 IEnumerable<ParseObject> source = await query1.FindAsync();

but，the result where the server returned contained only "WhereLessThanOrEqualTo",
"WhereGreaterThanOrEqualTo" does not work

[2018-10-02 15:13] johng1492 opened #296 "Xamarin Mac Parse Issue..."
Is anyone using ParseClient on Xamarin/VS for Mac? I have tried and tried and tried to either use the Parse 1.7/Parse.Android 1.7 or Parse.NETStandard2 to be able to hit my Parse server and NOTHING has worked at all. I've searched online and followed countless suggestions with no success at all. I have run the libraries in the native project as well as in the FORMS project, and nothing. Suggestion

[2018-10-02 17:05] flovilmart commented on #296
Can you share a demo project?

[2018-10-02 19:18] johng1492 commented on #296
The issue is upgrading Xamarin/VS Mac to .Net Framework 4.6.1. My select framework is 2.0 and I have a sample console app that I downloaded that references 4.6.1. I can't figure out how to upgrade my framework. Thoughts?

[2018-10-03 00:43] flovilmart commented on #296
Can you please share a demo project? Or explain why you can’t share one.

[2018-10-08 20:09] johng1492 commented on #296
flovilmart,

Thx for the response. Oddly, I began a project from scratch on Xamarin.Forms Mac and, using Parse.Android as a reference, I was able to save my data to the backend server. So weird. Anyway, thanks again.

[2018-10-08 20:24] flovilmart commented on #296
So this issue can be closed?

[2018-10-19 08:52] #295 closed

[2018-10-19 10:48] TobiasPott commented on #294
I'm a bit in a hurry at the moment but will prepare a pull request later this day or next week.
In my fork of this repository I've targeted the file access when using Parse inside a Unity application on mobile platforms like Android and iOS as we use Parse for one of our backend structure and the communication with it.
You might take a look at it if you like: https://github.com/TobiasPott/Parse-SD

[2018-10-20 03:57] qruxtapose commented on #294
Hi @TobiasPott

Thanks for providing your fork. I was actually able to build the project without UnityEngine.dll. Maybe there is something I'm missing here but nothing in the project looks to be Unity specific (and as such doesn't seem to work with Unity). Any ideas?

[2018-10-21 21:30] qruxtapose commented on #294
@TobiasPott No problem at all! Thanks for looking into it

[2018-10-22 07:36] TobiasPott commented on #294
Back in office right now and checked git.
Missed the push to the remote, sorry for that.

You may check the master branch now and find the changes I've made last week.
Sorry for your inconvenience.

If any Unity versions prior to 2018.2 are giving you troubles, just tell me and I bump the backward compatibility up on my ToDo list.

[2018-10-22 07:39] TobiasPott commented on #294
Hm for unknown reason the website has eaten my comment from 2 min ago -.-

I'm back in office and checked my git.
Missed the push to the remote last week and sorry for your inconvenience.

You may check the master branch for the changes I've mentioned last week.

If you are facing any problems with Unity versions prior 2018.2 don't hesitate to ask and I'll bump backward compatibility up a bit on m

[2018-10-22 08:34] TheFanatr commented on #294
GitHub is acting up at the moment. I was going to post something important but apparently that's not an option right now because it might get swallowed. FYI: https://status.github.com/messages

[2018-10-22 10:41] TobiasPott commented on #294
Yeah I've noticed that already and got a bit angry this morning -.- (related to another project)

I've discovered that caching the session is not working properly right now with my changes and currently digging into it for a fix. (hopefully github doesn't eat this one)

[2018-10-23 06:51] TobiasPott commented on #294
@qruxtapose Have you got it running in an iOS or Android build out of Unity?
I did get some errors about a "broken assembly" which might cause errors at runtime when using the build from this Parse repository and didn't even get it to initialize on Android (built from Unity).

[2018-10-23 17:28] qruxtapose commented on #294
@TobiasPott Yes. It's running in Android (built from Unity) but with errors. It does appear to initialize and I'm able to download the Parse.Config just fine. After that it fails my authentication process on Android where it succeeds in Unity editor.

[2018-10-24 08:36] TobiasPott commented on #294
@qruxtapose got similar issues when using the official repository thus I sticked to @TheFanatr repository.

I'm not yet that deep into Parse to understand the inner workings that good to help with the specific issues but I did some more adjustments on my forked repo to get Unity Editor support and fix caching as it did not work properly on my side..

[2018-11-02 12:58] albicommerce opened #297 "Problem with connection loss Exception not getting caught"
Hello ,

I'm working on a Xamarin.Forms app and i've integrated Parse SDK for each plaftorm .. All is working well in ANDROID but when I'm in a middle of a query and the connection is lost it gives me a Null Reference which is not caught in a try/catch . Debugging in emulator gets the expection caught but not in a real device . Any suggestions ?

Parse Android SDK version : 1.7

[2018-11-09 00:07] hqMoura commented on #294
There is a fix for this?

I still facing the same issue with the webPlayer exception.

[2018-11-11 16:53] TobiasPott commented on #294
@hqMoura:
What do you mean with "webPlayer" exception, the same as the OP mentioned?
Are you using assemblies build from this repository or where did you get them from?

The latest commit in the master branch does not contain any references to Application.isWebPlayer from UnityEngine.dll anymore and thus should not give any exceptions due to a call to it. This is unless you use an older version or

[2018-11-13 03:02] pprwght2 commented on #294
@TobiasPott
I recompiled your and @TheFanatr solutions

I can't seem to get past initalization ParseClient.Initialize(config);

NullReferenceException: Object reference not set to an instance of an object
Parse.ParseClient+Configuration+VersionInformation..cctor ()

[2018-11-14 07:49] TobiasPott commented on #294
@pprwght2
Could you please give us some more information about your setup?
Which Unity version are you using and which of the output assemblies are you using?
Are you using Parse inside the Editor (via Editor-script) or during runtime?
Are you testing in play-mode (in-editor) or with a built application on a target platform?

[2018-11-14 20:03] pprwght2 commented on #294
@TobiasPott

Unity 2018.2.14f.1, compiled to release build and copied everything under VS Release dir to Assets/Parse,
settings are se to to .NET 4.x Equivalent, API comp Level 4.x

[2018-11-18 01:14] pprwght2 commented on #294
It's working In a .Net console application. In Unity it fails at **ParseClient.Initialize(new ParseClient.Configuration** ...

NullReferenceException: Object reference not set to an instance of an object
Parse.ParseClient+Configuration+VersionInformation..cctor () (at Parse-SDK-dotNET-master/Parse/Public/ParseClient.cs:130)
Rethrow as TypeInitializationException: The type initializer for 'VersionI

[2018-11-20 09:14] TobiasPott commented on #294
Hm could you check if you copied the Parse.dll also?
The output are actually explicit for each platform and Parse.dll is for .NET (outside Unity) Parse.Unity.dll is for Unity runtime (devices, and editor play-mode) Parse.Unity.Editor.dll is for editor scripting.

Remove the Parse.dll as it uses only .NET stuff which is not available in Unity as the way version and application information is gather

[2018-11-20 10:41] pprwght2 commented on #294
Thanks for answer, using Parse.Unity.dll only, 2018.2.14f.1 runtime in-editor  fails with

NullReferenceException: Object reference not set to an instance of an object
Parse.ParseClient+Configuration+VersionInformation..cctor () (at <4e88660be348469a8ef9bebf9b56de11>:0)
Rethrow as TypeInitializationException: The type initializer for 'VersionInformation' threw an exception.
Parse.ParseClient.Initi

[2018-11-20 12:33] TobiasPott commented on #294
@pprwght2 Would you mind zipping and sending me your project so I can have a look at it?
Remove all credentials and server information and send me a link as I can't reproduce this issue with a clean project =/ (you might use PM for the link)

[2018-11-20 13:06] pprwght2 commented on #294
zipped unity project
https://files.fm/u/z46jgp4u

[2018-11-20 15:57] TobiasPott commented on #294
@pprwght2 There is actually an issue when building the Unity and Unity.Editor assemblies from the repository.
The assembly in your project is quite different from the one resulting from my local repo.
I'll need to get into this and check what is going wrong when building from a cloned remote repo.

[2018-11-21 05:20] pprwght2 commented on #294
@TobiasPott
It is working now! Setting compiler flag and copying UnityEngine.dll did it.
One more question, I will now start integrating code into bigger project, you mentioned this:
"I've discovered that caching the session is not working properly right now with my changes and currently digging into it for a fix. (hopefully github doesn't eat this one)".
Would you recommend this repo for producti

[2018-11-21 09:03] TobiasPott commented on #294
@pprwght2
I'll push the changes with the compiler flag later this day and will add information about usage and required references to the Readme of my fork.
As far as I can tell caching works now, the statement was an old one and I tackled this issue as we use Parse for production development of an application platform right now.

I'm not 100% sure whether everything what should be cached, is cach

[2018-11-22 16:35] WalGallen-Baktun commented on #294
@TobiasPott
Hi! I'm trying to build the project using Visual Studio, but I'm getting these errors while trying to open it.

C:\Users\user\Desktop\Parse-SDK-dotNET-master\Parse\Parse.csproj : error  : The SDK 'Microsoft.NET.Sdk' specified could not be found.  C:\Users\user\Desktop\Parse-SDK-dotNET-master\Parse\Parse.csproj

C:\Users\user\Desktop\Parse-SDK-dotNET-master\Parse.Test\Parse.Test.csproj

[2018-11-22 20:38] lucks commented on #294
hi, could you pls share your parse-unity.dll , I have the same issues.

[2018-11-22 21:42] lucks commented on #294
I'm trying to compile the fork @TobiasPott but not success, "missing Parse.dll" ,

[2018-11-23 07:56] TobiasPott opened #299 "The SDK 'Microsoft.NET.Sdk' specified could not be found."
Hi! I'm trying to build the project using Visual Studio, but I'm getting these errors while trying to open it.

C:\Users\user\Desktop\Parse-SDK-dotNET-master\Parse\Parse.csproj : error  : The SDK 'Microsoft.NET.Sdk' specified could not be found.  C:\Users\user\Desktop\Parse-SDK-dotNET-master\Parse\Parse.csproj

C:\Users\user\Desktop\Parse-SDK-dotNET-master\Parse.Test\Parse.Test.csproj : error  : T

[2018-11-23 07:59] TobiasPott commented on #294
@WalGallen-Baktun I created a new issue from your response as it does not seem to be directly related to the original topic of this thread (as lot of other things did not unfortunately)

@lucks I don't want to be rude but if you have the same issue as pprwght2 wouldn't his solution solve it for you too?

[2018-11-23 08:48] lucks commented on #294
My issue is that with you repo, I cannot compile the parse.unity.dll, I installed dotnet sdk 2.1.500, download you repo, then attach the unitengine.dll, then run dotnet restore for the nuget package, but when I try to compile, many System. (String, and others ) not found with the Net 2.0,
![captura](https://user-images.githubusercontent.com/124778/48934578-384a5480-eeca-11e8-9968-a2d0a88433a4.PNG)

[2018-11-23 11:35] TobiasPott commented on #294
Ah yes, I got that one few times and was not able to determine what causes it.

Could you try cleaning the whole solution.
Afterwards unloading all projects except the Unity.Parse one and rebuild this one.

I have this issue from time to time and I'm not quite sure how to avoid it as Parse.Unity and Parse.Unity.Editor are only different in one additional compiler symbol.

I need to dig into this o

[2018-11-23 12:00] pprwght2 commented on #294
@lucks did you also install

Microsoft.DotNet.PlatformAbstractions
Microsoft.Extensions.PlatformAbstractions
StandardStorage from Nuget

[2018-11-23 13:09] TobiasPott commented on #294
@lucks Could you please check the [feature/fix-netstandard-system-types-not-found](https://github.com/TobiasPott/Parse-SDK-Unity-NETStandard/tree/feature/fix-netstandard-system-types-not-found) branch of my repository?

I checked this issue and added build configurations to the solution file instead of using separate project files. When I use the zipped download from github directly, added the Uni

[2018-11-23 16:38] lucks commented on #294
hi, @TobiasPott at first instance, download de branch, as zip, then add unityEngine.dll, then select Release-Unity, then compile the solution, but I got the following error:
Severity Code Description Project File Line Status suppressed
Error CS1061 "ParseObject" does not contain a definition for "IsNew" nor is there any accessible "IsNew" extension method that accepts a first argument of type "Par

[2018-11-23 16:59] lucks commented on #294
Well, just commented and compile again, a think now I have the parse.unity.dll , i going to test in the game, thank you!

[2018-11-26 07:41] TobiasPott commented on #294
@lucks Yeah this IsNew was a remainder of the previous version from the original repository. I'm not quite there to know whether these are required or not and what the IsNew flag is used for in which situations.

Glad you got it compiling and good luck with your game =)

[2018-11-26 09:22] pprwght2 commented on #294
I am slowly moving stuff to new Parse and Unity. The only problem is if you stuff bunch of StartCouroutines in loop trying to retrieve (first calling Parse and getting url Path successfully) http web images it doesn't work reliable in Unity 2018.14. It worked always in Unity 5.6.5p4, is anyone using other Unity 2018 versions and getting good 'multi-threading' calls results?

[2018-11-27 11:16] TobiasPott commented on #294
@pprwght2 We are using 2018.2.12 at the moment with the NET Standard 2.0 API compatibility level and the 4.x scripting runtime version. the multi-threading works good enough for us on all target platforms (PC, iOS and Android).
Instead of Coroutines we are using [async/await](https://docs.microsoft.com/en-us/dotnet/csharp/async) which is available at least since the NET Standard compatibility was

[2018-11-28 08:51] pprwght2 commented on #294
Switched to 2018.12.f1, it still didnt work properly under .Net Standard 2.0 but switching to .Net 4.x works everytime.

[2018-11-28 09:02] pprwght2 commented on #294
Well not everrytime, but overall there are less errors than in 2018.2.14, I gonna switch back to .Net Standard 2.0 and try looking into async/wait calls.

One more thing do you have any version suggestions for Parse server version, currently we are running on 2.2.25 but we have an easy option to upgrade up to 2.6.1, 2.7.2, 2.8.1, 2.8.2.

[2018-11-29 14:31] pprwght2 commented on #294
Testing 2.6.1 with Node.js 8.11 (advised by person in database business)

[2018-12-03 14:04] thibautvdu commented on #274
Hello everyone

I assume there are no input on this ?

The new standard for Xamarin cross-platform projects is now '.NET Standard', which makes the Nuget package (and last release's dll) incompatible. I've been struggling to find a solution.

Anyone using Parse with Xamarin here ?

[2018-12-03 16:56] Digi59404 commented on #274
Hey @thibautvdu - I’m using this on Xamarin. I’ve just added the dll as a reference in my forms project. I switch between iOS and Android dlls depending on the build.

[2018-12-03 17:20] thibautvdu commented on #274
@Digi59404 I'm really grateful for this tip. I just tried and that does the job. I was referencing those dlls directly from the Droid and iOS projects.

[2018-12-05 06:57] Digi59404 commented on #85
Hey, Bumping this up. It's been two years; This issue still exists.

[2018-12-05 11:55] flovilmart commented on #85
Do you have any idea how to resolve the issue? Have you conducted any particular experiments to identify it?

[2018-12-08 20:47] fayezsalka commented on #294
Ahhh...good old Parse giving us massive head aches. I managed to compile the library from my mac, but it has two problems:

- Task completion callback is inconsistent as mentioned above
- You can't stack query conditions on top of each other anymore. For example the following doesn't work:

query = ParseObject.GetQuery ("Songs").WhereEqualTo ("Genre", "Classic").WhereEqualTo ("Name", "Beethoven");

[2018-12-09 12:48] jjhii opened #300 "Xamarin project error System.EntryPointNotFoundException: GetModuleFileName"
When I add from the NuGet, I get the following error when attempt to retrieve data.  Using the standard release for .NET Core, the same code works fine.  I posted the issue on stack Overflow.

https://stackoverflow.com/questions/53683871/using-parse-netstandard2

[0:] System.AggregateException: One or more errors occurred. ---> System.EntryPointNotFoundException: GetModuleFileName
  at (wrapper ma

[2018-12-10 11:06] TobiasPott commented on #294
Actual an different issue as it looks to me, but i never checked that query thing that deep. Could you open a different issue on this, I'll think that will help to keep track of it and have a look asap.

[2018-12-13 14:57] pprwght2 commented on #294
Looks like Unitz 2018.3 with 4.x as default was released, downloading and testing soon.

[2018-12-13 15:01] flovilmart commented on #294
@TheFanatr @TobiasPott I invited you to the org and therefore you have commit access.

[2018-12-13 16:41] TheFanatr commented on #294
Hi, I have been quite busy for the past while, and so I have not been able to contribute to this much; sorry about that. For the next couple weeks I can help fix some issues and continue with what I was planning to do. The issue with Unity at the moment is that there is a bug somewhere in their .NET Standard provisioning library that is causing certain operations to inexplicably fail. I was trying

[2018-12-13 16:49] TheFanatr commented on #294
Just a side note to anyone trying to include Parse in their Unity projects: if you want to use .NET 4.x API compatibility mode instead of .NET Standard compatibility mode, then you have to provision the difference in API coverage manually, and until you do, Unity will say that the assembly is unsafe and/or doesn't work properly - because it won't - and so it will unload it. Last I checked, Unity's

[2018-12-13 16:53] TheFanatr commented on #294
I will check with the latest version of Unity later today to see if anything has changed.

[2018-12-13 17:19] fayezsalka commented on #294
Hello Everyone,

I managed to implement Parse into Unity 2018.2 without using a DLL, meaning that in the future if Unity deprecates some APIs the API updater should take care of it automatically, plus, you can do your own modifications to Parse inside Unity without having to compile a new DLL with each modification.

[https://github.com/fayezsalka/Parse-for-Unity-2018]

Tested with Unity 2018.2.19

[2018-12-13 17:34] TheFanatr commented on #294
@fayezsalka From inspecting this, it is just the Parse source as an asset package; can you confirm that logging in actually works, as I do not have a test environment set up for 2018.2.18f1. I have been able to get Parse working inside Unity before, but logging in did not work, so that was the limiting factor. Also, just a side note that Parse source from the master branch of this repository does

[2018-12-13 17:48] fayezsalka commented on #294
It's the parse source but with slight modifications so it runs inside Unity without being compiled to DLL.

I can confirm that ParseUser.LogInAsync works in my environment

[2018-12-13 17:55] TheFanatr commented on #294
Here's an interesting development: the bug in Unity was fixed, so my compiled DLL from my fork works perfectly on the exact same project I used a while ago that didn't work.

[2018-12-13 17:59] TheFanatr commented on #294
![image](https://user-images.githubusercontent.com/16641853/49957713-834dfb00-febd-11e8-90ce-e54bea041564.png)
![image](https://user-images.githubusercontent.com/16641853/49957757-a5e01400-febd-11e8-818a-5558015fc807.png)
That's just the direct build output from my fork that I copied to a folder in the Unity project. I'm going to try the source currently in the master branch.

[2018-12-13 18:01] TheFanatr commented on #294
Haven't completely verified, but I think that this issue fixed itself because Unity fixed their libraries.

[2018-12-13 18:06] TheFanatr commented on #294
@fayezsalka Just out of curiosity, which repo were you working out of when you made the asset package?

[2018-12-13 18:11] fayezsalka commented on #294
I used the old source code found here: https://github.com/parse-community/Parse-SDK-dotNET/releases/tag/1.7.0

I used It as it had non of the regressions found in the newer repos (at least in my case, queries with more than 100 results worked inconsistently, and staking query conditions on top of each also didn't work, which was a deal breaker)

[2018-12-13 18:21] TheFanatr commented on #294
@fayezsalka Interesting. Thanks for letting me know about the query stacking and mass-result failure issue; do you know if the same behaviour is experienced outside of Unity?

[2018-12-15 07:18] TheFanatr commented on #294
@fayezsalka I will open a new issue for this. Initially, though, I haven't been able to confirm your results. I have been able to reliably query a class with 200+ generated entries and limit the results count to various numbers over 100, with the operation still completing successfully. Do you have a specific test case you can provide? I feel that it is quite important that something as fundamenta

[2018-12-15 07:23] TheFanatr opened #301 "Querying Doesn't Work in Certain Conditions"
_Originally posted by @fayezsalka in https://github.com/parse-community/Parse-SDK-dotNET/issues/294#issuecomment-445488726_

Parse for Unity on iOS apparently cannot handle queries larger than 100, and query conditions are apparently sometimes ignored.

[2018-12-15 07:32] #296 closed

[2018-12-15 07:52] TheFanatr commented on #300
This issue is present because the .NET Standard 2.0 version of the Parse SDK tries to provide a single, mostly platform-agnostic, implementation of all the APIs Parse provides. One of those APIs attempts to cache data to the device that the code is running on. The problem is that on most platforms, the persistent storage location is somewhere public, so anything stored needs to be named according

[2018-12-15 11:02] TheFanatr commented on #301
Can confirm that chained "where clauses" will only be respected if they are the last in the chain, but cannot reproduce issue where querying for many objects fails (tested on randomly-generated 252-object dataset).

[2018-12-15 12:17] TheFanatr commented on #301
I have a testing environment set up where I can create as many objects as needed, no need to create one; I will test for the issue within the described parameters. I have also implemented a fix for the chaining bug in my fork. I will likely merge it with master soon.

[2018-12-16 07:31] TheFanatr commented on #293
If this is still an issue, could you please provide a code sample? I'm not aware of any issue that would cause object duplication. I think the issue is with your logic here, but I may be misunderstanding your intentions; when you say "for each result", do you mean for each result received from a query operation? Because if so, any query result already "exists" so I don't really understand what you

[2018-12-16 07:35] TheFanatr commented on #301
I randomly generated 400 objects in one class, each with 3 fields containing 600 randomly-generated characters as a string, a randomly-generated integer, and a randomly-generated boolean value. I executed various queries on the class, some with results over 200, tried querying the whole thing, and imposed all sorts of arbitrary restrictions, but it worked successfully every time.

[2018-12-16 07:38] TheFanatr commented on #301
Here is an example datapoint:
[code]

[2018-12-18 07:11] TheFanatr commented on #301
@fayezsalka I tried again, but this time with 500+ objects, with each one containing a string exactly 1000 characters in length, and a couple of other fields again. I have not seen any inconsistencies in querying performance or task completion, so I am going to assume that this was either due to how the Parse SDK interacts with the specific version of Parse server you are targeting, and/or somethi

[2018-12-18 07:11] #301 closed

[2018-12-19 06:08] TheFanatr commented on #300
Hello @BillNewton-fxPress

[2018-12-19 06:31] TheFanatr commented on #300
If that still does not work, you can try setting the `VersionInformation` property on the `Configuration` struct to the version of your application, so that it does not need to be inferred either, in case that is the problem.

[2018-12-20 04:40] sidiabale commented on #300
I'm facing this same problem as mentioned above. I',m considering using Parse as backend for a Xamarin.Forms project I'm working on but it's not clear to me at this point what the state/future of this SDK is :(

On NuGet, I see the [Parse.NETStandard2](https://www.nuget.org/packages/Parse.NETStandard2/2.0.0) package which seems to be a fork of @TheFanatr fork. However, I don't see an official rele

[2018-12-20 07:51] sidiabale commented on #300
An update: In the meantime, I figured out that all calls `Assembly.GetEntryAssembly()...` cause a NullReferenceException as mentioned by @BillNewton-fxPress  above. A quick search online suggests that getting platform-specific data such as app name and version info requires native code but I'm not 100% sure if we can work around that via the Assembly.

Anyway my primary finding is that the code to

[2018-12-21 05:36] TheFanatr commented on #300
Hi @sidiabale, as you have pointed out, the code that infers metadata about the assembly does not always execute successfully; that is a side effect of how certain platforms compile the application that is using the Parse SDK, and/or a bug in those platforms' implementations of certain .NET Standard 2.0 APIs. The NuGet package called `Parse.NETStandard2` is some derivative work of the master branc

[2018-12-21 08:13] TheFanatr commented on #300
I also plan to eventually make Parse compatible with server-side environments by making certain APIs instantiable instead of static, allowing for code patterns that more easily deal with multiple logged-in users, and other necessities for this use case.

[2018-12-21 11:40] flovilmart commented on #300
@TheFanatr you refer to your fork, do you plan to take over this repository or should we close it and say that you maintain now a .Net SDK?

[2018-12-21 14:32] TheFanatr commented on #300
I'd be happy to take over if that is an option; I was working out of a fork because I only recently gained commit access to this repository. I have a pull request to put all my changes into master, which I am leaving up for around 24 hours, but afterwards I can simply work out of feature branches. I'd also appreciate access to the repository settings if I will be taking over so I can change up the

[2018-12-23 08:08] sidiabale commented on #300
@TheFanatr Thanks for the clarification! Also glad to see that there's effort to move forward with this repository. Speaking about the Parse.NETStandard2 that's on NuGet. I suspect it was created by [JonMcPherson](https://github.com/JonMcPherson/Parse-SDK-dotNET) based on a fork of this repo (with your changes at that point). I just sent him the following message via NuGet:

As I already mentioned

[2018-12-24 14:30] stephenhauck opened #303 "Isuues with PCL version 1.7"
I am using VS 2017 Community 15.9.3
I have a Xamarin.Forms .NET standard app targeting iOS and Android
I can add the reference just fine even without the compatibility entry.
I can compile fine too ...
As soon as I add Parse code to the .NET standard project in a class the Android project fails to find the .NET Standard project reference OR Parse on compile ?

Here is the error ..
Severity	Code	De

[2018-12-24 16:06] stephenhauck commented on #303
I found this ... anyone having an issue similar to mine ?
https://stackoverflow.com/questions/45569378/upgrading-to-net-core-2-0-packagetargetfallback-and-assettargetfallback-cannot

[2018-12-24 22:55] TheFanatr commented on #303
To clarify, are you using the official Parse SDK 1.7 off NuGet? If so, could you try removing the reference and adding it again, then cleanin. The project? Also, note that if you are referencing version 1.7 from a .NET Standard library, you must reference the platform-specific package for the project that uses that library.

[2018-12-24 23:02] TheFanatr commented on #303
Note that the platform-specific packages are not on NuGet and need to be built from source. There may be a better way to do this such as referencing Parse from both the library and the project that uses it and making sure that Xamarin doesn't strip it out.

[2018-12-27 01:37] TheFanatr commented on #303
Yes, it should have. To clarify, does it work as expected on iOS? Could you attempt to build only that project and see if it runs? I will look into testing this myself. Temporarily, however, you could try simply implementing your business logic as utility and/or extension methods in the common, library, referencing Parse, but not initializing it, then just referencing those methods where needed in

[2018-12-27 01:49] stephenhauck commented on #303
I will try to run it just on iOS.
I has been .NET standard from the start.
I tried to use the .NET standard version but it seems to not be ready for prime time yet.

Stephen

[2018-12-27 21:08] BillNewton-fxPress commented on #300
@TheFanatr  Thanks for the update.
I am indeed having problems setting the VersionInformation property on the configuration struct.
My init function in Mainactivity.cs is now

        void InitialiseParse(){
            //Parse Settings
            try
            {
                var storageConfiguration = new ParseClient.Configuration.IdentifierBasedStorageConfiguration { Identifier = context.P

[2018-12-28 06:00] TheFanatr commented on #299
@WalGallen-Baktun I will be closing this issue now. If needed, you can request for it to be reopened for you.

[2018-12-28 06:00] #299 closed

[2018-12-28 06:04] TheFanatr commented on #300
Hi @BillNewton-fxPress, I will look into this as it seems like you are doing everything correctly yet it is still throwing an exception. Could you please post a stack trace?

[2018-12-29 00:19] BillNewton-fxPress commented on #300
Hi Alex
Thanks for looking at this.
I am running VS2017 for Mac on MacOS Mojave.
It does work fine on iOS but errors on Android.
It does seem to be the reflection issue mentioned above by @sidiabale.
Adding the Key does not make any difference.
Any call to Assembly.GetEntryAssembly() throws an error.
I will continue experimenting but not done c# for many years. Most recently worked with Objective

[2018-12-29 15:36] stephenhauck commented on #303
Sorry had family visiting.
I tried to run the iOS project.
It builds and runs but then throws the error below
I have version 1.7 referenced in both the .NET standard library and the iOS project.
_Unhandled Exception:

System.IO.FileNotFoundException: Could not load file or assembly 'Parse, Version=1.7.0.0, Culture=neutral, PublicKeyToken=ba48c3a442de616e' or one of its dependencies. occurred_

I p